<html>

	[% MACRO koh_tp BLOCK -%]
		<span class="cg">[% reportee.alias -%] - [% Coaches.item( reportee.coach_id ).alias -%]<br />
		[% reportee.name -%] - [% reportee.country -%]</span>
	
		<div style="white-space:nowrap">
			[% lang_blocks.tp.deadline -%] [% reportee.deadline -%]
		</div>
		<div style="background-color: #ffe; width: 33em;">
		[% IF reportee.prvs -%]PRP: [% reportee.prvs -%][% END -%]
		[% IF reportee.grp -%]GRP: [% reportee.grp -%][% END -%]
		TPP: [% reportee.tpp_formatted -%]
	 
		</div>
	[% END -%]
	
<head>
<title>[% lang_blocks.tp.tp_grp_title -%]</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link href="/css/partner/general.css" type="text/css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/css/vip-tree.css" />
	<link type="text/css" rel="stylesheet" href="/css/tpgroup.cgi.css" />

	<script type="text/javascript" src="/js/vip-tree.js"></script>
	<script type="text/javascript" src="/js/jquery.js"></script>
	<!--script type="text/javascript" src="/js/tipMap.js"></script-->


	</head><body style="margin:0">

<div class="container blue">      
   
<img width="288" height="84" alt="logo" style="margin:5px;" src="/images/partner/cs_logo.jpg" />
            <span style="margin-left:2em; color:white; vertical-align: 100%;">[% lang_blocks.tp.tp_grp_title_for -%] [% reportee.name -%] - [% reportee.alias -%]</span>
</div>

<div style="padding-left:0.5em;">
[% IF errors -%]<div >[% errors -%]</div>[% END -%]

	<p class="lgtext">[% lang_blocks.tp.tp_prompt1 -%]</p>
	<p class="lgtext">[% lang_blocks.tp.tp_prompt2 -%]
		<a style="font-weight:bold;white-space:nowrap;" href="/cgi/pireport.cgi?rid=[% reportee.id -%]">[% lang_blocks.tp.potential_income_report -%]</a>
	</p>
		
	<p><a href="/cgi/appx/upg?alias=[% reportee.alias -%]"><img src="/images/tp/startup_biz.png" alt="" /></a></p>

<!-- the one at the top of the tree we are displaying -->
	<table class="koh"><tr>

	<td class="reportingon">[% lang_blocks.welcome -%]:</td>
	<td class="koh">

	[% koh_tp -%]
	
	</td></tr></table>

<!-- this is where we put our tree table in -->
	[% tree_view -%]
</div>
	</body></html>