
div.search_container, div.keyword_container, input.print_button, div.introduction, tr.heading_two
{
	display: none;
}


table#print_container div.report_container
{
	float:left;
/*	width: none; */
	height: auto;
	max-height: none;
	line-height: 15px;
}

table#print_container div.report_container ul li
{
	display: block;
}
