body {
	background-color : White;
}
table.data{
	border: none;
}
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size : 60%;
	padding-left: 3px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
	border-left-color: #CCC;
	border-left-style : dotted;
	border-left-width : 1px;
	padding-top : 2px;
}

th {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 80%;
	text-align: left;
	font-weight: bold;
	padding-bottom: 4px;
	border-bottom-style: double;
	border-left-color: #CCC;
	border-left-style : dotted;
	border-left-width : 1px;
	padding-left: 3px;
}
tr.a{
	background-color: #F0F3FB;
}
tr.b{
	background-color: #EAFFF4;
}
input{
	font-size: 10px;
}