/* This sheet comprises the core styles of the remotely located Team Pages */
body {
	background-color: White;
	border: none;
}
img.wsp { border: 1px solid white }
a:hover { color: red }
a:hover img.wsp { border: 1px solid red }

.page_head { 
	text-align: center;
	font-size: 120%;
	font-weight: bold;
}

table#main_tbl {
	border-top: 1px solid gray;
	margin: 0px auto;
}

table#main_tbl td{
	vertical-align: top;
}

td#td_left{
}

td#td_right{
}

td#td_ctr{
	padding: 1em 1em;
	border-right: 1px solid silver;
	border-left: 1px solid silver;
	width: 50%;
}

iframe.left, iframe.right{
	border: none;
	height: 100%;
	width: 100%;
}

div.col_heading{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 90%;
	color: White;
	padding: 0.4em 0.2em;
	background-color: #001A53;
}

div.col_description{
	font-family: sans-serif;
	font-weight: normal;
	font-size: 70%;
}
table.new_vips {
	border-collapse: collapse;
}

td.country, td.name {
	font-family: sans-serif;
	font-size: 70%;
}
 
.spotlight {
	font-family: sans-serif;
	font-size: 75%;
}
td.country{ padding-left: 1em }

.upline_detail {
	/* this one is for the 'Coaches boxes with their email and webpage links 
	don't mess with the display attribute, it is managed by javascript*/
	border: 1px inset #ffc;
	font-size: 75%;
	margin: 0.3em;
	padding: 0.3em;
}

.exec_heading, .coach_heading {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 75%;
 font-weight: bold;
 background-color: #eee;
 margin: 1px;
 padding: 0.1em 0.2em;
}

.coach_lbl {
  font-size: 90%;
  font-family: Arial, Helvetica, sans-serif;
}

.fp_gray_bg {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 70%;
	padding: 0.4em 0.2em;
	background-color: #eee;
}

.role_aggs {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 70%;
	padding: 0.4em 0.2em;
	background-color: #eee;
}

.default {
	font-family: sans-serif;
	font-size: 75%;
}

/* the container for the Builder, currently used under each new VIP listing */
td.builder {
	padding-left: 1em;
	font: italic 65% Verdana,Geneva,sans-serif;
}

