/* Xml Theme CSS */

/* ********* ********* ********* ********* ********* 
BODY STYLES
Here we add styles for the BODY background and padding
and we can define styles for the hyperlinks
to make sure there are visible
*/
body { filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#000033', EndColorStr='#99ccff'); background-color: #6699cc; padding: 10px; }
A:link { }
A:visited { }
A:hover { }
A:active{ }

/* ********* ********* ********* ********* ********* 
These styles supply the global styles for the
calendar container, the headers, the Prev and Next
month selectors, the individual weekdays, the date
number and finally individual events
*/
.scCalendar { }
.scHeader { font: bold 10pt verdana; color: #ffffff; padding: 5px; }
.scMonthDropdown { width:150px; }
.scYearDropdown { width:150px; }
.scSelector { font: bold 14pt verdana; }
.scFilter { font: bold 10pt verdana; color: #ffffff; padding: 5px; }
.scWeekNumber { font: bold 10pt verdana; color: #ffffff; padding: 5px; }
.scWeekday { font: 8pt verdana; height:100%; overflow: hidden;}
.scEvent { padding: 2px; }
.scPopup { position: absolute; top: 100px; left: 100px; width: 500px; height: 500px; border: 5px solid #336699; background-color:#336699; color: #ffffff; text-align: right; display:none; }
.scToday { font: bold 9pt verdana; }

/* ********* ********* ********* ********* ********* 
WEEKDAY STYLES
These classes handle the style for an entire date
based on Past, Present or Future
NOTE: These values will be overridden by identical style elements in scWeekday
*/
.scDateDead { background-color: transparent; color: #000000; }
.scDatePast { background-color: #e0e0e0; color: #000000; }
.scDateCurrent { background-color: #ffffc0; color: #666633; }
.scDateFuture { background-color: #ffffff; color: #000000; }

/* ********* ********* ********* ********* ********* 
EVENT STYLES
These classes handle the Background and Foreground
colors for individual events
NOTE: These values will be overridden by identical style elements in scEvent
*/
.scEventRed { background-color: #ff6666; color: #000000; }
.scEventYellow { background-color: #ffff99; color: #000000; }
.scEventOrange { background-color: #ffa000; color: #000000; }
.scEventGreen { background-color: #99ff99; color: #000000; }
.scEventBlue { background-color: #99ccff; color: #000000; }
.scEventPurple { background-color: #ff99ff; color: #000000; }
.scEventBlack { background-color: #000000; color: #ffffff; }

/* ********* ********* ********* ********* ********* 
DATE NUMBER STYLE
This class applies to the date number in a cell
*/
.scNumber { font: bold 9pt verdana; color: #000000; }

/* ********* ********* ********* ********* ********* 
HANDLER STYLE
These classes are used by the scHandlr.js
*/
.sconMouseOver { }

