/* Original Theme CSS */

/* ********* ********* ********* ********* ********* 
BODY STYLES
Here we add styles for the BODY background and padding
and we can define styles for the hyperlinks
to make sure there are visible
*/
body { background: #1b1b1b; }
A:link { }
A:visited { }
A:hover { }
A:active{ }

/* ********* ********* ********* ********* ********* 
These styles supply the global styles for the
calendar container, the headers, the Prev and Next
month selectors, the individual weekdays, the date
number and finally individual events
*/
.scCalendar {
	font-stretch: normal;
	background-image: url(../../../Images/fall_lvs.jpg);
}

.scHeader {
	font: bold 9pt verdana;
	color: #ffffff;
	padding: 5px;
	background: #1b1b1b;
	width: inherit;
	border: 1px solid #1b1b1b;
}
.scFilter {
	font: bold 10pt verdana;
	color: #ffffff;
	padding: 5px;
}
.scSelector {
	font: bold 12pt verdana;
}
.scWeekNumber {
	font: bold 10pt verdana;
	color: #ffffff;
	padding: 5px;
	text-align: right;
}
.scWeekday {
	font: 8pt verdana;
	height: 100%;
	overflow: visible;
	text-align: left;
	border: 1px solid #1b1b1b;
}
.scEvent { padding: 2px; }
.scPopup { position: absolute; top: 100px; left: 100px; width: 500px; height 500px; border: 5px solid #9CCE9C; background-color:9CCE9C; color: #ffffff; text-align: right; display:none; }
.scToday { font: bold 9pt verdana; }

/* ********* ********* ********* ********* ********* 
WEEKDAY STYLES
These classes handle the style for an entire date
based on Past, Present or Future
NOTE: These values will be overridden by identical style elements in scWeekday
*/
.scDateDead { color: #0033FF; }
.scDatePast { background-color: #e0e0e0; color: #000000; }
.scDateCurrent { background-color: #ffffc0; color: #666633; }
.scDateFuture { background-color: #ffffff; color: #000000; }

/* ********* ********* ********* ********* ********* 
EVENT STYLES
These classes handle the Background and Foreground
colors for individual events
NOTE: These values will be overridden by identical style elements in scEvent
*/
.scEventRed { background-color: #ff6666; color: #000000; }
.scEventYellow { background-color: #99DA6D; color: #000000; }
.scEventOrange {
	background-color: #E16724;
	color: #000000;
	font-weight: bold;
}
.scEventGreen { background-color: #99ff99; color: #000000; }
.scEventBlue { background-color: #97ABD0; color: #000000; }
.scEventPurple { background-color: #ff99ff; color: #000000; }
.scEventBlack { background-color: #000000; color: #ffffff; }

/* ********* ********* ********* ********* ********* 
DATE NUMBER STYLE
This class applies to the date number in a cell
*/
.scNumber {
	font: bold 9pt verdana;
	color: #000000;
	text-align: right;
}

/* ********* ********* ********* ********* ********* 
HANDLER STYLE
These classes are used by the scHandlr.js
*/
.sconMouseOver { }


/* ********* ********* ********* ********* ********* 
CUSTOM STYLE
*/
.scEventChristmas {
	background-color: #E16724;
	color: #000000;
	font-weight: bold;
	background-image: url(../../../Images/Holiday_candle.jpg);
}
.scEventThanks {
	background-color: #E16724;
	color: #000000;
	font-weight: bold;
	background-image: url(../../../Images/Thanksgiving.jpg);
}
.scEventColumbus {
	background-color: #E16724;
	color: #000000;
	font-weight: bold;
	background-image: url(../../../Images/columbus.jpg);
}
.scEventHalloween {
	background-color: #E16724;
	color: #000000;
	font-weight: bold;
}
