body {
	background-color:white;
	background-image:none;
} 

table#content_container ul
{
	list-style: none;
	margin-left: 0;
	padding-left: 0;

}

table#content_container ul li
{
	padding-bottom: .75em;
}

table#content_container ul li input
{
	margin-right:	.75em;
}
