body {
	background-color: #245923;
	color: black;
	margin-top: 0;
}
/* the one that wraps up everything */
table#container {
	width: 1000px;
	border-collapse: collapse;
	border-top: 0;
	margin-right: auto;	/* these two center the table */
	margin-left: auto;
	background-color: #FFFFFF;
}

td {border-width: 0; padding: 0;}
td#banner {border-bottom: 3px double #9191E3;}
td#banner h1 {color:#003399;
  margin: 0; padding: 0.25em 0 0.125em 0;
  font: bold 110%  Arial,san-serif;
  }
  
td#main {
    background-color: white;
    color: black;
    padding: 1em;
    font: smaller Verdana, Arial,san-serif;
    vertical-align:top;
	border-right: 1px solid #9191E3;
}
td#main h2 {
    font: bold 15px  Verdana, Arial, sans-serif;
    margin: 0.5em 1em;
    padding: 0;
    border-bottom: 1px solid #FFCC00;
    vertical-align:top;
	color: #9C6331;

}
td#main h5 {
    font: bold 12px  Verdana, Arial, sans-serif;
    margin: 0.5em 1em;
    padding: 0;
     vertical-align:top;
	color: Green;
}
td#main p {margin: 1em 2.5em;}
td#sidelinks {
    vertical-align: top;
    border-right: 1px solid #FFCC00;
    width: 167px;
	color: #006300;
	font-weight: bold;
	background-color: White;
	
}
td#footer {background-color: #0033CC;
  border-top: 1px ;
  text-align: right; font-size: 85% ;
  padding-top: 0.03em; font-style: italic bold; color:#FFFFFF;}

td#main a{font-family:  Verdana, Arial, san-serif;
font-size: small;
font-weight: normal;
color: #000000;
text- align: center;
}
p.a{font-family: Arial, san-serif;
font-size: smaller;
}

/* menu styles */
td#sidelinks a {
	display: block;
	margin: 0 3px 0 0;
	padding: 1px 10px 1px 5px;
	text-decoration: none;
	font: normal smaller Arial, Verdana, sans-serif;
	color: #006300;
	font-weight: bold;
	background: transparent;
}
td#sidelinks a:visited {color: green;
}
td#sidelinks h5 {background-color: #CEFF9C; color: #000000;
  margin: 0 3px 0 0; padding: 1em 0 0;
  font: bold small Arial,Verdana, sans-serif ;
  border-bottom: 1px solid #0033CC;
}
td#sidelinks h4 {
	background-color: #006300;
	color: White;
	margin: 0 3px 0 0;
	padding: 1em 0 0;
	font: bold small Arial, Verdana, sans-serif ;
	border-bottom: 1px solid #FFFFA8;
}
td#sidelinks a:hover {
    background-color: #E6F3B6;
    color: #CE6300;
    border-right: 7px solid #CE6300;
    padding-right: 7px;
    margin-right: 0;
    height : auto;
}
td#sidelinks a#comment {
  background-color: rgb(100%,92%,90%); color: black;
  border: 1px solid rgb(60%,50%,40%);
  border-right-width: 4px; padding-right: 7px;
  margin-right: 3px;}
p.a{font: normal small  Verdana, Arial, sans-serif;
}
p.b{font: bold small Arial,Verdana, sans-serif;
}
img.b {margin: 0 10px}