/* the styles dedicated to the category drilling components */

#CategoryNavigation { /* our module master container - no special styling needed right now */
}

.catMenuBox {	/* the outer containers for the category lists */
		position:absolute;
		left: -2000px;
		background-color: white;
		border: 1px solid blue;
	}
	
#catlist0 {		/* specifically the outer container for the root list */
		/* initial settings */
		top:5px;
	}
	
ul.catlist {	
		font: normal 75% arial,helvetica,sans-serif;
		margin: 0;
		padding: 0.5em;
		list-style-type: none;
	}
	
ul.catlist li a {
	color:navy;
	text-decoration: none;
}
	
ul.catlist li a:hover {
		background-color: #ffff80;
	}

li.odd { background-color: #fff; }
li.even { background-color: #d3e0eb; }

a.MenuBoxCloser {	/* our anchor for closing a category list box */
	display:block;
	text-align:right;
	font: bold 70% arial,helvetica,sans-serif;
	background-color:#bed0ef;
	border-bottom: inherit;
	text-decoration: none;
}
	
a.MenuBoxCloser:hover { color:red; }

/* when we click on a category expander,
	we hilight the category clicked and leave it highlighted */
li.highlighted-category {
	background-color: #ffc;
}

a.catexpander {
	margin-right: 4px;
}
a.catexpander img {
	border: 0;
	margin-bottom: 2px;
}

a.push-right {	/* when a category has no children, we need to push it right to line up with those that do have children */
	margin-left: 12px;
}
