html {
height : 100%;
}
body {
height : 100%;
color : #a4a4a4;
cursor : default;
font-size : 11px;
line-height : 16px;
text-align : center;
font-family : Tahoma, sans-serif;
}
.Text_Content {	
    line-height: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #474747;
}
.Text_Body_Content {	margin-bottom: 15px;
    line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.Text_Content_bold { font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #474747;
}
.Text_Content_heighlight {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #A35912;
	text-transform: uppercase;
	font-weight:bold;
}
.registration_TextField {
	background-color:#FFFFFF;
	border:1px solid #999999;
	color:#666666;
	font-family:verdana,sans-serif;
	font-size:10px;
}
li.checkbullet{  
	list-style: url(images/icons/icon_checkmark.png); 
	VERTICAL-ALIGN: super; 
	padding-bottom: 5px;
}
.style2 {	
	font-size: 12px;
	color: #666666;
}
.style5 {
	font-size: 12px;
	line-height: 18px;
	font-weight: bolder;
	color: #000000;
}
.style12 {
	font-size: 15px;
	font-family: verdana;
	color: #224C9B;
	font-weight:bold;
}
.style13 {
	font-size: 14px;
	font-family: verdana;
	color: #FFFFFF;
	font-weight:bold;
}
.text_orange {
	font-size: 12px;
	font-weight: bold;
	color: #EF8003;
}
.footer_copyright {	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #999999;
}
.nav_footer_white_padding:link {
    font-size: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
.nav_footer_white_padding:visited {
    font-size: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
.nav_footer_white_padding:hover {
    font-size: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #CCCCCC;
	text-decoration: underline;
}
.nav_footer_white_padding:active {
    font-size: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
.nav_orange:link {
    font-size: 12px;
	color: #EF8003;
	text-decoration: underline;
}
.nav_orange:visited {
    font-size: 12px;
	color: #EF8003;
	text-decoration: underline;
}
.nav_orange:hover {
    font-size: 12px;
	color: #EF8003;
	text-decoration: none;
}
.nav_orange:active {
    font-size: 12px;
	color: #EF8003;
	text-decoration: underline;
}
.nav_blue_line:link {
    font-size: 12px;
	color: #00529E;
	text-decoration: underline;
}
.nav_blue_line:visited {
    font-size: 12px;
	color: #00529E;
	text-decoration: underline;
}
.nav_blue_line:hover {
    font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.nav_blue_line:active {
    font-size: 12px;
	color: #00529E;
	text-decoration: underline;
}
.image_right_padding_only {
padding-right: 10px;
}
.style14 {
	font-size: 12px;
	font-family: verdana;
	color: #224C9B;
	font-weight:bold;
}
.registration_dropmenu {
    border-color: #977339;
	background-color: #FFFFFF;
	color: #666666;
	font-family: verdana;
	font-size: 8pt;
	border: 1px solid #999999;
	width: 210px;
}
.error
{
	background-color: #FFCCCC;
}

a:link, a:visited {
color : #fff;
}
a img {
border : 0;
}
div.wrap {
width : 903px;
margin : 0 auto;
text-align : left;
}
div#top div#nav {
float : left;
clear : both;
width : 903px;
height : 52px;
margin : 22px 0 0;
}
div#top div#nav ul {
float : left;
width : 700px;
height : 52px;
list-style-type : none;
}
div#nav ul li {
float : left;
}
div#nav ul li a {
border : 0;
height : 17px;
display : block;
line-height : 17px;
text-indent : 0px;
}
div#header {
margin : -1px 0 0;
}
div#header2 {
margin : -1px 0 0;
}
div#video-header {
height : 683px;
margin : -1px 0 0;
}
div#header div.wrap {
height : 190px;
background : url(/cs/images/gallery/header-bg.png) no-repeat 50% 0;
}
div#header2 div.wrap {
height : 190px;
}
div#header div#slide-holder {
z-index : 40;
width : 903px;
height : 190px;
position : absolute;
}
div#header2 div#slide-holder {
z-index : 40;
width : 903px;
height : 190px;
position : absolute;
}
div#header div#slide-holder div#slide-runner {
top : 9px;
left : 9px;
width : 885px;
height : 194px;
overflow : hidden;
position : absolute;
}
div#header2 div#slide-holder div#slide-runner {
top : 9px;
left : 9px;
width : 885px;
height : 194px;
overflow : hidden;
position : absolute;
}
div#header div#slide-holder img {
margin : 0;
display : none;
position : absolute;
}
div#header2 div#slide-holder img {
margin : 0;
display : none;
position : absolute;
}
/*Semi-Transparent Headerbar*/
div#header div#slide-holder div#slide-controls {
left : 0;
bottom : 155px;
width : 886px;
height : 46px;
display : none;
position : absolute;
background : url(/cs/images/gallery/slide-bg.png) 0 0;
}
div#header2 div#slide-holder div#slide-controls {
left : 0;
bottom : 155px;
width : 905px;
height : 46px;
display : none;
position : absolute;
background : url(/cs/images/gallery/slide-bg.png) 0 0;
}
/*Scroller Text WHITE BOLD*/
div#header div#slide-holder div#slide-controls p.text {
float : left;
color : #fff;
display : inline;
font-size : 12px;
line-height : 14px;
margin : 15px 0 0 20px;
text-transform : uppercase;
}
div#header2 div#slide-holder div#slide-controls p.text {
float : left;
color : #fff;
display : inline;
font-size : 12px;
line-height : 14px;
margin : 15px 0 0 20px;
text-transform : uppercase;
}
div#header div#slide-holder div#slide-controls p#slide-nav {
float : right;
height : 24px;
display : inline;
margin : 11px 15px 0 0;
}
div#header2 div#slide-holder div#slide-controls p#slide-nav {
float : right;
height : 24px;
display : inline;
margin : 11px 15px 0 0;
}
div#header div#slide-holder div#slide-controls p#slide-nav a {
float : left;
width : 24px;
height : 24px;
display : inline;
font-size : 11px;
margin : 0 5px 0 0;
line-height : 24px;
font-weight : bold;
text-align : center;
text-decoration : none;
background-position : 0 0;
background-repeat : no-repeat;
}
div#header div#slide-holder div#slide-controls p#slide-nav a.on {
background-position : 0 -24px;
}
div#header div#slide-holder div#slide-controls p#slide-nav a {
background-image : url(/cs/images/gallery/silde-nav.png);
}

div#header2 div#slide-holder div#slide-controls p#slide-nav a {
float : left;
width : 24px;
height : 24px;
display : inline;
font-size : 11px;
margin : 0 5px 0 0;
line-height : 24px;
font-weight : bold;
text-align : center;
text-decoration : none;
background-position : 0 0;
background-repeat : no-repeat;
}
div#header2 div#slide-holder div#slide-controls p#slide-nav a.on {
background-position : 0 -24px;
}
div#header2 div#slide-holder div#slide-controls p#slide-nav a {
background-image : url(/cs/images/gallery/silde-nav.png);
}

/* This doesn't seem to exist.  */
/* div#nav ul li a { background : url(../../images/gallery/nav.png) no-repeat; } */
