body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
body,td,th {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #708090;
}
.Nav_Footer:link {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:normal;
	text-decoration: underline;
}
.Nav_Footer:visited {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:normal;	
	text-decoration: underline;
}
.Nav_Footer:hover {
	color: #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:normal;
	text-decoration: none;
}
.Nav_Footer:active {
	color: #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:normal;	
	text-decoration: underline;
}
.Footer_CopyRight {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
}
.Header_White_Bold {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:bold;
}
.White_Large_Normal {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight:normal;
}
.Grey_Light_Bold_10 {
	color: #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;
}
.White_Light_Bold_10 {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;
}
.Grey_Light_Regular_11_Italic {
	color: #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style:italic;
}
.Footer_Grey_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
	font-weight:bold;
}
.Footer_Grey_Regular {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
}
.Nav_Footer_Contact:link {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}
.Nav_Footer_Contact:visited {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}
.Nav_Footer_Contact:hover {
	color: #FFCC66;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	text-decoration: none;
}
.Nav_Footer_Contact:active {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	text-decoration: none;
}
.Nav_ShareThis:link {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: none;
}
.Nav_ShareThis:visited {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: none;
}
.Nav_ShareThis:hover {
	color: #FFCC66;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;	
	text-decoration: none;
}
.Nav_ShareThis:active {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;	
	text-decoration: none;
}
/* Bullets */
UL {
/*	LIST-STYLE-IMAGE: url(images/icons/icon_bullet.png); */
	VERTICAL-ALIGN: super;
}
.Image_Padding_Left {padding-left: 10px;
}	
.Nav_Footer_White:link {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
}
.Nav_Footer_White:visited {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
}
.Nav_Footer_White:hover {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;	
	text-decoration: none;
}
.Nav_Footer_White:active {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
}
.Footer_Nav_Header_Grey_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing:0.1em;
	color: #999999;
	font-weight:bold;
}
.Grey_Large_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #999999;
	font-weight:bold;
}
.Red_Large_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #8C0000;
	font-weight:bold;
}
.Blue_Large_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #004A95;
	text-transform: uppercase;
	font-weight:bold;
}
.Blue_Large_Bolder a {
	font-family:  Arial, Verdana,Helvetica, sans-serif;
	font-size: 12px;
	color: #004A95;
	text-transform: uppercase;
	font-weight:bold;
	text-decoration: none;
}

.Orange_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FC8B08;
	text-transform: uppercase;
	font-weight:bold;
}
.Orange_Large_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FC8B08;
	text-transform: uppercase;
	font-weight:bold;
}
.Orange_Large_11 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FC8B08;
	text-transform: uppercase;
	font-weight:bold;
}
.Header_Dark_Grey_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #666666;
	font-weight:bold;
}
.Dark_Grey_Bold_Regular_Text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	letter-spacing:0.1em;
	color: #666666;
	font-weight:bold;
}
.Dark_Grey_Bold_Regular_text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing:0.1em;
	color: #666666;
	font-weight:bold;
}
.Header_Red_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #8C0000;
	font-weight:bold;
}
.Red_Bold_Regular_Text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing:0.1em;
	color: #8C0000;
	font-weight:bold;
}
.Blue_Bold_Regular_Text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing:0.1em;
	color: #00366E;
	font-weight:bold;
}
.Brown_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing:0.1em;
	color: #8C0000;
	font-weight:bold;
}
.Blue_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #001952;
	font-weight:bold;
}
.Green_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #779724;
	font-weight:bold;
}
.Green_Bold_Regular_Text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing:0.1em;
	color: #779724;
	font-weight:bold;
}
.Green_Large_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #779724;
	font-weight:bold;
}
.Nav_Footer_Grey_Light:link {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
	padding-left: 15px;
}
.Nav_Footer_Grey_Light:visited {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
	padding-left: 15px;
}
.Nav_Footer_Grey_Light:hover {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;	
	text-decoration: none;
	padding-left: 15px;
}
.Nav_Footer_Grey_Light:active {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
	padding-left: 15px;
}
.Nav_Footer_Grey_Light_No_Padding:link {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
}
.Nav_Footer_Grey_Light_No_Padding:visited {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
}
.Nav_Footer_Grey_Light_No_Padding:hover {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;	
	text-decoration: none;
}
.Nav_Footer_Grey_Light_No_Padding:active {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
}
.Nav_SubHeader_Grey:link {
	color: #94B92D;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
	line-height: 45px;
}
.Nav_SubHeader_Grey:visited {
	color: #94B92D;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
	line-height: 45px;
}
.Nav_SubHeader_Grey:hover {
	color: #94B92D;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;	
	text-decoration: none;
	line-height: 45px;
}
.Nav_SubHeader_Grey:active {
	color: #94B92D;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
	line-height: 45px;
}
#pscroller1{
	height: 40px;
	padding: 5px;
	padding-left: 15px;
	background-color: #E3F0C1;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CECECE;
	border-bottom-color: #CECECE;
}

.someclass{
	/*class to apply to your scroller(s) if desired*/
}
/*Scroller END*/

.Nav_Signin_White:link {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	padding-right: 15px;
}
.Nav_Signin_White:visited {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	padding-right: 15px;
}
.Nav_Signin_White:hover {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;	
	text-decoration: none;
	padding-right: 15px;
}
.Nav_Signin_White:active {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
    padding-right: 15px;
}
.Nav_Signin_Yellow:link {
	color: #FEDD80;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	padding-right: 15px;
}
.Nav_Signin_Yellow:visited {
	color: #FEDD80;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	padding-right: 15px;
}
.Nav_Signin_Yellow:hover {
	color: #FEDD80;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;	
	text-decoration: none;
	padding-right: 15px;
}
.Nav_Signin_Yellow:active {
	color: #FEDD80;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
    padding-right: 15px;
}

/*Form Login START*/	
.registration_TextField {
    border-color: #977339;
	background-color: #FFFFFF;
	color: #666666;
	font-family:  Verdana,Arial,Helvetica,sans-serif;
	font-size: 8pt;
	border: 1px solid #999999;
	width: 160px;
}	
.registration_dropmenu {
    border-color: #977339;
	background-color: #FFFFFF;
	color: #666666;
	font-family:  Verdana,Arial,Helvetica,sans-serif;
	font-size: 8pt;
	border: 1px solid #999999;
	width: 189px;
}
/*Form Login END*/	

.Nav_Sitemap:link {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	text-decoration: underline;
}
.Nav_Sitemap:visited {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
}
.Nav_Sitemap:hover {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	text-decoration: none;
}
.Nav_Sitemap:active {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
}
.Nav_Scroller_Green:link {
	color: #779724;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;	
	text-decoration: underline;
	padding-right: 15px;
}
.Nav_Scroller_Green:visited {
	color: #779724;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;	
	text-decoration: underline;
	padding-right: 15px;
}
.Nav_Scroller_Green:hover {
	color: #779724;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;	
	font-weight:bold;	
	text-decoration: none;
	padding-right: 15px;
}
.Nav_Scroller_Green:active {
	color: #779724;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;	
	text-decoration: underline;
    padding-right: 15px;
}
.Nav_Scroller_Green_Regular_11:link {
	color: #054305;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
	padding-right: 15px;
}
.Nav_Scroller_Green_Regular_11:visited {
	color: #054305;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
	padding-right: 15px;
}
.Nav_Scroller_Green_Regular_11:hover {
	color: #054305;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	font-weight:normal;	
	text-decoration: none;
	padding-right: 15px;
}
.Nav_Scroller_Green_Regular_11:active {
	color: #054305;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
    padding-right: 15px;
}
.Nav_Red:link {
	color: #CC0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	text-decoration: underline;
}
.Nav_Red:visited {
	color: #CC0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
}
.Nav_Red:hover {
	color: #CC0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	text-decoration: none;
}
.Nav_Red:active {
	color: #CC0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
}
.Nav_Grey_Spacing_Bold:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #666666;
	font-weight:bold;
	text-decoration: underline;
}
.Nav_Grey_Spacing_Bold:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #666666;
	font-weight:bold;
	text-decoration: underline;
}
.Nav_Grey_Spacing_Bold:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #666666;
	font-weight:bold;
	text-decoration: none;
}
.Nav_Grey_Spacing_Bold:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #666666;
	font-weight:bold;	
	text-decoration: underline;
}	
.Nav_Green_Plain:link {
	color: #779724;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;	
	text-decoration: underline;
}
.Nav_Green_Plain:visited {
	color: #779724;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;	
	text-decoration: underline;
}
.Nav_Green_Plain:hover {
	color: #779724;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	font-weight:bold;	
	text-decoration: none;
}
.Nav_Green_Plain:active {
	color: #779724;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;	
	text-decoration: underline;
}
.g {
	background-color: #E8EFCF;
}
.Nav_Countries:link {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	text-decoration: underline;
}
.Nav_Countries:visited {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
}
.Nav_Countries:hover {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	text-decoration: none;
}
.Nav_Countries:active {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
}
.Nav_Countries_Padding_Red_Left_Bold:link {
	color: #8C0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	padding-left: 20px;
	text-decoration: underline;
}
.Nav_Countries_Padding_Red_Left_Bold:visited {
	color: #8C0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;	
	padding-left: 20px;
	text-decoration: underline;
}
.Nav_Countries_Padding_Red_Left_Bold:hover {
	color: #8C0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	padding-left: 20px;
	text-decoration: none;
}
.Nav_Countries_Padding_Red_Left_Bold:active {
	color: #8C0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;	
	padding-left: 20px;
	text-decoration: underline;
}
.Nav_Countries_Red_Left_Bold:link {
	color: #8C0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	text-decoration: underline;
}
.Nav_Countries_Red_Left_Bold:visited {
	color: #8C0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;	
	text-decoration: underline;
}
.Nav_Countries_Red_Left_Bold:hover {
	color: #8C0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;
}
.Nav_Countries_Red_Left_Bold:active {
	color: #8C0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;	
	text-decoration: underline;
}
.Jump_Menu_Language {
	background-color: #fca541;
	color: #FFFFFF;
	font-weight:bold;
	font-size: 8pt;
	font-family: verdana;
	width: 120px;
	border: none;
}
.Jump_Menu_Loginn {
	background-color: White;
	color: #FF6300;
	font-weight:bold;
	font-size: 8pt;
	font-family: verdana;
	width: 120px;
	border: none;
}
.Jump_Menu_Mall {
	background-color: #085cb0;
	color: #FFFFFF;
	font-weight:bold;
	font-size: 8pt;
	font-family: verdana;
	width: 140px;
	border: none;
}
.Movie_Header{	
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #999999;
	font-weight:bold;
    font-style: italic;
}
.Movie_Header_Pop{	
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #999999;
	font-weight:bold;
    font-style: italic;
}
.Nav_Login:link {
	color: #FCA640;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;
	padding-left: 10px;
	text-decoration: underline;
}
.Nav_Login:visited {
	color: #FCA640;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;
	padding-left: 10px;
	text-decoration: underline;
}
.Nav_Login:hover {
	color: #FEDD80;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;
	padding-left: 10px;	
	text-decoration: none;
}
.Nav_Login:active {
	color: #FCA640;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;
	padding-left: 10px;
	text-decoration: underline;
}
/*Form START*/	
.hButton {background-color: #224C9B;
border-color: #CCCCCC;
border-style: solid;
border-width: 1px;
color: #FFFFFF;
font-size: 12px;
font-family: verdana;
font-weight: lighter;
}
.Contact_TextField {
    border-color: #977339;
	background-color: #FFFFFF;
	color: #666666;
	font-family: verdana;
	font-size: 8pt;
	border: 1px solid #FFCC66;
	width: 170px;
}	
.registration_TextField_Short {
    border-color: #977339;
	background-color: #FFFFFF;
	color: #666666;
	font-family: verdana;
	font-size: 8pt;
	border: 1px solid #999999;
	width: 220px;
}
/*Contact Form START*/	


/*Rewards Page START*/
.Text_Content_bold { font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #474747;
}
.Text_Content_heighlight {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #A35912;
	text-transform: uppercase;
	font-weight:bold;
}
.Search_TextField {
	background-color:#FFFFFF;
	border:1px solid #999999;
	color:#666666;
	font-family:verdana,sans-serif;
	font-size:12px;
	width: 185px;
	height: 19px;
	vertical-align:middle;
}
li.checkbullet{  
	list-style: url(http://www.clubshop.com/cs/images/icons/icon_checkmark.png); 
	VERTICAL-ALIGN: super; 
	padding-bottom: 5px;
}
.style2 {	
	font-size: 12px;
	color: #666666;
}
.style5 {
	font-size: 12px;
	font-weight: bolder;
	color: #000000;
}
.style12 {
	font-size: 15px;
	font-family: verdana;
	color: #224C9B;
	font-weight:bold;
}
.style13 {
	font-size: 14px;
	font-family: verdana;
	color: #FFFFFF;
	font-weight:bold;
}
.text_orange {
	font-size: 12px;
	font-weight: bold;
	color: #EF8003;
}
.nav_footer_white_padding:link {
    font-size: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
.nav_footer_white_padding:visited {
    font-size: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
.nav_footer_white_padding:hover {
    font-size: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #CCCCCC;
	text-decoration: underline;
}
.nav_footer_white_padding:active {
    font-size: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
.nav_orange:link {
    font-size: 12px;
	color: #EF8003;
	text-decoration: underline;
}
.nav_orange:visited {
    font-size: 12px;
	color: #EF8003;
	text-decoration: underline;
}
.nav_orange:hover {
    font-size: 12px;
	color: #EF8003;
	text-decoration: none;
}
.nav_orange:active {
    font-size: 12px;
	color: #EF8003;
	text-decoration: underline;
}
.nav_blue_line:link {
    font-size: 12px;
	color: #00529E;
	text-decoration: underline;
}
.nav_blue_line:visited {
    font-size: 12px;
	color: #00529E;
	text-decoration: underline;
}
.nav_blue_line:hover {
    font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.nav_blue_line:active {
    font-size: 12px;
	color: #00529E;
	text-decoration: underline;
}
.image_right_padding_only {
padding-right: 10px;
}
.style14 {
	font-size: 12px;
	font-family: verdana;
	color: #224C9B;
	font-weight:bold;
}
.registration_dropmenu {
   border-color: #977339;
background-color: #FFFFFF;
color: #666666;
font-family: verdana;
font-size: 8pt;
border: 1px solid #999999;
width: 210px;
}
.error
{
	background-color: #FFCCCC;
}
.style24 {
	font-size: 12px;
	font-weight: bold;
	color: #2A5588;
}
.Directory_Blue_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #0359b2;
	font-weight:bold;
	padding-left: 9px;
}
.Directory_Blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0359b2;
	font-weight:normal;
}
.Directory_Orange_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #fc8740;
	font-weight:bold;
	padding-left: 9px;
}
.Directory_Grey_Underline {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #4a4a49;
	font-weight:normal;
	text-decoration: underline;
	line-height: 20px;
	padding-left: 9px;
}
.Directory_Grey {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #4a4a49;
	font-weight:normal;
	line-height: 16px;
	padding-left: 20px;
	padding-right: 3px;
}

.anchor_login {
	font: bold 85% verdana, sans-serif;
}

.anchor_login:hover {
	color: silver;
}
tr.a {background-color: #F0F5FF;}
tr.b {background-color: #FFFFFF;}
tr.c {background-color: #FFF9F0;}
tr.d {background-color: #F3F3F3;}
td.neg{color: #FF0000;}
.tdlineit {
	border-BOTTOM: 1px solid #333333;
	text-align:	left;
}
.tdlineit2 {
	text-align:	left;
        height:		60px;
        width:		440px;
	overflow:	auto;
	padding:	0px;
}
.tdlineitcent {
	border-BOTTOM: 1px solid #333333;
	text-align:	center;
}
.tblkdsp {
	text-decoration: none;
        color:		#333333;
	display:	block;
}
.tblkdsp2 {
	text-decoration: none;
        color:		#333333;
	display:	none;
}
/*
Styles associated with the store lists and store info boxes in the mall
We're also throwing in the category lists that can get returned on a text search
*/

tr.vendor-list-header th {
        text-align:left;
}

.storeInfoBox	/* the store detail/info container box (the outer shell) */
{
	position: absolute;
	left: -2000px;
	width:400px;
	border:1px solid #c7c7c7;
	background-color: white;
}

.storeInfoBox h5
{
	color:navy;
}

.storeInfoClose	/* the X in the upper right corner of the storeInfoBox for closing it */
{
	display:block;
	margin-bottom: 0;
	color:silver;
	font-weight:bold;
	font-family:sans-serif;
	text-decoration:none; 
	text-align:right;
	padding:0;
}

div.storeInfoContent	/* where we will stuff the goods */
{
	margin-top: 0;
	padding: 0 0.5em;
	display:block;
}

.storeInfoContent_right_side_links	/* currently our continue to store and print page links */
{
	float:right;
}

.storeInfoContent_vendor_name img	/* storeInfoContent_vendor_name is currently our h2 tag which holds the banner */
{
	border:0;
}

.storeInfoContent_xp,.storeInfoContent_sales,.storeInfoContent_languages,.storeInfoContent_coupons, .storeInfoContent_gift_cert_url,.storeInfoContent_shipping_incentives
{
	font-size: smaller;
}

p.ppod-description	/* the Product Payout Detail description -the item- */
{
	font-size: smaller;
	margin-bottom:0;
}

p.ppod-detail		/* the details to go along with the description */
{
	font-size: smaller;
	margin:0 0 0 3em;
}

span.ppod-rp		/* the reward point value is sandwiched in these */
{			/* we are not using any whitespace in the content, so these spans need to create their own */
	margin-left: .5em;
	margin-right: 1em;
}

span.ppod-pp		/* the pay point value is sandwiched in these */
{
	margin-left: .5em;
}

/* these two are for the continue and print links themselves at the top right of the store info box */
.continue,.print { font-size:.8em; }

#categoryList a {
	display:block;
	font: normal 80% sans-serif;
	text-decoration:none;
}

#alpha_section_links {
	text-align:center;
}

#alpha_section_links a {
	margin-left: 1em;
	text-decoration:none;
}
/* additional styles to be integrated with the other storeList styles */

table.store_icons {
	margin-left: 1em;
	border-collapse:collapse;
	empty-cells:show;
	padding:0;
/*	width:127px; */
}

table.store_icons td {
	height:16px;
	background-position:bottom left;
	background-repeat:no-repeat;
	border:none;
	vertical-align:bottom;;
}

table.store_icons td.a,td.null_icon_new { width:17px; }
table.store_icons td.b,td.null_icon_increase { width:10px; }
table.store_icons td.c,td.icon_coupon { width:21px; }
table.store_icons td.d,td.icon_ship { width:21px; }
table.store_icons td.e,td.icon_sale { width:21px; }
table.store_icons td.f,td.null_icon_gift { width:17px; }
table.store_icons td.g,td.static_icon_language { width:20px; }

tr.icon_left td { background-position:center left; }
tr.icon_right td { background-position:center right; }

/*
surprisingly enough, the urls in these background images is referenced from the perspective of the stylesheet
this means that we have to go up a directory for them to be referenced correctly
*/
td.null_icon_new {
	background-image:url(../icons/icon_new.gif);
}

td.icon_sale {
	background-image:url(/mall/icons/icon_sale.gif);
}

td.icon_ship {
	background-image:url(/mall/icons/icon_shipping.gif);
}

td.icon_coupon {
	background-image:url(/mall/icons/icon_coupon.gif);
}

td.null_icon_gift img { border:1px solid transparent; }
td.null_icon_gift a:hover img { border: 1px solid #0f0; }

td.null_icon_increase {
	background-image:url(/mall/icons/icon_increase.gif);
}

td.static_icon_language {
	background-image:url(/mall/icons/icon_language.gif);
}

/* these are the containers (currently divs) that hold the icon rollover content */
.icon_coupon_rollover, .icon_language_rollover, .icon_sale_rollover, .icon_ship_rollover, .icon_gift_rollover
{
	position:absolute;
/* some initial location settings that will get reset by javascript later on */
	top:0px; left:-1000px;
	background-color: #ffffcc;
	border:1px inset silver;
	visibility:hidden;
	padding: 0.5em;
	width:20em;
	font:normal .8em sans-serif;
}

/*
these are the items themselves (currently p's) that hold the icon rollover content singular items
these are actually contained within a 'root' div of class exttype<x>
we'll define the p's then we'll get rid of the top margin of the 1st p
*/
div.exttype3 p, div.exttype4 p, div.exttype5 p
{
	margin-bottom: 0;
}

div.exttype3 p:first-child, div.exttype4 p:first-child ,div.exttype5 p:first-child
{
        margin-top: 0;
}

td.storeInfo {
	width:20px;
	padding: 0;
	vertical-align:middle;
}
td.storeInfo img{
	margin:0;
	border:none;
}

table#storeListTable{
	background-color:white;
	border-collapse:collapse;
	width:100%;
}

table#storeListTable caption
{
	color:navy;
	font-weight:bold;
	font-family:verdana,geneva,sans-serif;
	border-bottom:1px solid navy;
}

tr.section_header
{
	border-bottom:1px solid #c7c7c7;
        border-top:1px solid #c7c7c7;
}

tr.section_header td
{
        /* since we have pulled the label out, we need to define the height so the row doesn't collapse */
	height:1em;
}

tr.lista{
	background-color: #fff;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}

tr.listb{
	background-color: #d3e0eb;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}

tr.lista td, tr.listb td {
	padding-top: 0.2em;
}

td.storeName {
	padding-right:2em;
}

li.top-picks, span.rppp-col, td.rppp-col{
	padding-right:1em;
	font-size: .8em;
}

/* the columns in the store list that holds the icon table */
td.store_icon_column
{
	/* for some reason, this tag needs the 3px to simply line up with the 0 on the 'th' above it in the table */
	vertical-align:middle;
	padding-left:3px;
}
th.store_icon_column
{
	vertical-align:middle;
	padding:0;
}

a.alpha {
	text-decoration: none;
	color: Blue;
}

a.pricat{
	display:block;
	margin-top: .4em;
	color:blue;
	font: normal .8em Arial,Helvetica,sans-serif;
}
a.vendor{
	font-weight:bold;
	text-decoration: none;
}
a.vendor:hover{ color: green; }

img.see-more	/* the icon nested in the see i for more information blurb */
{
	margin-right: .3em;
	margin-left: .3em;
	vertical-align: bottom;
	border:0;
}
.promo a {
text-decoration: none;
}

td.info_plus
{
        border-bottom: 1px solid #333333;
        text-decoration: none;
	cursor: pointer;
/*      cursor: hand;  */

}
