/*
Style Sheet for New Rewards Directory Map
Created: 9/20/2011
Author: Luis

Comments or Edits:



*/

* {
    margin: 0;
    padding: 0;
}

.address {
    float: left;
    height: 30px;
    margin: 15px 0 10px 45px;
    width: 910px;
}

#location {
        float: left;
        height: 24px;
       	width: 490px;
		-webkit-border-radius: 7px 7px 0px 0px;
		-moz-border-radius: 7px 7px 0px 0px;
		border-radius: 7px 7px 0px 0px;
}

#check {
      float: left;
       margin-left: 5px;
       margin-top: 5px;
}

#change, #home{
    background: none repeat scroll 0 0 #00376F;
    border-left: 1px solid #5786B4;
    border-top: 1px solid #5786B4;
    border-width: 1px;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin: 0 0 0 10px;
    padding: 2px;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px; 
}

#change:hover {
        background: none repeat scroll 0 0 #FE9D4E;
        color: #00376F;
}

#home:hover {
        background: none repeat scroll 0 0 #FE9D4E;
        color: #00376F;
}

#range {
    float: left;
    height: 29px;
    margin-left: 10px;
    margin-top: 0;
    padding-top: 3px;
    text-align: left;
    width: 60px;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
	
}

#save_ckBox {
    background: none repeat scroll 0 0 #00366E;
    border-color: #5794BF #5794BF #CCCCCC #CCCCCC;
    border-radius: 7px 7px 0 0;
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 28px;
    margin: 0 0 0 10px;
    padding: 0 5px 0 0;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}
.tip_trigger {
       color: #001A53;
       float: left;
       margin: 1px 0 0 5px;
       text-decoration: none;
}

.tip {
       color: #fff;
       background:#001952;
       display:none; /*--Hides by default--*/
       padding:10px;
       position:absolute;
	   width: 260px;
	   text-align: left;
	   z-index:1000;
       -webkit-border-radius: 3px;
       -moz-box-shadow: 3px 3px 10px 2px #3B64A7;
       box-shadow: 3px 3px 10px 2px #3B64A7;
}

.btnSearch{
	
}

button img {
  margin-right: 5px;
  padding-bottom: 3px;
  vertical-align: middle;
}

#search_address {
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    padding: 2px;
}



#map_canvas { height: 100% }

	#category{
		border: 0 none;
		float: left;
		font-size: 100%;
		height: 1.35em;
		line-height: 1.25em;
		margin: 0 5px 0px 0px;
		outline: medium none;
		width: 15.45em;
		
	}

	#category2{
		border: 0 none;
		float: left;
		font-size: 100%;
		height: 1.35em;
		line-height: 1.25em;
		margin: 0 5px 0px 0px;
		outline: medium none;
		width: 15.45em;
	
	}
	
	#title{
		width:980px;
		margin:0px auto;
	}

#title h2 {color:#001953;}

#title p { font-size: 110%; margin: 10px 5px 15px 40px; text-align: left; width: 890px;}

#side_title { 
	background-image: url('http://www.clubshop.com/maps/map_icon/title_bg.png');
	background-repeat:repeat-x;
	color: #FFFFFF;
	float: left;
	font-size: 1.3em;
	font-weight: bold;
	height: 38px;
	padding-top: 5px;
	position: relative;
	text-align: center;
	width: 278px;
	z-index: 10; 
}

#side_html { 
	width:31%; 
    height:605px; 
    float:left; 
    overflow:auto;     
    background: url("http://www.clubshop.com/maps/map_icon/listBg.png") repeat-y scroll 0 0 #A5BFDD;
    border-color: #94B3D6;	
    border-style: none none solid solid; 
    border-width: 0 0 0 1px; 
    line-height: 1.5em; 
    overflow: auto; 
    padding-left: 0px; 
    text-decoration: none; 
    position:relative; 
    top:-13px;
	list-style:none;
}

#side_html ul {
	list-style: none;
	padding: 0px 3px;
	margin: 0;
} 

#side_html li a {	
	background: #FAF9F8;
	height: 2em;
	line-height: 2em;
	float: left;
	width: 15.4em;
	display: block;
	border: 0.1em solid #dcdce9;
	color: #0d2474;
	text-decoration: none;
	text-align: center;
	padding: 0px 3px;
	list-style:none;
} 

	#side_html li a:hover {
		background:#00174B;
		height: 2em;
		line-height: 2em;
		float: left;
		width: 15.4em;
		display: block;
		border: 0.1em solid #dcdce9;
		color: #FFF;
		text-decoration: none;
		text-align: center;
		padding: 0px 3px;
	} 



	.merc_list{
		text-decoration: none;
	}
	
	
	.side_list{
		list-style:none;
	
	}
	
/* --------------- */	
/* Advance Search Button Slide Out */	
/* --------------- */		
	
	a:focus {
		outline: none;
	}

	.panel {
		color: #fff;
		background:#00174B;
		display:none; /*--Hides by default--*/
		padding:5px;			
		-webkit-border-radius: 0px 3px 0px 0px;
		-moz-border-radius: 0px 3px 0px 0px;
		border-radius: 0px 3px 0px 0px;			
		width:873px;
		height:22px;
	}

	.slide {
		margin: 0;
		padding: 0;
		
	}

	.active {
		background-position: right 12px;
	}

	.btn{    
		background-color: #00174B;
		border: medium none;		
		border-radius: 12px 12px 0 0;
		-webkit-border-radius: 12px 12px 0 0;
		-moz-border-radius: 12px 12px 0 0;			
		color: white;
		cursor: pointer;
		left: 0px;
		padding: 8px;
		position: relative;
		font-weight: bold;
	
	}

	.btn button:link{
		background-color:#FAF9F8;
		color: #fff;

	}	
	
	.btn button:hover{
		background-color:#FAF9F8;
		color: #fff;

	}
	
	.fieldBox{
		background: none repeat scroll 0 0 #FFFFFF;
		border: 1px solid #E5E5E5;
		float: left;
	}
	
	.fieldBox input{
		border: 0 none;
		float: left;
		font-size: 100%;
		height: 1.25em;
		line-height: 1.25em;
		margin: 0 0 -1em;
		outline: medium none;
		width: 15.45em;
	}
	
	.fieldBox .fieldBox_btn{
		background: url("http://www.clubshop.com/maps/map_icon/search4.png") no-repeat scroll 2px 0 #E66400;
		border-radius: 3px 3px 3px 3px;
		cursor: pointer;
		font-size: 0;
		height: 20px;
		margin: 0;
		overflow: hidden;
		padding: 2px;
		width: 20px;

	}
	
/* --------------- */	
/*    Alert Box    */	
/* --------------- */	
	
	#alert_div{
		background-color: #00184D;
		border: 2px solid orange;
		border-radius: 10px 10px 10px 10px;
		box-shadow: 5px 5px 10px #40619C;
		color: #FFFFFF;
		font-size: 1.25em;		
		left: 100px;
		padding: 15px;
		position: absolute;
		top: 200px;
		width: 640px;
	}
	
	#button1 {
		background: rgb(226,226,226);
		background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1)));
		background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
		background: -o-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
		background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 );
		background: linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px; 
		height:25px;		
		padding: 0px 10px;
		color: #454545;
		text-decoration: underline;
		position: relative;
		top: 45px;
		
	}
	
	
	
	#text{
		margin:0px;
	}
	
	#text2{
		bottom: 5px;
		margin-top: 20px;
		text-indent: 160px;
	}