
/* ------------------------------------------ */
/* RESETS, BASIC PAGE SETUP, BASIC TYPOGRAPHY */
/* ------------------------------------------ */
* { margin: 0; padding: 0; }
html { overflow-y: scroll; }
body { font: 62.5% Helvetica, sans-serif;
	background-image: url('../images/design/bg_2.jpg');}
ul { list-style: none inside; }
p { font-size: 125%; margin-bottom: 1.3em; padding:0px 5px; }
a { outline: none; }
a img { border: none; }
/* END RESET */

/* ------------------------------------------ */
/* TOOLBOX CSS */
/* ------------------------------------------ */
.floatleft { float: left; }
.floatright { float: right; }
.clear { clear: both; }
.transpBlack { background: url(../images/transpBlack.png); }
.td_info {}
/* END TOOLBOX */

/* ------------------------------------------ */
/* PAGE STRUCTURE */
/* ------------------------------------------ */
#page-wrap {
	
	width: 1000px;
        height: 100%;
	margin: 0 auto;
}

#header{
	
	background-image: url('../images/design/clubshop_01.png');
	width:1000px;
	height: 108px;

}

#header2{
	
	width:880px;
	height: 108px;

}

#logo{
	
        float: left;
	background-image: url('../images/design/logo_clubshop_transparent.png');
	width:490px;
	height:43px;
	text-indent: 0px;
}

#member_links_box{
	
	position: relative;
        float: right;
	width: 300px;
	height:65px;
	left: 0px;
	top: 10px;
	text-indent: 0px;
}
#member_info{
	
        float: left;
	width: 250px;
	height:40px;
	position: relative;
	left: 0px;
	top: 0px;
	text-indent: 0px;
}
#member_links{
	
        float: left;
	width:250px;
	height:16px;
	text-indent: 0px;
	position: relative;
	left: 0px;
	top:  0px;
        color: #FFFFFF;
}

#catmenu{
	
        float: left;
	width: 500px;
	height:43px;
	position: relative;
	left: 50px;
	top: 20px;
	text-indent: 0px;
}

#searchkey{
	
        float: left;
	width: 160px;
	height:17px;
	position: relative;
	left: 500px;
	top: -18px;
	text-indent: 0px;
}

#not_logged_in{
float:left;
}

#logged_in{
float:left;
}

#nav{
	
	width:819px;
	height: 30px;
	position: relative;
	left: 142px;
	top: 16px;
}

#country{
	
	width:70px;
	height: 17px;
	position: relative;
	left: 80px;
	top: 20px;
}

#flag{
        float: right;
	width:136px;
	height: 47px;
	position: relative;
	right: 60px;
	top: 11px;;
}

#flag2{
        float: right;
	width:136px;
	height: 47px;
	position: relative;
	right: 60px;
	top: 27.5px;;
}

.member_header{
	
	width:		200px;
	height: 	20px;
	position: 	relative;
	left: 		80px;
	top: 		50px;
        color: #FFFFFF;
        font-size: 14px;
}

.main_title{
	
	width:900px;
	height: 20px;
	position: relative;
	left: 0px;
	top: 0px;
        color: #FC8B08;
        font-size: 14px;
        display: none;
}

.go_btn{
	
	width:40px;
	height: 20px;
	position: relative;
	left: 340px;
	top: -17px;
        color: #FFFFFF;
        font-size: 14px;
}

#headbar{
	background-image: url('../images/header/clubshop_mall_headbar.png');
	height: 96px;
	
}

#main{
	background-image: url('../images/design/content_bg.png') ;
    
	width:1000px;
	
}

#main_content{
	width: 890px; 
	text-align: left; 
	margin: 0px auto;
}

#bottom_content{
	background-image: url('../images/design/bottom_content.png') ;
	width:1000px;
	height: 89px;
}

#footer_top{
	background-image: url('../images/design/clubshop_07.png') ;
	width:1000px;
	height: 127px;
}
/* END STRUCTURE */
