.tip {
			color: #fff;
			background:#00376F;
			display:none; /*--Hides by default--*/
			padding:10px;
			position:absolute;    z-index:1000;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			white-space:pre-line;
			width: 300px;
			text-decoration: none;
		}