<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>[% lb.title -%]</title>
<link type="text/css" rel="stylesheet" href="/css/club-rewards-general.css" />
<link type="text/css" rel="stylesheet" href="/css/registration.css" />
<script type="text/javascript" src="/js/resource.js"></script>
<script type="text/javascript" src="/js/state_list.js"></script>
<script type="text/javascript" src="/js/getstates.js"></script>
<script type="text/javascript" src="/js/jquery-min.js"></script>
<script type="text/javascript" src="/js/jquery-plugins/jquery.maxlength.js"></script>
<script type="text/javascript" src="/js/registration.js"></script>
<script type="text/javascript" src="/js/tooltip.js"></script>
<script type="text/javascript" src="/js/bizcode2.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	adjustInitialStateCtlFocus();
});
</script>

<style type="text/css">
.alc {
	text-align:center;
}
.alr {
	text-align:right;
}
.all {
	text-align:left;
}
.valt {
	vertical-align:top;
}

.tip_trigger{cursor:help;}
		
.tip {
	color: #FFF;
	background:#00376F;
	display:none; /*--Hides by default--*/
	padding:10px;
	position:absolute; z-index:1000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 225px;
	text-align:left;
}
   
 .Orange_Large_11{
      color: rgb(252, 139, 8);
      font-family: Verdana,Arial,Helvetica,sans-serif;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
}

#tblouter td {
	padding: 4px;
}

#tblouter, #tblinner1, table.tblinner2 {
	border-collapse:collapse;
}

#tblinner1, table.tblinner2 td {
	padding: 3px;
}

td {
	font-weight:normal;
}
</style>
</head>
<body>
<div style="width:750px; margin:auto auto 1em auto; position:relative;" class="alc">
   <span class="Orange_Large_11">[% lb.heading -%]</span>
   <span style="position:absolute; top: 0; right:0;"><a target="_blank" href="/print/clubshop_merchant_application.pdf" class="nav_blue_line">[% lb.print_pdf_short -%]</a></span>
</div>

<div class="alc">
   <span class="Text_Body_Content">[% lb.introduction_short -%]<br />
   <a target="_blank" href="https://www.clubshop.com/cs/merchant_affiliate_application.shtml">[% lb.click_here -%]</a> [% lb.registration_upgrade %]<br/></span>
</div>

<form id="form1" name="form1" method="get" action="[% url -%]">

<table class="alc" style="margin:auto; background-color:#FFFFFF; border:0;" id="tblouter">
   <tr><td class="Text_Body_Content" style="background-image:url(/images/bg/bg_header-orange-923x23.png); background-color:#FCA641; text-align:center; vertical-align:top;">
   <span class="style13">[% lb.short_form_heading %]</span>
   </td></tr>

   [% IF errors_out -%]<tr><td colspan="3" class="Text_Body_Content" class="alc" style="background-color: pink;">[% lb.error_prose %]:<br />[% errors_out %]</td></tr>[% END %]
   <tr><td class="Text_Body_Content alc valt style5">[% lb.required_fields %]
   <hr style="color:#FCBF12; background-color:#FCBF12; height:2px; width:100%" />


   <!--table style="border:0; width:100%;" id="tblinner1">
      <tr><td colspan="2" class="alc"-->
      
         <table style="border:0; width:100%; margin:auto" class="tblinner2">
            <tr><td colspan="3" class="style5">[% lb.fields.please_select_one %]</td></tr>
            <tr><td class="valt">
                <input name="_membership" id="_membership_member_id" value="member" type="radio"[% IF merchant_information.member_id -%] checked="checked"[% END -%] /></td>
                <td class="field all">[% lb.fields.member_id %]:</td>
                <td class="alr valt">
                <input class="registration_TextField" name="member_id" onfocus="this.select()"[% IF ! merchant_information.member_id -%] disabled="disabled"[% END -%] id="member_id" maxlength="10" type="text" value="[% merchant_information.member_id %]" />
                </td>
            </tr>

            <tr><td class="valt">
            		<input name="_membership" id="_membership_referral_id" value="referred" type="radio"[% IF merchant_information.referral_id -%] checked="checked"[% END -%] />
            	</td>
                <td class="field all" style="white-space:nowrap;">[% lb.fields.referral_id -%]:</td>
                <td class="alr">
                	<input class="registration_TextField" name="referral_id" onfocus="this.select()" [% IF ! merchant_information.member_id -%] disabled="disabled"[% END -%] id="referral_id" maxlength="10" type="text" value="[% merchant_information.referral_id %]" />
                </td>
            </tr>

            <tr><td class="valt">
                <input name="_membership" id="_membership_new_member" value="new" [% IF ! merchant_information.member_id && ! merchant_information.referral_id -%] checked="checked"[% END -%] type="radio" />
                </td>
                <td colspan="2" class="all">[% lb.fields.new_member %]</td>
            </tr>

            <tr><td colspan="3" class="alr">
	            <hr style="color:#FCBF12; background-color:#FCBF12; height:2px; width:100%" />
			</td></tr>
		 </table>

         <table style="border:0; width:100%; margin:auto" class="tblinner2">
            <tr><td class="style5 field all">[% lb.fields.business_name %]:</td>
                <td class="alr">
                <input class="registration_TextField" name="business_name" onfocus="this.select()" maxlength="35" type="text" required="required" value="[% merchant_information.business_name -%]" />
                </td>
            </tr>

                <tr><td class="style5 field all">[% lb.fields.address1 %]:</td>
                    <td class="alr">
                    <input class="registration_TextField" name="address1" onfocus="this.select()" maxlength="100" type="text" required="required" value="[% merchant_information.address1 -%]" /></td></tr>
                <tr><td class="style5 field all">[% lb.fields.city %]:</td>
                    <td class="alr">
                    <input class="registration_TextField" name="city" onfocus="this.select()" maxlength="50" type="text" required="required" value="[% merchant_information.city -%]" /></td></tr>
                <tr><td class="style5 field all">[% lb.fields.country %]:</td>
                    <td class="alr">
                    <select name="country" class="registration_dropmenu" onchange="getStates()" id="country" required="required">
                    	<option value="" label=" "></option>
[% countries %]
                    </select></td>
                </tr>
                
                <tr><td class="style5 field all">[% lb.fields.state %]:</td>
                    <td class="alr">
                    <select name="" class="registration_TextField" style="display: none" id="state_select">
                        <option selected="selected" value="" label=" "></option>
[% FOREACH state IN states %]
<option value="[% state.code -%]"[% IF state.code == merchant_information.state -%] selected="selected"[% END %]>[% state.name -%]</option>
[% END %]
                    </select>
                    <input class="registration_TextField" name="state" onfocus="this.select();needs_country();" style="display: inline;" id="state_text" type="text" value="[% merchant_information.state -%]" /></td>
                </tr>
                
                <tr><td class="all">[% lb.fields.postalcode -%]:</td>
                    <td class="alr">
                    <input class="registration_TextField" name="postalcode" onfocus="this.select()" maxlength="20" type="text" value="[% merchant_information.postalcode -%]" /></td></tr>
                <tr><td class="style5 field all">[% lb.fields.phone -%]:</td>
                    <td class="alr">
                    <input class="registration_TextField" name="phone" onfocus="this.select()" maxlength="25" type="text" required="required" value="[% merchant_information.phone -%]" /></td></tr>
                <tr><td class="all">[% lb.fields.fax -%]:</td>
                    <td class="alr">
                    <input class="registration_TextField" name="fax" onfocus="this.select()" maxlength="25" type="text" value="[% merchant_information.fax -%]" /></td></tr>
                <tr><td class="all">[% lb.fields.url -%]:</td>
                    <td class="alr">
                    <input class="registration_TextField" name="url" onfocus="this.select()" maxlength="130" type="text" value="[% merchant_information.url -%]" /></td></tr>
                <tr><td class="style5 field all">[% lb.fields.emailaddress1 -%]:</td>
                    <td class="alr">
                    <input class="registration_TextField" name="emailaddress1" onfocus="this.select()" maxlength="100" type="text" required="required" value="[% merchant_information.emailaddress1 -%]" /></td></tr>
                <tr><td colspan="2" class="all">
                    <hr style="color:#FCBF12; background-color:#FCBF12; height:2px; width:100%" /></td></tr>
                <tr><td class="style5 field all">[% lb.fields.firstname1 -%]:</td>
                    <td class="alr">
                    <input class="registration_TextField" name="firstname1" onfocus="this.select()" maxlength="50" type="text" required="required" value="[% merchant_information.firstname1 -%]" /></td></tr>
                <tr><td class="style5 field all">[% lb.fields.lastname1 -%]:</td>
                    <td class="alr">
                    <input class="registration_TextField" name="lastname1" onfocus="this.select()" maxlength="50" type="text" required="required" value="[% merchant_information.lastname1 -%]" /></td></tr>
                <tr><td class="style5 field all">[% lb.fields.language -%]:</td>
                    <td class="alr">
                    <select name="language" class="registration_dropmenu" id="language" required="required">
                        <option value="" label=" "></option>
[% languages -%]
                    </select></td></tr>
 
                <tr><td class="style5 field all">[% lb.fields.username -%]:</td>
                    <td class="alr">
                    <input class="registration_TextField" name="username" onfocus="this.select()" maxlength="20" type="text" required="required" value="[% merchant_information.username -%]" /></td></tr>
                <tr><td class="style5 field all">[% lb.fields.password -%]:</td>
                    <td class="alr">
                    <input class="registration_TextField" name="password" onfocus="this.select()" value="" maxlength="20" type="password" required="required" value="[% merchant_information.password -%]" /></td></tr>

          </table>
          <!--/td></tr>
      </table-->

<!-- Second Page Here -->
<br />
<hr style="color:#FCBF12; background-color:#FCBF12; height:2px; width:100%" />
    
           <table class="tblinner2">
              <tr><td colspan="2" class="all">
                  <span class="text_orange">[% lb.choose_business_cats -%]</span>
                  <ul>
                      <li>[% lb.choose_business_cat_instructions1 -%]</li>
                      <li>[% lb.choose_business_cat_instructions2 -%]</li>
                      <!--<li>[% lb.choose_business_cat_instructions3 -%]</li>-->
                  </ul>
                  <iframe id="category_search" name="category_search" src="/cgi/biz_cat_search_merchant_trans.cgi" style="width:100%; height:130px; overflow: scroll; border: 0; background-color: transparent;"></iframe>
                  </td>
				<td></td>
              </tr>
              
              <tr><td class="all style5 field">Type of Business:</td>
                  <td class="alr">
                      <input type="text" class="registration_TextField" name="biz_description" id="biz_description" onfocus="this.select()" value="[% merchant_information.biz_description -%]" required="required" placeholder="[% lb.choose_business_cats -%]" />
                      <input type="hidden" name="business_type" id="business_type" value="[% merchant_information.business_type -%]" /></td>
				<td></td>
              </tr>
              
              <tr>
              	<td colspan="3" class="all"><hr style="color:#FCBF12; background-color:#FCBF12; height:2px; width:100%" /></td>
              </tr>

            <tr id="free_reward_merchant_benefits_flat_fee">
                <td class="valt all">[% lb.fields.flat_fee_off -%]:</td>
                <td class="valt alr">
                    <input pattern="^\d+$" type="text" class="registration_TextField" name="flat_fee_off" onfocus="this.select()" value="[% merchant_information.flat_fee_off -%]" id="flat_fee_off_" maxlength="10" /><br />
                    <span class="small">[% lb.currency_amount -%]</span>
                </td>
                <td class="valt">
                    <input type="radio" name="reward_discount" id="offline_reward_discounts_flat_fee_off" value="flat" required="required" [% IF merchant_information.reward_discount == 'flat' -%]checked="checked" [% END -%]/>
                </td>
            </tr>
            
            <tr><td class="valt all">[% lb.buy_one_get_one -%]:</td>
                <td class="alr">
                    <select name="bogo_amt" class="registration_dropmenu" id="special_">
                       <option value="" label=" "></option>
                       <option value="half">[% lb.menus.bogo_amt.half -%]</option>
                       <option value="free">[% lb.menus.bogo_amt.free -%]</option>
                    </select><br />
                    <span class="small">[% lb.add_info -%]</span>
                </td>
                <td class="valt">
                	<input type="radio" name="reward_discount" value="bogo" required="required" [% IF merchant_information.reward_discount == 'bogo' -%]checked="checked" [% END -%]/>
                    <!--input type="radio" name="reward_discount" id="offline_reward_special" value="bogo" /-->
                </td></tr>

            <tr><td class="valt field all">[% lb.instant_percentage_of_sale_off -%]:</td>
                <td class="alr">
                    <select name="percentage_of_sale" class="registration_dropmenu" id="percentage_of_sale">
                        <option value="" label=" "></option>

                   </select><br /><span class="small">[% lb.add_info -%]</span>
                </td>
                <td class="valt">
                	<input type="radio" name="reward_discount" value="pctoff" required="required" [% IF merchant_information.reward_discount == 'pctoff' -%]checked="checked" [% END -%]/>
                    <!--input type="radio" name="reward_discount" id="offline_reward_special" value="pctoff" /-->
                </td>
            </tr>

    	</table>
    	</td>
    </tr>
    
    <tr><td><hr style="color:#FCBF12; background-color:#FCBF12; height:2px; width:100%" />
            <table class="alc tblinner2">
                <tr><td class="all valt field">[% lb.fields.discount_blurb -%]:</td>
                    <td class="alr">
                    <textarea name="discount_blurb" id="discount_blurb" class="registration_TextField" rows="5" maxlength="80">[% merchant_information.discount_blurb -%]</textarea>
                    <p>[% lb.blurb_characters_left -%]: <span class="charsLeft">80</span></p>
                </td></tr>
            </table>
       </td></tr>


    <tr><td class="alc" style="background-color:#FCA541">
        <input type="image" id="Submit" alt="Submit" src="/images/btn/btn_register.png" />
        </td>
    </tr>

</table>

</form>

<script type="text/javascript">
<!--
 $("select[name='percentage_of_sale']").empty()
 $("select[name='percentage_of_sale']").append($("<option />"));
 for ( var index_key in percentages['free'] )
 {
     $("select[name='percentage_of_sale']").append($("<option value='" + percentages['free'][index_key] + "'>" + index_key + "</option>"));
 }
 var selected = $("select[name='percentage_of_sale']").selected_value;
 $("select[name='percentage_of_sale'].option[value='" + selected + "']").attr("selected", "selected");
-->
</script>


</body>
</html>
