<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[% lb.title -%]</title>
<link type="text/css" rel="stylesheet" href="/css/club-rewards-general.css" />
<link type="text/css" rel="stylesheet" href="/css/registration.css" />
<style type="text/css">
.alc {
	text-align:center;
}
.alr {
	text-align:right;
}
.all {
	text-align:left;
}
.valt {
	vertical-align:top;
}

#tblouter td {
	padding: 4px;
}

#tblouter, #tblinner1, table.tblinner2 {
	border-collapse:collapse;
}

#tblinner1, table.tblinner2 td {
	padding: 3px;
}

td {
	font-weight:normal;
}
</style>

</head>
<body>
<table style="width:70%, border:0; margin:auto; background-color:#FCBF12;" id="tblouter">
    <tr><td colspan="3" align="center" valign="top" bgcolor="#FCA641" class="Text_Body_Content" background="/images/bg/bg_header-orange-923x23.png">
        <span class="style13">[% lb.form_heading -%]</span>
        <br /></td></tr>
    <tr><td colspan="3" class="alc valt" bgcolor="#FFFFFF" class="Text_Body_Content">
    
    <table style="width:100%; border:0" id="tblinner1">
    <tr><td colspan="2">[% lb.step_3.cc_accepted -%]
        <br />
        <br />[% lb.step_3.username -%]: [% merchant_information.username -%]
        <br />[% lb.step_3.password -%]: [% merchant_information.password -%]
        <br />[% lb.step_3.merchant_number -%]: [% merchant_information.merchant_master_id -%]
        <br />
        <br />
        <a class="nav_blue_line" target="_parent" href="/cgi/LoginMerchants.cgi?username=[% merchant_information.username -%]&amp;password=[% merchant_information.password -%]&amp;merchantid=[% merchant_information.merchant_master_id -%]&amp;masterbranch=maf&amp;destination=%2Fmaf%2Fhome/&amp;_action=login">Login</a>
        <br />
        <br />[% lb.complimentary_closing -%]
        <br />
        <br />ClubShop.com</td></tr>
    </table>
</td></tr>
</table>
</body>
</html>
