#iframe_box
{
	visibility:hidden;
	border:1px solid navy;
	padding: 1em;
	position:absolute;
	background-color:white;
}

.close_me
{
	text-align:right;
}

/* let's increase the default font-size that is inherited */
table.report td
{
	font-size: 80%;
}

#instructions
{
	float:right;
	font-size:80%;
}

table.report td,th {
	padding: 3px 4px;
}

table.report td.op
{
	text-align:center;
	padding-left:0.5em;
}

td.high_bid
{
	text-align:right;
}

.cagood
{
	font-weight:normal;
	color:green;
}

table.report td.cabad
{
	font-weight:bold;
	color:red;
	font-size:larger;
}

.green { color: green; }
.red { color:red; }

tr.voided td
{
	opacity: .3;
}