@CHARSET "UTF-8";

.alr {
	text-align: right;
}

.field_notes
{
	font-size: 90%;
	color:blue;
}

div#mall-relations {
	float:right;
	border-left:1px solid silver;
	border-bottom:1px solid silver;
	background-color:#f5f5f5;
	padding: 0.5em;
	margin-top:0; margin-right:0;
}

div#mall-relations a:hover {color:red;}

optgroup.linked-cat-options option {
color: #0a0;
}

optgroup.unlinked-cat-options option {
color: #999;
}

table {
border:0;
border-collapse:collapse;
}

table#main-tbl caption {
background-color: #f5f5f9;
font-family: Arial, Helvetica, sans-serif;
font-weight:bold;
font-size:80%;
padding-bottom: 0.3em;
}

td,textarea,select,div {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8rem;
}

td.lbsh{
font-weight: bold;
color: blue;
text-align: center;
}

tr.lbs1 td.ls{
background-color : #F5F5F5;
}

td.ls{
text-align:right;
background-color: #f5f5f9;
}

a.lbs1{
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
color: black;
background-color : #F5F5F5;
text-decoration : none;
}

a.lbs2{
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
text-decoration : none;
}


td.lbl{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
}

td.x {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
}

input {
	font-size: 1.2em;
}

input.num {
	width: 6em;
}

input.txt {
	width: 60em;
}

lbltextarea{
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: blue;
}

td.lbt {
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
color: black;
}

body { 
	background-color: #BEE0FA;
	margin: 0 0 0.5em 0.5em;
}

hr {
	text-align: center;
	margin: auto;
	width: 600px;
}
textarea#notes {
width:600px;
}

a.warning {
color:red;
background-color:yellow;
/*padding: 0.5em;*/
}

a.ok {}
.links-right {text-align:right;}

#example_calculator {
	font-size: 0.9em;
}

.excinput {
	font-size: 85%;
	width: 4em;
}

th.example_calculator {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0.2em 0.5em;
	font-size: 90%;
}

.example_calculator {
	border: 1px solid #ccc;
	background-color: white;
}

td.example_calculator {
	text-align: right;
	font-size: 90%;
}

.result {
	color: green;
}