td {
	vertical-align: top;
	font: normal 75% sans-serif;
	padding: 0.2em 0.3em;
}
th {
	vertical-align: bottom;
	font-size: 75%;
/*	padding: 0.2em 0.3em;*/
}
table.report{
	margin-top: 1em;
	font-size:75%;
	border-collapse:collapse;
}
table.report td{
	/*white-space:nowrap;*/
	padding: 0.2em 0.3em;
	border:1px solid #009;
}
table.report th{
	background-color:#cccccc;
	border:1px solid #009;
	padding: 0.2em 0.3em;
	text-align: left;
}
table.report tr.a {background-color:rgb(255,255,240);}
table.report tr.b {background-color:#efefef;}
select, input {
	font-size: 9px;
}
.fpnotes{
	font: normal 9px sans-serif;
}
.lybg{ background-color: rgb(255,255,240); }
.error { color:red; }		/* a simple error class */
.message { color: #4c994c; }	/* a simple message class */
.action_ctl { background-color: rgb(224,240,255); }	/* controls that take input */
td.label {
	text-align:left;
}
td.data {
	vertical-align:middle;
}
td.alc {
	text-align:center;
}
td.alr {
	text-align:right;
}