/* This sheet is used by various mall mgt. related interfaces */

body {
	margin: 0 0 0.5em 0.5em;
}
table { border-collapse:collapse; }
li.inactive a, tr.inactive {
	color: #aaa;
	font-style: italic;
}
tr.inactive td { font-style: italic; }
tbody#tbody-mall-mgt td { font-size: 100%; }
tbody#tbody-mall-mgt td.language_code { text-align: center; }

textarea { font-size: 100%; }

#url, #label, #gift_cert_url, #languages, #ship_from, #text_slot_vip, #text_slot_other { width: 40em; }
input.url {width: 40em;}
input#reset { margin-left: 0.5em; }
input#stamp, #mall_label { width: 20em; }

input#mall_id {	/* the text field on the mall mgt. interface */
	width: 4em;
}

.default-range {
	width: 4em;
	margin-right: 3em;
}
.ranges {
	width: 3em;
	margin-right: 0.5em;
}

#vrp_range_lower, #vrp_range_upper { margin-left: 1.1em; }	/* we need the left margin only on these */
a.mall-url, a.label, a.vid { text-decoration: none; }

a.edit-url, a.v-url, a.vx-url, a.ppods-url {
	text-decoration: none;
	font-size: smaller;
}
td.edit-vx { width: 4em; white-space:nowrap;}
a.vx-url {
/* float:right; display:block;*/
	margin-right:1em;
}
a.edit-url {
/*float:left; display:block;*/
	margin-right:1em;
}
div#instructions, div#help {
	background-color:#F3F3F3;
	border-color:silver;
	border-style:solid;
	border-width:0pt 0pt 1px 1px;
	font-family:arial,helvetica,sans-serif;
	font-size:70%;
	list-style-type:none;
	margin-top:0pt;
	padding:0.5em;
	position:absolute;
	right:0pt;
	top:0pt;
}

.hilite-imports { background-color:yellow; }

.ckbx1	/* our checkboxes that are really only for display - they are 'disabled' */
{
	margin-left: 0.5em;
	margin-right: 3em;
}
a:hover {color:red;}
td.status, td.status-on, td.status-off { text-align:center; }
td.status-on {color:green;}
td.status-off {color:red;}

div#help {	/* styles to override the ones in common with div#instructions */
	/*width:50%;*/
	top: 2.2em;
	visibility:hidden;
	border-top-width: 1px;
}
optgroup.incountry{ background-color: rgb(240,255,240); }
optgroup.othercountry{ background-color: rgb(240,240,240); }

tr.ranges { background-color: rgb(240,255,240); }

div#link-container {
	font-family: arial,helvetica,sans-serif;
	font-size: 70%;
	position: absolute;
	top: 0;
	right: 0;
	float:right;
}
div#mall-relations {
	border-left:1px solid silver;
	border-bottom:1px solid silver;
	background-color:#f5f5f5;
	padding: 0.5em;
}
div#mall-relations a:hover {color:red;}

a.warning {
	color: red;
	background-color: yellow;
}

/* these xt styles apply to the mall vendor extension columns at the mall-mgt.cgi interface */
.xt1 { background-color: #ffc; }
.xt2 { background-color: #faa; }
.xt3 { background-color: #aaf; }
.xt4 { background-color: #afe; }
.xt5 { background-color: #cea; }
.xt6 { background-color: #ffa; }
.xt7 { background-color: #afc; }
.xt8 { background-color: #FFCC99; }
th a { text-decoration:none; }
