/*
mallcat-admin.css - for the /cgi/admin/mallcat-admin.cgi application used for managing the mall categories
also used by: /cgi/admin/vms/vendor-mallcat-admin.cgi, the vendor/category linking interface
*/
body
{
	background-color: white;
	font-size: 90%;
}

form { display: inline; }

tr.a,div.a,li.a	/* tr.a & tr.b - simple classes for making alternate row colors */
{
	background-color: #ffe;
}
tr.b,div.b,li.b { background-color: #eee; }

tr.newcategory	/* the row class when a new category is inserted */
{
	background-color: #efffef;
}

table { border-collapse: collapse; }

td {
	vertical-align: top;
	padding: 0.2em;
	border: 1px solid silver;
}

td.catname /* the cells that hold the category name */
{
	border-right: none;
	white-space: nowrap;
	padding-right: 1em;
}

td.catname a
{
	text-decoration: none;
	color: navy;
}

td.ctl	/* the cells that hold the number of children... the expand/shrink children control */
{
	vertical-align: top;
	border-right: none;
	border-left: none;
}

td.container /* the cells that hold more category tables :) ... the children */
{
	border-left: none;
}

p.expandcat /* the container for the +/- 'control' for the category */
{
	padding: 2px;
	/*border: 1px inset black;*/
	margin: 0;
	/*margin-left: 1em;*/
	font-size: 75%;
	color: blue;
}

p.expandcat:hover { cursor: pointer; }

div#td_0		/* the container for the root table */
{
	margin-top: 0.5em;
}

div#flipflop	/* the container that is 'raised' & 'lowered' */
{
	position:fixed;
	left:400px;
	top: 10px;
	width:400px;
	visibility:hidden;
	border: 2px inset blue;
	background-color: rgb(255,255,240);
	padding: 0.5em;
}

input.newcatname	/* this is the textfield */
{
	font-size: 70%;
}

input.submitnew		/* the associated 'Add' button */
{
	font-size: 70%;
	margin-left: 0.2em;
}

input.cats2add		/* the buttons on the vendor/category linking interface */
{
	margin-bottom: 3px;
}

select.cats2add		/* the drop-downs on the vendor/category linking interface */
{
	font-size:75%;
}

#h4title		/* the title on the vendor/category linking interface */
{
	display: block;
	margin-top: 0;
}

#divtitle		/* the title block with the vendor list control */
{
	margin-top: 0;
	margin-right: auto;
	width: 25em;
	background-color: #f4eecc;
	padding: 0.5em;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
}

#vendorname		/* guess */
{
	width: 25em;
	background-color: #efffef;
	padding: 0.5em;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
	font-weight:bold;
}

#instructions	/* the instruction block on the vendor/category linking interface */
{
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 0;
	padding: 0.5em;
	border: 1px solid silver;
	border-width: 0 0 1px 1px;
	font-size: 75%;
	font-family: arial, helvetica, sans-serif;
	background-color: #f3f3f3;
	list-style-type: none;
}

#taxonomy		/* a list of categories */
{
	list-style-type: none;
	font-family: arial, helvetica, sans-serif;
	font-size: 75%;
}

#taxonomy li
{
	padding: 0.2em;
}

li.newlink		/* newly appended categories when linking from the text search */
{
	font-style: italic;
	background-color: #cfc;
	border-bottom:1px dotted silver;
	list-style-type: circle;
}

#alt-interface
{
	margin-top: 0;
	float: right;
	font-size: 70%;
	font-weight: normal;
	font-family: arial, helvetica, sans-serif;
}

/* classes used in the text search results */
.hilite { background-color: yellow; }
#SEARCH-RESULTS {
	margin-top: 1em;
	font-size: 85%;
	font-family: arial, helvetica, sans-serif;
}