body
{
	font-size: 80%;
}

.b {
	font-size: 11pt;
	color: #0000ff;
	font-style: italic;
}

td.n, div.n {
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	font-family:  Arial, Helvetica, sans-serif;
}

.r {
	font-size: 11pt;
	color: #ff0000;
	font-style: italic;
}

select
{
	font-size:90%;
}

.heading {
	font-size: 90%;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	font-family:  Arial, Helvetica, sans-serif;
}

td.field{
	font-size: 10pt;
	color: #000000;
	font-style: italic;
}

td.data{
	font-size: 9pt;
	color: #000000;
	font-style: normal;
	padding-left: 6px;
	background-color: White;
	font-weight: normal;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

td.line{
	background-color : Silver;
}

span.n {
	font-size: 10pt;
	color: #000000;
	font-style: italic;
}

.ins {
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	font-family:  Arial, Helvetica, sans-serif ;
}

.ex {
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	font-family: "Times New Roman", Times, serif;
}

.fp {
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
}

.objid {
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	white-space: nowrap;
}

input, .in {
	font-size: 12px;
}

.q{
	font-family: Arial, Helvetica, sans-serif;
	font-size : 90%;
}

.wt {
	font-size: 10pt;
	color: #ffffff;
}

.error {
	color:red;
	font-weight:bolder;
}

.message {
	color:#3a3;
	font-weight:bolder;
}

tr.cfc {
	background-color:#cfc;
}

tr.ffe {
	background-color:#ffe;
}

tr.eef {
	background-color:#eef;
}

a.nodec {
	text-decoration: none;
}
