/* for use with the admin product_payout_details.cgi application */
body { background-color:white; }
p { font:normal 75% sans-serif; }
#heading {
	font:normal 80% arial,helvetica,sans-serif;
	margin-bottom:1em;
}
#dataTbl {
	border-collapse:collapse;
}
#dataTbl td { padding:0.2em 0.5em 0.2em 0; }

th {
	text-align:left;
	font-size:90%;
}
tr.rowE { background-color: #ffc; }
tr.rowO { background-color: #eee; }
tr.void input { color:#fa9; }
tr.modified { background-color: #efe; }
#flipflop {
	position:fixed;
	top:20px;
	left:20px;
	visibility:hidden;
	border: 1px solid #df9;
	padding: 1em;
	background-color: #ffe;
}

input { font-size:75%; }
.pk input { width: 3em; border:0; padding-left:0.5em; }
.rp input { width: 6em; }
.pp input { width:4em; }
.description input { width:35em; }
.stamp input { width:9em; border:0; padding-left:0.5em; }
.operator input { width:8em; border:0; padding-left:0.5em; }
input.btn { color:black !important; }
.disabled { background-color:white; }
