@CHARSET "UTF-8";
table {
	border-collapse: collapse;
}
table#archived { }

div#helpdiv {
	border-style: solid;
	border-color: silver;
	border-width: 0pt 0pt 1px 1px;
	padding: 0.5em;
	text-align: left;
	position: absolute;
	right: 0pt;
	top: 0pt;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 70%;
}
		
div#header_div {
	margin-bottom: 1em;
}

td {
	vertical-align: top;
	font: normal 12px sans-serif;
	padding: 0.2em 0.3em;
	border: 1px solid silver;
}

table#current { margin-bottom: 1em; }
table#current caption { background-color: LightGreen; }
table#archived caption { background-color: LightGrey; }
table#create_subscriptions_tbl td { border: none; }
th {
	font: bold 11px sans-serif;
	background-color: #efefef;
	border: 1px solid #009;
	padding: 0.2em 0.4em;
	text-align: left;
	white-space: nowrap;
}
tr.a {background-color:rgb(255,255,240);}
tr.b {background-color:#efefef;}
tr.void td {color: #999; }

td a { text-decoration: none; }

caption {
	text-align: left;
	border: 1px solid gray;
}

.hidden-notes {
	position: absolute;
	left: 0pt;
	top: 1.5em;
	width: 15em;
	border: 1px solid blue;
	background-color: rgb(240,240,255);
	display: none;
	padding: 0.5em;
	z-index: 100;
}

fieldset#subscription_status { width: 20em; }
fieldset#extend_subscriptions, fieldset#create_subscriptions {
	width: 45em;
	margin-bottom: 1em;
	padding: 0;
	padding-left: 0.5em;
}

table#status td,th{
	background-color:white;
	border:none;
}

legend, caption {
	font: normal 75% serif;
}

div.notes {
	position: relative;
}

table#status span { padding-left: 0.3em; padding-right: 0.3em; }
span.current { background-color: LightGreen; }
span.expired {
	background-color: red;
	color: yellow;
	font-weight: bold;
}
span.anniv { background-color: yellow; }
span.canceled {
	background-color: red;
	color: yellow;
	font-weight: bold;
}
div#div_cancelbx {
/* the container for the cancel box */
	position:relative;
	z-index:10;
	margin:0.5em auto;
	width:35em;
}
#cancelbx {
	position: absolute;
	visibility: hidden;
	width: 30em;
	border: 1px solid navy;
	font: normal 75% sans-serif;
	background-color: rgb(255,255,240);
	padding: 0.5em;
}

form#div_extensions, form#create_extensions_frm {
	padding: 0;
	margin:0;
}

form#create_extensions_frm th{

}

table#extensions-tbl td, table#extensions-tbl th {
	white-space:nowrap;
	border: 1px solid silver;
	border-right: none;
}

input,select {
	font-size: 10px;
}
.input {
	width: 6em;
}
.input-pricing { width: 5em; }	
.lgbg { background-color: rgb(224,255,224); }
.lpbg { background-color: rgb(255,224,224); }

#extrahelp {
	display:none;
	position: absolute;
	padding: 0.5em;
	background-color: #eee;
	width: 30em;;
}

a.pbo {
	font-size:xx-small;
	vertical-align:top;
	background-color: #ff6;
	margin-right: 0.5em;
}

.strikethru { text-decoration: line-through; }
a:hover { color:red; }