td.edit {
	text-align: center;
}

td.stamp { }

td.edit a { 	text-decoration: none; }
tr.active td, li.active {
	background-color: #efe;
}
tr.pending td, li.pending {
	background-color: #eef;
}
tr.expired td, li.expired {
	background-color: #ff9;
}
tr.voided td, li.voided {
	background-color: #f99;
}
td.void_flg { text-align:center; }
