body {background-color: #FFFFFF; color: #000000;}
table {
	border-collapse: collapse;
}
p{ font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
 font-size:smaller;
 }
td.shell {
	border-width: 0;
	padding: 0;
	background-color: #C7DFDE;
	vertical-align: top;
}
td.main{
	background-color: white;
	padding: 0 2em 2em 2em;
}
h2 {font: bold 125% sans-serif;
   margin: 0.5em 1em; padding: 0;
   border-bottom: 1px solid rgb(50%,20%,20%);
}
ul.hotel li {
	list-style-image: url(/test/button.gif);
	list-style-type: square;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : smaller;
}
#mytd
{
	font-family : Arial, Verdana, sans-serif, Geneva;
	color: white;
	font-size: 125%;
	font-weight: bold;
	text-align : center;
}
/* menu styles */
h4 a {display: block;
   margin: 0 3px 0 0;
   padding: 1px 10px 1px 5px;
   text-decoration: none;
   font: normal 100% Arial, Verdana, sans-serif;
   color: #000000; background: transparent;
}
h4 a:visited {
	color: black;
}
h4 {
	color: #E8E200;
	margin: 0 3px 0 0;
	padding: 1em 0 0 0;
	font: bold 80% Arial, Verdana, sans-serif;
	border-right: 1px solid #44BBB6;
	border-bottom: 2px solid #44BBB6;
}
h4 a:hover {
	background-color: #5C6FA2;
	color: #FFFFFF;
}
d1{ font-family='Arial, Verdana, san-serif';
font-weight= 'bold';}
