/* STYLES FOR THE IMAGE DESCRIPTIONS IN THE PIECEMAKER IMAGE GALLERY BY MODULARWEB */

headline {
	display: block;
	font-size: 16px;
	color: #fcbf12;
}

paragraph {
	display: block;
	font-size: 12px;
	color: #80B2E4;
}

inline {
	display: inline;
	color: #80B2E4;
}

break {
	font-size: 7;
	display:block;
}

a {
	color: #FFFFFF;
	font-weight: bold;
	display: inline;
}

a:hover {
	color: #fcbf12;
	font-weight: bold;
	display: inline;
}
subhead {
	display: block;
	font-size: 10px;
	color: #fcbf12;
}