h1.style12 {
	font-size: 20px;
	text-align: center;
}

p#logo
{
	text-align: center;
}

div#store_container div#print
{
        text-align: right;
}

table#screen_container div#store_container p
{
	padding-bottom: 15px;
}


