/* Seasonal Theme CSS */

/* ********* ********* ********* ********* ********* 
BODY STYLES
Here we add styles for the BODY background and padding
and we can define styles for the hyperlinks
to make sure there are visible
*/
body { background-image: url("sep_leaves1.jpg"); padding: 10px; }
A:link { color: #99ccff; }
A:visited { color: #99ccff; }
A:hover { color: #99ccff; }
A:active{ color: #99ccff; }

/* ********* ********* ********* ********* ********* 
GENERAL STYLES
These class handle the global styles for the
calendar container, the headers, the Prev and Next
month selectors, the individual weekdays, the date
number and finally individual events
*/
.scCalendar {  }
.scHeader { font: bold 10pt verdana; color: #ffffff; padding: 5px; } 
.scMonthDropdown { width: 150px; }
.scYearDropdown { width: 150px; }
.scSelector { font: bold 14pt verdana; }
.scFilter { font: bold 10pt verdana; color: #ffffff; padding: 5px; } 
.scWeekNumber { font: bold 10pt verdana; color: #ffffff; padding: 5px; }
.scWeekday { font: 8pt verdana; color: #ffffff; height:100%; overflow: hidden;}
.scEvent { padding: 2px;}
.scPopup { position: absolute; top: 100px; left: 100px; width: 500px; height: 500px; border: 5px solid #336699; background-color:#336699; color: #ffffff; text-align: right; display:none; }
.scToday { font: bold 9pt verdana; }

/* ********* ********* ********* ********* ********* 
WEEKDAY STYLES
These classes handle the style for an entire date
based on Past, Present or Future
NOTE: These values will be overridden by identical style elements in scWeekday
*/
.scDateDead { }
.scDatePast { border: solid 1px #993300; }
.scDateCurrent { border: solid 1px #993300; }
.scDateFuture { border: solid 1px #993300; }

/* ********* ********* ********* ********* ********* 
EVENT STYLES
These classes handle the Background and Foreground
colors for individual events
NOTE: These values will be overridden by identical style elements in scEvent
*/
.scEventRed { color: #ff3333; }
.scEventOrange { color: #ffa000; }
.scEventYellow { color: #ffff00; }
.scEventGreen { color: #00ff00; }
.scEventBlue { color: #99ccff; }
.scEventPurple { color: #ff00ff; }
.scEventBlack { color: #999999; }

/* ********* ********* ********* ********* ********* 
DATE NUMBER STYLE
This class applies to the date number in a cell
*/
.scNumber { font: bold 9pt verdana; color: #cccccc; text-align: center; }

/* ********* ********* ********* ********* ********* 
ON MOUSE OVER STYLE
*/
.scOnMouseOver { border: solid 1px #ffffff; font: bold 9pt verdana;}


