body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #123576;
}
body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
	color: #333333;
}
.Header_Dark_Grey_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #666666;
	font-weight:bold;
}
.Main_Header_Dark_Grey_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #000000;
	font-weight:bold;
}