.courseTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	font-weight: bold;
	color: #000000;
}
.normalText {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}
.normalTextBold {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
}
.normalTextBoldItalic {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-style: italic;
}
.normalTextItalic {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-style: italic;
}
