.linkproperties {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #336600}
.resumelinks {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #00FF66}
