/*

some general styles to be used across presentations and resources implementing the "new" Club Rewards look

avoid styles on tags that cannot be overridden easily... ie. colors on 'a' tags, 'li' bullets... basically anything that does not apply in a general sense

aptly named classes should be used for non general purposes

*/

body {
	color:#474747;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	background-image:url(/images/bg/bg_2.jpg);
	margin:0;
}
.Text_Content {	
    line-height: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #474747;
}
.Text_Body_Content {	margin-bottom: 15px;
    line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.Text_Content_bold { font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #474747;
}
.Text_Content_heighlight {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #A35912;
	text-transform: uppercase;
	font-weight:bold;
}
.registration_TextField {
	background-color:#FFFFFF;
	border:1px solid #999999;
	color:#666666;
	font-family:verdana,sans-serif;
	font-size:10px;
}
li.checkbullet{  
	list-style: url(images/icons/icon_checkmark.png); 
	VERTICAL-ALIGN: super; 
	padding-bottom: 5px;
}
.style2 {	
	font-size: 12px;
	color: #666666;
}
.style5 {
	font-size: 12px;
	line-height: 18px;
	font-weight: bolder;
	color: #000000;
}
.style12 {
	font-size: 15px;
	font-family: verdana;
	color: #224C9B;
	font-weight:bold;
}
.style13 {
	font-size: 14px;
	font-family: verdana;
	color: #FFFFFF;
	font-weight:bold;
}
.text_orange {
	font-size: 12px;
	font-weight: bold;
	color: #EF8003;
}
.footer_copyright {	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #999999;
}
.nav_footer_white_padding:link {
    font-size: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
.nav_footer_white_padding:visited {
    font-size: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
.nav_footer_white_padding:hover {
    font-size: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #CCCCCC;
	text-decoration: underline;
}
.nav_footer_white_padding:active {
    font-size: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
.nav_orange:link {
    font-size: 12px;
	color: #EF8003;
	text-decoration: underline;
}
.nav_orange:visited {
    font-size: 12px;
	color: #EF8003;
	text-decoration: underline;
}
.nav_orange:hover {
    font-size: 12px;
	color: #EF8003;
	text-decoration: none;
}
.nav_orange:active {
    font-size: 12px;
	color: #EF8003;
	text-decoration: underline;
}
.nav_blue_line:link {
    font-size: 12px;
	color: #00529E;
	text-decoration: underline;
}
.nav_blue_line:visited {
    font-size: 12px;
	color: #00529E;
	text-decoration: underline;
}
.nav_blue_line:hover {
    font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.nav_blue_line:active {
    font-size: 12px;
	color: #00529E;
	text-decoration: underline;
}
.image_right_padding_only {
padding-right: 10px;
}
.style14 {
	font-size: 12px;
	font-family: verdana;
	color: #224C9B;
	font-weight:bold;
}
.registration_dropmenu {
    border-color: #977339;
	background-color: #FFFFFF;
	color: #666666;
	font-family: verdana;
	font-size: 8pt;
	border: 1px solid #999999;
	width: 210px;
}
.error
{
	background-color: #FFCCCC;
}