@charset "UTF-8";

.hide {
	display: none;
}
.show {
	display: inline;
}
	
.registration_TextField
{
	border-color: #977339;
	background-color: #FFFFFF;
	color: #666666;
	font-family: verdana;
	font-size: 8pt;
	border: 1px solid #999999;
	width: 205px;
}

.registration_dropmenu
{
	border-color: #977339;
	background-color: #FFFFFF;
	color: #666666;
	font-family: verdana;
	font-size: 8pt;
	border: 1px solid #999999;
	width: 210px;
}

.style5
{
	font-size: 12px;
	line-height: 18px;
	font-weight: bolder;
	color: #000000;
}

.notices
{
	background-color: #FFFFFF;
	line-height: 20px;
}

.warnings
{
	background-color: #FFFFCC;
	line-height: 20px;

}

.errors
{
	background-color: #FFCCCC;
	line-height: 20px;
}

body
{
	background-color: #eeffee;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

p
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/*
ul
{
	list-style-image: url(/images/icons/icon_checkmark.png); 
	vertical-align: super; 
}

*/
