body {background-color: #003366; color: black;}
td {border-width: 0; padding: 0;
font: small Verdana, Arial,san-serif;
}
li {12px Verdana, Arial, sans-serif; 
margin: 1em 2.5em;
}

ul{list-style: url(http://www.clubshop.com/test/lisa/2008sched/bluebullet.gif);}


td#banner {border-bottom: 2px solid #FFFFFF; height: 30px; }
td#banner h1 {color:#0033CC;
   margin: 0; padding: 0.25em 0 0.125em 0;
   font: bold 125% Arial,san-serif; 
   }
td#main {
	background-color: #FFFFFF;
	color: black;
	padding: 1em;
	font: small Verdana, Arial,san-serif;
	vertical-align:top;
	

	
}
td#main h2 {
	font: bold 125% Verdana, Arial, Helvetica, sans-serif;
	margin: 0.5em 1em;
	padding: 0;
	border-bottom: 2px solid #000084;
	vertical-align:top;
	text-align: center;
	color: #003366;
}

td#main h3 {
	font: bold 100% Verdana, Arial, Helvetica, sans-serif;
	margin: 0.5em 1em;
	padding: 0;
	border-bottom: 1px solid #000099;
	vertical-align:top;
	text-align: left;
	color: #000084;
}
td#main p {margin: 1em 2.5em;}
td#sidelinks {
	vertical-align: top;
	border-right: 1px solid #910000;
	background-color: #DDDAD1;
	width: 110px;
	text-align: center;
}
td#footer {background-color: #0033CC;
   border-top: 1px ;
   text-align: right; font-size: 85% ;
   padding-top: 0.03em; font-style: italic bold; color:#FFFFFF;}
