textarea:focus { background-color: #efe; }

table {
	empty-cells:show;
}

table.reportTbl a {
	text-decoration: none;
}

div#reportingOn {
	border-left: 1px solid silver;
	border-bottom: 1px solid silver;
	background-color: #ffffee;
	padding: 5px;
	margin-bottom: 3px;
	text-align: left;
}

table.reportTbl {
	border: 1px solid black;
	border-collapse: collapse;
}

table.reportTbl th.acttype {
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	padding-right: .15em;
	padding-left: .15em;
}

/*
	default td style for the report table
	this makes all our bullets centered
	we can take care of text cells specifically since there are fewer of those
*/
table.reportTbl td {
	text-align: center;
	padding: 3px;
	border: 1px solid black;
}

table.reportTbl td.alias {
	border-right: none;
}

table.reportTbl td.checkbox {
	font: normal 9px arial,helvetica,sans-serif;
	white-space: nowrap;
	border-left: none;
	text-align: left;
}

td.checkbox label span{
	vertical-align: 25%;
}

table#act_fees {
	margin-left: 3em;
	border-collapse: collapse;
	background-color: #FFFFFF;
}

table#act_fees td {
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	border: thin solid #000099;
	background-color: #FFFFFF;
	text-align: center;
	padding: 0.2em 0.3em;
} 

.lbl { 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
  
.ctl { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

ul.ctl {
	color: #000066;
	line-height: 95%;
}

fieldset.ctl {
	display: none;	/* our initial setting */
}

/* on the reporting page... p.legend is actually the last reported date at this time ;) */
ul.legend, p.legend {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 95%;
	color: #000000;
	text-align: left;
}

table.legend {
	border-collapse: collapse;
}

table.legend td {
	font: normal 10px arial,helvetica,sans-serif;
	border-bottom: 1px solid silver;
}

.data, table.reportTbl td.data {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: left;
}
 
th {
	font-size: 90%;
	border: 1px solid black;
}

.membership
{ 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000099;
	text-align:left;
}

.pp { 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #009;
	text-align:left;
}

.down { 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #cc0000;
	text-align:left;
}

.admin { 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-align:left;
}

.cs { 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #009;
	text-align:left;
}

.gi { 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #009900;
	text-align:left;
}

a.plr {
	text-decoration: none;
	color: #0000aa;
}

tr.e { background-color: #eee }
tr.f { background-color: #efe }

form.csvlist_form {
	margin-top: 1em;
/*	display: none;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 50%;
}

form.csvlist_form input {
	margin: 0.6em;
	font-size: 10px;
}

form.csvlist_form textarea {
	margin: 0.6em;
	font-size: 11px;
}

/* the following two styles apply to the anchor on the id number, fud means followup is done or not not needed, fun means that followup is needed */
a.fud {}
a.fun {
	color: red;
}

/* a cell containing the text of a reminder */
.type33 {
	font: normal xx-small arial,helvetica,sans-serif;
	color: navy;
}

/* the container around the followup form controls */
#activity_followup {
	display: none;	/* our initial value which can be reset by javascript */
	color: navy;
	width: 50%;
	margin-right: auto;
	margin-top: 1em;
}

/* hr tags in the actual report */
hr.report_hr {
	text-align: left;
	width: 50%;
	margin-right: auto;
}

td.checkbox input {
	margin:0;
}

td.furoles {
	text-align: right;
	font: normal 11px arial,helvetica,sans-serif;
	padding-left: 0.5em;
}

table.legend td.col1 {
	text-align:right;
}

#funeeded {
	font: normal 10px Arial, Helvetica, sans-serif;
	color: #009;
}

a#showhidelegend {
	margin-right: 1em;
}

img.emtIcon {
	vertical-align:middle;
	padding: 2px;
}

td.activityid {
	text-align:right;
	padding-right: 0.2em;
	font-size: 9px;
}

input[class^='ckbx_'] {
	outline: 2px solid #faa;
}

ul.InColFu {
	margin-top: .2em;
	margin-bottom: .2em;
	padding-left: .6em;
	list-style-position: inside;
}

ul.InColFu li.fun {
	list-style-image: url(/images/icons/redX-8x8.png);
	color: #600;
}

ul.InColFu li.fud {
	list-style-image: url(/images/icons/green_tick_8x8.png);
	color: #030;
}

img.greenTick {
	margin: 0 5px;
}

.tooltip {
	display: none;
	position: absolute;
	border: 1px solid #333;
	background-color: #161616;
	border-radius: 5px;
	padding: .5em;
	color: #fff;
	font-size: 80%;
	font-family: Arial, Helvetica, sans-serif;
}