td.lbsh{
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
color: blue;
text-align: center;
}

.lbs1{
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
color: black;
background-color : #F5F5F5;
text-decoration : none;
}

.lbs2{
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
text-decoration : none;
}

td.lbl{
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
}
td.x{
font-family: Arial, Helvetica, sans-serif;
font-size: 8pt;
}

input.in{
font-size: 12px;
}

input.tin{
font-family: Arial, Helvetica, sans-serif;
font-size: 6px;
background-color:; background : Red;
color: #BEE0FA;
}

input.min{
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
background-color:; background : Red;
color: #BEE0FA;
}

td.filler{
height: 15px;
}

lbltextarea{
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: blue;
}

td.lbt{
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
color: black;
}

body.t{ 
background : #BEE0FA;
}

tr.lbs3, td.lbs3{
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
color: black;
background-color : #F5F5F5;
text-decoration : none;
text-align: left;
}

tr.lbs4, td.lbs4{
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
text-decoration : none;
}

div.lbs1{
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
color: black;
text-align: center;
}

div.lbs2{
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
color: black;
text-align: left;
}


div.lbs3{
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
color: black;
text-align: center;
}

td.lbc{
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
color: red;
background-color: Yellow;
text-align: center;
font-weight: 900;
}

input.bluein{
font-family: Arial, Helvetica, sans-serif;
font-size: 6px;
background-color:; background : blue;
color: yellow;
}

.b {
	font-size: 11pt;
	color: #0000ff;
	font-style: italic;
}

.n {
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	font-family:  Arial, Helvetica, sans-serif ;
}

.r {
	font-size: 11pt;
	color: #ff0000;
	font-style: italic;
}

td.heading {
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	font-family:  Arial, Helvetica, sans-serif ;
}

td.field{
	font-size: 10pt;
	color: #000000;
	font-style: italic;
}

td.data{
	font-size: 9pt;
	color: #000000;
	font-style: normal;
	padding-left: 6px;
	background-color: White;
	font-weight: normal;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

td.line{
	background-color : Silver;
}

span.ins {
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	font-family:  Arial, Helvetica, sans-serif ;
}

span.ex {
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	font-family: "Times New Roman", Times, serif;
}

span.heading {
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	font-family:  Arial, Helvetica, sans-serif ;
}

.fp {
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
}

input, .in {
	font-size: 12px;
}

.q{
	font-family: Arial, Helvetica, sans-serif;
	font-size : 8pt;
}

.wt {
	font-size: 10pt;
	color: #ffffff;
}
