body {
	font-size: 90%;
	font-family:sans-serif;
}

form, h3 {margin:auto; text-align:center;}
select#vendor{width:15em}
select, input {
	font-size:85%;
}
select#affiliate{width:10em;}
p#newvendoralert {
	font-size: 90%;
	width: 70%;
	margin:1em auto;
	border:2px inset yellow;
	padding: 0.5em;
	color: brown;
	text-align: left;
}

table#main_tbl {
	margin: auto;
}

ul#instructions {
	margin: 2em auto;
	border: 1px inset blue;
	padding: 0.5em 1.5em;
	font-size: 90%;
	width: 70%;
}

li { margin: inherit 1em; }