.wt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
}

.n {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

td.data{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.r {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #ff0000;
}

.bodytext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

div.direct{
	font-family: Arial, Helvetica, sans-serif;
	color: #000099;
	font-weight: bold;
	font-size: 14px;
}

.fp{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

.sp{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
 }
