.tip_trigger {
    cursor: help;
}

span.tip {
    font-family: arial,helvetica,sans-serif;
    font-size: x-small;
    font-weight: normal;
}

.tip {
    background: none repeat scroll 0 0 #00376F;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: none;
    padding: 10px;
    position: absolute;
    text-align: left;
    width: 20%;
    z-index: 1000;
}

