/* used in conjunction with another stylesheet for the profile update application */

/* currently a div that will appear if there are errors */

#page_errors
{
	text-align: left;
	padding: 3px 5px;
	margin-right:auto;
	margin-left:auto;
	width:70%;
	border: 1px inset #33a;
	margin-bottom: 0.5em;
	color: red;
}

#page_errors a {
	color: red;
}

#update_successful {
	border: 1px solid #0f0;
	padding: 1em;
	color: green;
}
