td{ padding: 2px  }
tr.alt1{ background-color: #ffffee }
tr.alt2{ background-color: #efffef }
table#data{ border-collapse:collapse; border: 1px inset silver; }
table#data td
{
	padding: 5px;
	border-bottom: 1px dotted silver;
}
.sectionLeft
{
	border-left: 1px solid black;
	padding: 0.5em;
}
 
 .sectionBottom
{
	border-bottom: 1px solid black;
}

 .sxTop
{
	border-top: 1px solid black;
}

.sectionLbl
{
	padding-left: 0.5em;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 80%;
	background-color: #f6f6f6;
	border: 1px solid silver;
	border-bottom-color: black;
	height: 22px;	/* padding x2 + question mark image borders 3+2 + height */
}

.sectionBg
{
	background-color: #f6f6f6;
}

.sxNote
{
	/*border-right: 1px dotted silver;
	border-bottom: 1px dotted silver;
	border-top: 1px dotted silver;
	*/
	border: 1px dotted black;
	font-size: 75%;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0.1em 0.5em;
	background-color : #ffe;
}

.ccpayagree
{
	margin: 0 1em;
	font-family: sans-serif;
	font-size: 90%;
	padding: 1em;
	border: 1px inset navy;
}

.agree_choice
{
	text-align: center;
	background-color: #eef;
	border: 1px inset silver;
	padding: inherit;
	font-weight: bold;
}

.agree_choice input
{
	margin-left: 1.5em;
	margin-right: 0.2em;
}

.acct_info
{
	font-family: sans-serif;
	font-size: 85%;
	background-color: rgb(255,255,240);
	border: 1px solid #eee;
	padding: 0.5em;
}

#acct_info td
{
	white-space: nowrap;
}

.data
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #000066;
	text-align: left;
	padding-left: 2px;
	white-space: nowrap;
}
