 .h2
 {
 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
 font-size: 16px;
 font-weight: bold;
  }
  
 .h3
 {
 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
 font-size: 14px;
 font-weight: bold;
 }
 
 .h4
 {
 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
 font-size: 14px;
 font-weight: normal;
 }
 
 .h5
 {
 font-family:  Arial, Helvetica, sans-serif;
 font-size: 14px;
 font-weight: normal;
 }
 
 .h6,h1
 {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 font-weight: normal;
 }
 
  .fp
 {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 10px;
 font-weight: normal;
 }
