th{
     font-size: 10pt;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
     text-align: left;
}
     
td.data{
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

td.data_b{
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: italic;
}

.note{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

span.note_nop{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 8pt;
      color : Red;
}

span.h5{
	font-size: 9pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000099;
}

.contact{
	font-size: 9pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

.contact_b{
	font-size: 9pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

h4, .h4{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
}

h3{
	font-family: Arial, Helvetica, sans-serif;
}

h2{
	font-family: Arial, Helvetica, sans-serif;
}

.links{
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}