body {
	font-size: 100%;
	background-color: white;
	color: black;
}
p{font-family: Verdana, Arial, sans-serif;
 font-size: smaller;
 }

table.assign{
	border: thin solid #404269;
	width: 100%;
	}


td.assign{
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
	color: White;
	background-color: #404269;
	border-bottom : Gray;
}
hr{  color: #9C6300;
}

p.indent{text-indent: 2em;
}

div.indent{text-indent: 1em;
}

p.sub{
 font-family: Verdana, Arial, sans-serif;
 font-size: medium;
 font-weight: bold;
 color: #9A6843;
 text-indent: 5%;
  }
h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: Medium;
	color: #9A6843;
}
h4 {color: #404269;
}

table.xcolor{border: thin solid #9C6300;

}


tr.acolor{font-family: Verdana, Arial, sans-serif;
 font-size: smaller;
  background-color: #DCAF72;
 text-align: center;
 }
 tr.bcolor{font-family: Verdana, Arial, sans-serif;
 font-size: smaller;
 background-color: #FFF9F0;
 text-align: center;
  }
  
 tr.cell{font-family: Verdana, Arial, sans-serif;
 font-size: smaller;
 font-weight: bold;
 text-align: center;
 }
 
 
 	table.notice{
	border: thin solid #FF9C00;
	width: 100%;
	text-align: center;
	background-color : #FFFFCE;
}
td.notice{font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
	color: Black;
	text-align: center;
	}
	
td.quote{font-family: Verdana, Arial, sans-serif;
	font-size: smaller;
	color: Black;
}
 ul{ font-family: Verdana, Arial, sans-serif;
  font-size: small;
  }

li { font-family: Verdana, Arial, sans-serif;
  font-size: small; }

table.xcolor{border: thin solid #9C6300;
width: 90%;
}

p.red{ color: #FF0000;}
p.close {
	font-family: Arial, Helvetica, sans-serif;
	font-size : x-small;
}
.colora{
	font-family: Verdana, Arial, sans-serif;
	font-size: smaller;
	background-color: #DEB887;
	text-align: left;
	padding:5px;
}
.footer_divider {
font-family: Verdana, Arial, sans-serif;
color: #CD853F;  
font-weight: bold;
}

li.c {
	list-style: url("http://www.clubshop.com/images/icons/icon_bullet_brown_arrow.png");
}

li.d { 
	list-style: url("http://www.clubshop.com/images/icons/icon_arrow.png");
}

