body {
	font-size: 100%;
	background-color: white;
	color: black;
}
p{font-family: Verdana, Arial, sans-serif;
 font-size: smaller;
 }

table.assign{
	border: thin solid #404269;
	width: 100%;
	}


td.assign{
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
	color: White;
	background-color: #404269;
	border-bottom : Gray;
}
hr{  color: #784B68;
}

p.indent{text-indent: 2em;
}

div.indent{text-indent: 1em;
}

p.sub{
 font-family: Verdana, Arial, sans-serif;
 font-size: medium;
 font-weight: bold;
 color: #784B68;
 text-indent: 5%;
  }
h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: Medium;
	color: #853F7A;
}
h4 {color: #784B68;
}

table.xcolor{border: thin solid #A36B90;
width: 98%;
}


tr.acolor{font-family: Verdana, Arial, sans-serif;
 font-size: smaller;
  background-color: #FFFFFF;
 
 }
 tr.bcolor{font-family: Verdana, Arial, sans-serif;
 font-size: smaller;
 background-color: #F7F2F5;

  }
  
 tr.cell{font-family: Verdana, Arial, sans-serif;
 font-size: smaller;
 font-weight: bold;
 text-align: center;
 }
 
 
 	table.notice{
	border: thin solid #FF9C00;
	width: 100%;
	text-align: center;
	background-color : #FFFFCE;
}
td.notice{font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
	color: Black;
	text-align: center;
	}
	
td.quote{font-family: Verdana, Arial, sans-serif;
	font-size: smaller;
	color: Black;
}
 ul{ font-family: Verdana, Arial, sans-serif;
  font-size: small;
  }

li { font-family: Verdana, Arial, sans-serif;
  font-size: small; }


p.red{ color: #FF0000;}
p.close {
	font-family: Arial, Helvetica, sans-serif;
	font-size : x-small;
}
p.blue{ color: #003399;
}
