body,td {
 	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
 	font-size: 12px;
 	color: #000000;
 	}
table {
	border: 2pt ridge;
	align: center;
	width: 700px;
	height: 153px;
	text-align: leftt;
	margin-left: auto;
	margin-right: auto;
	}
.disabled {
	color: rgb(192,192,192);
	}
.enabled {
	font-weight: bold;
	color: rgb(0,0,0);
	}
.main_body {
	text-align: left;
	margin-left: 40px;
	}
.money {
	color: #009933;
	}
.note {
	font-size: 80%;
	}
