.good {
	font-size: 11pt;
	color: #0000ff;
	font-style: italic;
}

.bad {
	font-size: 11pt;
	color: #ff0000;
	font-style: italic;
}
.center{
	text-align : center;
}
.co{
	font-size: 11pt;
	color: #000000;
	font-weight: bold;
	border : thin solid Black;
	padding-bottom : 2px;
	padding-top : 2px;
	padding-left : 2px;
	padding-right : 2px;
}
table.info{
	border-color: Red;
	border: 1px;
	border-style : dotted;
}
.head4{
         font-family: sans-serif;
         font-size: 14px;
         font-weight: bold;
         background-color: white;
         text-align : center;
         padding-bottom : 20px;
         padding-bottom : 20px;
}
.note{
         font-family: sans-serif;
         font-size: 11px;
         background-color: white;
}
.data{
         /* the default styles for the data */
         font-family: sans-serif;
         font-size: 60%;
         padding: 2px;
         margin-bottom: 1px;
         white-space : nowrap;
}
   .trans_date{
    font-family:  Arial, Helvetica, sans-serif ;
    font-size: 90%;
    font-weight: bold;
    background-color: white;
    text-align : center;
    }
    .trans_id{
    font-family:  Arial, Helvetica, sans-serif ;
    background-color: white;
    text-align : center;
    font-size: 90%;
    }
.amount{
         padding: 5px;
         margin-bottom: 1px;
         background-color: white;
         white-space : nowrap;
         text-align : right;
}
    .total{
    padding: 5px;
    margin-bottom: 1px;
    background-color: white;
    white-space : nowrap;
    text-align : right;
    border-top : medium solid Black;
    }
.bigblue{
         font-family: Square721 BT;
         font-size: 22px;
         color: #003399;
         font-weight: bold;
}
.request{
         font-family: sans-serif;
         font-size: 11px;
         text-align : left;
         padding-bottom : 2px;
         padding-top : 2px;
         padding-left : 2px;
         padding-right : 2px;
         white-space : nowrap;
}
.label{
         font-family: sans-serif;
         font-size: 80%;
         text-align : right;
         padding-right: 5px;
         white-space : nowrap;
}
.link{
         font-family: sans-serif;
         font-size: 80%;
         white-space : nowrap;
         padding-left: 10px;
         padding-right: 10px;
}
.button{
         font-family: sans-serif;
         font-size: 80%;
         white-space : nowrap;
         padding-left: 10px;
         padding-right: 10px;
}
.footer{
         text-align: center;
         background-color: white;
}
body{
         background-color: white;
}
th{
	 font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	 font-size : 60%;
	 text-align: center;
	 font-weight: bold;
	 padding-bottom: 4px;
	 border-bottom-style: double;
	 border-left-color: #CCC;
	 border-left-style : dotted;
	 border-left-width : 1px;
	 padding-left: 3px;
}
tr.a{
	background-color: #FFFFCE;
}
tr.b{
	background-color: #EEE8AA;
}
td{ font-family: Arial,Geneva,Verdana,sans-serif;
font-size: smaller; }
td.deactivate{
	background-color: white;
}
