
.disabled{
	color:#CCCCCC;
}

.good {
	font-size: 11pt;
	color: #0000ff;
	font-style: italic;
}

.bad {
	font-size: 11pt;
	color: #ff0000;
	font-style: italic;
}
.instructions {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	/* font-weight: bold; */
	 text-align: left;
}
.note {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
}
.head3 {
         font-family: sans-serif;
         font-size: 16px;
         font-weight: bold;
         background-color: white;
         text-align : center;
         padding-bottom : 20px;
         padding-bottom : 20px;
}
.head4 {
         font-family: sans-serif;
         font-size: 14px;
         font-weight: bold;
         background-color: white;
         text-align : center;
         padding-bottom : 20px;
         padding-bottom : 20px;
}
.button {
         font-family: sans-serif;
         font-size: 80%;
         white-space : nowrap;
         padding-left: 10px;
         padding-right: 10px;
}
th{
	 font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	 font-size : 80%;
	 text-align: center;
	 font-weight: bold;
	 padding-bottom: 4px;
	 border-bottom-style: double;
	 border-left-color: #CCC;
	 border-left-style : dotted;
	 border-left-width : 1px;
	 padding-left: 10px;
	 padding-right: 10px;
}
td.field {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	color: #000000;
	text-align: right;
	padding-right:10px;
}
td.input {
 	text-align: left;
}
td.data {
	font-size: 90%;
	padding-left: 0.5em;
}
td.trans_id {
	text-align:center;
	font-size: 90%;
}
.amount{
         padding: 5px;
         margin-bottom: 1px;
         background-color: white;
         white-space : nowrap;
         text-align : right;
}
    .total{
    padding: 5px;
    margin-bottom: 1px;
    background-color: white;
    white-space : nowrap;
    text-align : right;
    border-top : medium solid Black;
    }
