/* used by the cspma track as additional styles, particularly for error handling */

.error {
	font-family: sans-serif;
	color: Red;
	font-size: 80%;
}

.field_req {
	color: #ff0000;
	font-weight: bold;
}

/* stand alone 'red' asterisk */
span.ra_sa{
	color:red;
	margin-left: 0.5em;
}

/* inline 'red' asterisk ... and other red things :) */
.ra{ color:red }

.Text_Body_Content {
	font-family: sans-serif;
	font-size: 80%;
}