<style type="text/css">

body {
	font-size: 100%;
	background-color: white;
	color: black;
}
div{ font-family: Verdana, Arial, sans-serif;
  font-size: small; }
h5 {
font-family: Verdana, Arial, sans-serif;
 font-size: 90%;
 font-weight: bold;
 color:#3E6768;
 }

 sub{
	font-family: sans-serif,Arial,verdana;
 font-size: 100%;
 font-weight: bold;
 color: #3E6768;
 text-indent: 10%;
  }
p { font-family: Verdana, Arial, sans-serif;
  font-size: small;
  }
 
tr.a { font-family: Verdana, Arial, sans-serif;
  font-size:90%;
  }
  
  
hr{color:#3E6768;
}
  
p.a{ font-family: Verdana, Arial, sans-serif;
  font-size:80%;
  color: #3E6768;
  
  }
  li { font-family: Verdana, Arial, sans-serif;
  font-size: small;
}

a: link{text-decoration: underline;
    color: green;
}
a:hover {
    text-decoration: underline;
    color: green;
}

dt { 
	font-family: Verdana, Arial, sans-serif;
  	font-size:80%;
	color: #003399;
	font-weight:bold;
}
dd{font-family: Verdana, Arial, sans-serif;
  	font-size:80%;
	}
td.a{
font-family: Arial, Verdana,sans-serif;
font-size: small;

}
hr color: #006699;
}
td.quote{font-family: Verdana, Arial, sans-serif;
  font-size:80%;
  color: #006699;
  text-align:center;
     }
 ul{ font-family: Verdana, Arial, sans-serif;
  font-size:80%;
  
  }

</style>