body {
	font-size: 100%;
	background-color: white;
	color: black;
}
div{ font-family: Verdana, Arial, sans-serif;
  font-size: small; }
h5 {
	font-family: Verdana, Arial, sans-serif;
	font-size: 100%;
	font-weight: bold;
	color: #0031CE;
}

 sub{
 font-family: Verdana, Arial, sans-serif;
 font-size: 100%;
 font-weight: bold;
 color: #41436A;
 text-indent: 10%;
  }
p { font-family: Verdana, Arial, sans-serif;
  font-size: small;
  }
 
tr.a { font-family: Verdana, Arial, sans-serif;
  font-size:90%;
  }
   
hr{color:#41436A;
}
  
p.a{ font-family: Verdana, Arial, sans-serif;
  font-size:80%;
  color: #41436A;
  
  }
  ol { font-family: Verdana, Arial, sans-serif;
  font-size: small;
}
  li { font-family: Verdana, Arial, sans-serif;
  font-size: small;
}

a: link{text-decoration: underline;
    color: green;
}
a:hover {
    text-decoration: underline;
    color: green;
}

dt { 
	font-family: Verdana, Arial, sans-serif;
  	font-size:80%;
	color: #003399;
	font-weight:bold;
}
dd{font-family: Verdana, Arial, sans-serif;
  	font-size:80%;
	}
td.a{
font-family:  Verdana, Arial,sans-serif;
font-size: small;

}

td.quote{font-family: Verdana, Arial, sans-serif;
  font-size:80%;
  color: #006699;
  text-align:center;
     }
 ul{ font-family: Verdana, Arial, sans-serif;
  font-size:80%;
  
  }
  table.assign{
	border: thin solid #404269;
}

td.assign{
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	color: white;
	font-weight: bold;
	background-color: #404269;
	border-bottom : Gray;
}

table.calcs {
	border: thin solid #0066CC;
	width: 300px;
	
}
tr.calcs { border: thin solid #0066CC;
font-family: Verdana, Arial, sans-serif;
font-size: 100%;
text-align: center;
 }

td.back {background-image: url(http://www.clubshop.com/vip/ebusiness/course_1/back.png);
}