/* EventLogin.css */
body {
	background-color: white;
}

.error { color: red; }

div.error {
	margin: 1em;
}

fieldset {
	padding: 1em;
/*	display:inline; */
}

form {
	margin-bottom: 1em;
	width: 600px;
}

input,select {
	margin: 0 0.2em;
}

legend {
	color: Navy;
	font: bold 90% verdana,helvetica,arial,sans-serif;
}
