div.q {
	font-size: 10pt;
	color: #3333FF;
	font-style: normal;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

p.q {
	font-size: 10pt;
	color: #3333FF;
	font-style: normal;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

div.a {
	font-size: 10pt;
	font-style: normal;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
}

p.a {
	font-size: 10pt;
	font-style: normal;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
}

h2 {
	font-size: 18pt;
	font-weight: lighter;
	font-family : "Times New Roman", Times, serif;
}

span.q {
	font-size: 10pt;
	color: #3333FF;
	font-style: normal;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

span.a {
	font-size: 10pt;
	font-style: normal;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
}

a.a {
	font-size: 10pt;
	font-style: normal;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	color: #0000ee;
}