textarea:focus , input:focus , select:focus { background-color: #efe; }
input { font-size: 80%; }
hr {
	width: 50%;
	text-align: left;
	margin-left: 0;
}
h4 {
	margin:0.5em;
	font: bold 80% arial,helvetica,sans-serif;
}
table {
	margin:0.5em;
	border-collapse: collapse;
	background-color: #ffe;
}

table#memberdetail_tbl {
	margin: 0;
	width: 100%;
}

td {
	border:1px solid #aaa;
	padding: .2em .3em;
}

form { margin:0; }

/* the form under the member detail */
form#vipnotes {
	font-size: 80%;
	border: 1px inset gray;
	padding: 0.5em;
	margin-top: 0.5em;
}

/* the form with the drop-down of report links */
form#reportfrm {
	margin-bottom: 0.5em;
	font-size: 80%;
}

/* the container around the member detail table */
div#memberdetail {
	float:right;
	padding: 0;
	width: 350px;
	margin-left: 1em;
}

tr.odd { background-color: #efe; }
tr.even { background-color: #eee; }
tr.followup {
	background-color: #efe;
}
tr.activities_done { background-color: #ccc; }
form#followup_form {}

div#form_div {
	width: 350px;
	padding: 0.5em;
	border: 1px inset gray;
	font-size: 80%;
}

/* the submit button on the followup form */
#submit_btn {
	position: relative;
	left: 27em;
}

#check_activities_note {
	margin-top: 0.5em;
	margin-bottom: 0.2em;
	background-color: #ffc;
	padding: 0.2em;
}

/* the tables that contain followup entries */
table.followups_tbl td { font-size: 80%; }

/* the tables that contain activities that have not been followed up on */
table.activities_tbl td { font-size: 80%; }

/* "reminder" cells that contain something */
td.reminder {}

/*
"reminder" cells that contain nothing
The concept is to make the cell disappear altogether by removing the border and setting the background to the page background
*/
td.empty_reminder {
	border: 0;
	background-color: #ffe;
}

td.done_good { width:1em; }

.lbl{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 11px;
 font-weight: bold;
}

td.dat{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 11px;
 font-weight: normal;
}

.errors {
	color: red;
	font-size: 85%;
}

img.emtIcon {
	vertical-align:top;
	padding: 2px;
}

span.emailgood {
/* this is currently a checkmark */
	color: green;
	font-weight: bold;
}

span.emailbad {
/* this is currently an upper-case X */
	color: red;
	font-weight: bold;
}

span.parent_label {
	/* surrounds the parent label text in followup done when we have children */
	font-size: 90%;
}

span.child_label {
	/* surrounds the child label text in followup done when we have children */
	font-style: italic;
	display: block;
	margin-left: 4em;
}

span.child_label::before {
	content: '» ';
}