div#container {
	width: 700px;
	margin-left:auto;
	margin-right:auto;
}
table#myform {
	margin-left:auto;
	margin-right:auto;
	border-collapse: collapse;
	background-color: rgb(240,255,240);
}
table#myform td {
	border: 1px solid silver;
	padding: 0.2em 0.3em;
}
td#amountcell input { /* Karl embedded the style in the sub-template so this is the easiest way to make this work */
	background-color: rgb(255,255,240);
}
.in {
        font-size: 10px;
}
.instructions {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-weight: bold;
	 text-align: left;
}
ol {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.note {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.link {
	white-space: nowrap;
}
.head3 {
         font-family: sans-serif;
         font-size: 16px;
         font-weight: bold;
         text-align : center;
         padding-bottom : 20px;
         padding-bottom : 20px;
}
.head4 {
         font-family: sans-serif;
         font-size: 14px;
         font-weight: bold;
         text-align : center;
         padding-bottom : 20px;
         padding-bottom : 20px;
}
.button {
         font-family: sans-serif;
         font-size: 80%;
         white-space : nowrap;
         padding-left: 10px;
         padding-right: 10px;
}
td.field {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-align: right;
	padding-right:10px;
}
td.input {
 	text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
}
td.data {
	font-size: 90%;
	padding-left: 0.5em;
}
/*td.trans_id {
	text-align:center;
	font-size: 90%;
}*/
.amount{
         padding: 5px;
         margin-bottom: 1px;
         background-color: white;
         white-space : nowrap;
         text-align : right;
}
/*    .total{
    padding: 5px;
    margin-bottom: 1px;
    background-color: white;
    white-space : nowrap;
    text-align : right;
    border-top : medium solid Black;
    }*/
