body {
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%
}
table {border-collapse: collapse}
th{
	font-size: 80%;
	font-weight: normal;
	text-align: left;
	padding: 2px 3px;
}
th.ss{
	padding: 1px 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #333;
}
td.ss{
	border-style: none solid solid solid;
	border-width: 0 1px 1px 1px;
	border-color: silver;
}
td {
	font-size: 75%;
	padding: 2px 4px;
}
.data{
	font-weight: normal;
}

.data_c{
	font-weight: normal;
	color: #ff0000;
}

.data_p{
	font-weight: normal;
	color: #ff00ff;
}

.data_m{
	font-weight: normal;
	color: #339933;
}

.data_s{
	font-weight: normal;
	color: #990099;
}
 
tr.g{
	background-color: silver;
}

div.note{
	font-size: 80%;
}

span.note_nop{
	font-size: 80%;
	color: #ff0000;
}

caption{
	font-size: 80%;
	font-weight: bold;
	text-align: left;
	padding-bottom: 0.5em;
}

a {
	text-decoration: none;
}
a:hover{color:green}
a.mlists{margin: 0 0.8em;}
hr {height: 1px}
select, option {
	font-size: 9px;
}