body {
/*	background-color: #163817; */
/*	background-color: #245923;*/
	background-color: #001A53;
}

div#outer_shell {
	border:5px solid #ffbc23;
	margin: 5px;
	overflow: auto;
	background-color: #fffffe;
}

div#scrolling_banner {
	background-color: #000;
	text-align: center;
}

div#gi_header {
	/*background-image: url(/images/bg_header.jpg);*/
	background-color: #001A53;
}

div#inner_shell {
	padding: 5px;
	overflow: auto;
	margin: 5px;
	border: 1px solid silver;
	background-color: #ffe;
}

/* the Close Window icon link */
a.window_close_link {
	margin-left: 3em;
}

/* the hr the serves as a divider between the print page and close window anchors the rest of the page */
#print-close-hr {
	width:100%;
	height:1px;
	color:#A35912;
	background-color:#A35912;
}