body
{
	color: black;
	background-color: white;
	font-size: 90%;
	font-family: Arial, Helvetica, sans-serif;
}

/* the container for the top table containing the graphic and the qlinks */
table.div_head {}

/* the image cell of table.div_head */
td.img_container{
	border-right: 2px solid #BED0EF;
}

td.link_container {
	width: 310px;
	text-align: left;
}

/* the top right table with the 'Hello' and the links */
table.qlinks
{
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	margin-left: 1em;
	font-size: 70%;
}

table.qlinks td.hello {}
table.qlinks td.links {padding-right: 1em;}
form.mall_list{ display:inline }
select#mall_drop_down
{
	background-color:#FFFFF0;
border:1px dotted #BED0EF;
margin-bottom:2px;
margin-top:2px;

}

table.common_nav_footer
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	font-size: 70%;
	color: #999999;
	
}

table.common_nav_footer td
{
	padding: 0.2em 0.5em;

}

a.a
{
	text-decoration: underline;
	color: #0033CC;
	background-color: inherit;
}

a.a:hover
{
	text-decoration: underline;
	color: #CC3300;
	background-color: inherit;
}

.facebook_link	/* the anchor for "Become a fan on Facebook" */
{
	color: #00adef;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
}