table#helpdesk_main_tbl
{
	border-collapse: separate;
	border-spacing: 1em;
	border-top: 1px dotted black;
	border-bottom: 1px dotted black;
	margin: 0.3em 0;
}

table#helpdesk_main_tbl td
{
	vertical-align: top;
}

table#helpdesk_main_tbl td#td_hd_nav
{
	background-color: #bdf;
	padding: 0;
	width: 200px;
}

table#helpdesk_main_tbl td#td_hd_main
{
	text-align:left;
	padding-left: 1em;
}

table#helpdesk_nav
{
	background-color: white;
	border-collapse: separate;
	border-spacing: 0;
	border-bottom: 2px solid white;
	width: 100%;
}

table#helpdesk_nav td
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 85%;
	color: #000000;
	background-color: #bdf;
	border-bottom: 1px dotted #006;
	border-top: 2px solid white;
	padding: 3px;
	text-align: left;
}

div#helpdesk_welcome
{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
	color: #990000;
}

td#td_hd_main p
{
	font-size: 90%;
}

span.bl	/* this style is used in the shopping instructions - use elsewhere at your own risk */
{
	color: #039;
	font-weight: bold;
}

h3
{
	color: #036;
	margin-top: 0;
	font-family: Arial, Helvetica, sans-serif;
}

div.gt	/* this style is used on the helpdesk FAQ page */
{
	text-align: right;
	font-size: 75%;
}

/* these options are used on the mallfaq page */
option.a { background-color: #ffffee; padding-bottom: 0.2em; }
option.b { background-color: #eee; padding-bottom: 0.2em; }