.heading{
	font-family: Georgia, Times New Roman, sans-serif;
	font-size : 20pt;
}
   
.sub_heading{
	font-family: Georgia, Times New Roman, sans-serif;
	font-size : 15pt;
}
   
.address{ 
	font-family: Times New Roman, Helvetica, sans-serif;
	font-size: 12pt; 
}
   
.body{
	font-family: Times New Roman, Helvetica, sans-serif;
	font-size: 12pt;
}

.subtitle{
	font-family: Times New Roman, Helvetica, sans-serif;
	font-size: 9pt;
}
	
.border{
	 border-color: black;
	 border-width: 1px
}
