
	BODY {
	font-family : Arial, Helvetica, sans-serif;
 	background-color:white;
}
p.a{font-family:Arial, Helvetica, sans-serif;
background-color:#FFFFFF;
color: #000000;
font-size: x-small;}

.content {
	font-family : Verdana, Arial, sans-serif ;
	font-size : 0.8em;
	color: #004F69;
}
.nav_top{
	font-size:0.8em;
	font-family: Arial, Helvetica, sans-serif;
	color:black;
	font-weight:bold;
	padding:0 5 0 5;

}
 
 .nav_top:hover{
 	color:#FF0000;
 	text-decoration:none;
 }
 
 .nav_left{
 	font-size:0.8em;
	font-family: Arial, Helvetica, sans-serif;
	color:#ff6600;
	font-weight:bold;
}

A {text-decoration: underline;
color: #CC3300;}
 
A:Hover {
	text-decoration: underline;
	color: #009900;
	
}
tr.a{ font-family: Times New Roman, Helvetica, sans-serif;
font-weight: bold;
font-size: smaller;
background-color: #00CCCC;
}
tr.b{ font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: smaller;
background-color: #C993E3;
color: white;
}
tr.c{background-color:#003366;}

td.menu{ font-family:Arial, Helvetica, sans-serif;
background-color:#FFFFFF;
color: #000000;
height: 35;
font-size: x-small;
}
td.y{font-family:Arial, Helvetica, sans-serif;
background-color:#003366;
color: white;
height: 35;
font-size: x-small;
}

H1{font-family : Times New Roman, Helvetica, sans-serif ;
	font-size : 14pt;
	font-weight : bold;
	color: #003366;
	text-align: center;
	}
	H2{font-family : Verdana, Arial, sans-serif ;
	font-size : 10pt;
	font-weight : bold;
	color: #800080;
	}
	H3{font-family : Verdana, Arial, sans-serif ;
	font-size : 14pt;
	font-weight : bold;
	color: #dc143c;
	}
