span.tsi{
	font-family: "Tempus Sans ITC", Verdana, Geneva, Arial, Helvetica, sans-serif;
}

span.g{
	color: #008080;
	font-weight: bold;
}

div.ten{
	font-family: "Times New Roman", Times, serif;
	font-size: 10pt;
}
 
div.twlv{
	font-family: "Times New Roman", Times, serif;
	font-size: 12pt;
}
 
div.fp{
	font-family: "Times New Roman", Times, serif;
	font-size: 8pt;
}

a.brn{ color: #800040;
	font-size: 12pt;
	font-weight: bold;
}

a.b{
	font-weight: bold;
}

td.gdiv{
	background-color: #858585;
}

td{
	font-family: "Times New Roman", Times, serif;
	font-size: 10pt;
}

hr.grey{
	color: #bcbcbc;
}

input{
	font-size: 9pt;
}

select{
	font-size: 9pt;
}