<style type="text/css">
BODY {
	font-family : Arial, Helvetica, sans-serif;
 	background-color:white;
}

.content {
	font-family : Verdana, Arial, sans-serif ;
	font-size : 0.8em;
	color: #004F69;
}
.nav_top{
	font-size:0.8em;
	font-family: Arial, Helvetica, sans-serif;
	color:black;
	font-weight:bold;
	padding:0 5 0 5;

}
 
 .nav_top:hover{
 	color:#FF0000;
 	text-decoration:none;
 }
 
 .nav_left{
 	font-size:0.8em;
	font-family: Arial, Helvetica, sans-serif;
	color:#ff6600;
	font-weight:bold;
}

A {text-decoration: underline;
color: #FFFFFF;}
 
A:Hover {
	text-decoration: underline;
	color: #CCFF33;
}
tr.a{ font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: smaller;
background-color: #66CC66;
}
tr.b{ font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: smaller;
background-color: #CC3300;
color: white;
}
tr.c{background-color:#003366;
white-space: no wrap;
}

td.menu{ font-family:Arial, Helvetica, sans-serif;
background-color:#003366;
color: white;
height: 35;
font-size: smaller;
}
H1{font-family : Times New Roman, Helvetica, sans-serif ;
	font-size : 12pt;
	font-weight : bold;
	color: #003366;
	text-align: center;
	}
	H2{font-family : Verdana, Arial, sans-serif ;
	font-size : 10pt;
	font-weight : bold;
	color: #800080;
	}
	H3{font-family : Verdana, Arial, sans-serif ;
	font-size : 14pt;
	font-weight : bold;
	color: #dc143c;
	}
	
	</style>