.Header_Main {



	font-size: 14px;



	color: #0089B7;



	font-weight:bold;



	line-height:20px;



	letter-spacing:0.2em;



	font-family: verdana;



	text-transform: uppercase;



	border-bottom-style: solid;



	border-bottom-color: #0089b7;



	border-bottom-width: thin;



}







.text_normal{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;} 







.Text_Content_heighlight {



	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 13px;



	color: #0089B7;



	text-transform: uppercase;



	font-weight:bold;



	border-bottom-style: solid;



	border-bottom-color: #0089b7;



	border-bottom-width: thin;



}







.ContactForm_TextField {



    



	color: #000066;



	font-family: verdana;



	font-size: 10pt;



	text-transform: uppercase;



	



}







.style1{font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 13px;



}











.style3 {



	font-size: 12px;



	font-family: verdana;



	color: #A91B07;



	font-weight:bold;



}







.style4 {



	font-size: 12px;



	font-family: verdana;



	color: #A91B07;



	



}







.style24 {



	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 13px;



	font-weight: bold;



	text-transform: uppercase;



	color: #2A5588;



}







.style24gi {



	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 13px;



	font-weight: bold;



	text-transform: uppercase;



	color: #a0522d;



}







.style28 {



    font-size: 1.5rem;



    font-weight: bold;



	text-transform: uppercase;



	color: #2A85E8;



}



.style31 {

	font-family: Verdana, Arial, Helvetica, sans-serif;

    font-size: 2.5rem;

    font-weight: bold;

	text-transform: uppercase;

}











.style30 {



	font-family: Verdana, Arial, Helvetica, sans-serif;



    font-size: 13px;



    font-weight: bold;



	 color: #2A85E8;



}







.style28gi {



	font-size: 1.5rem;



	font-weight: bold;



	text-transform: uppercase;



	color: #2f4f3f;



}







.stylewhite {



	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 13px;



	font-weight: bold;



	text-transform: uppercase;



	color: #FFFFFF;



}







.darkblue {color: #011A52;}



.darkbrown {color: #492714;}



.ltgreen {color: #339900;}



.medblue {color:#004A95;}



.lightblue {color: #005eb9;}



.bold{font-weight:bold;}



.royal{color: #00008b;}

.orange {color: #FF8C00;}

.violet {color: #800080;}
.red {color: #CC0000;}


.smaller{font-size: 13px;}

.Grey{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}





.blue_bullet{list-style: url(../images/partner/bullets/bluedot.png);}

.black_bullet{list-style: url(../images/partner/bullets/blackdot.png);}





.half{list-style: url(../images/partner/bullets/halfcir.png);}











.topTitle{text-align:center; color: #5080B0; }







.liteGrey{color:#b3b3b3;}















/* ul {margin-left: 35px !important;} */











li.half, li.blue_bullet, li.a, li.b {margin-left: 35px !important;} 











li.a {



	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 13px;



	list-style: url(http://www.clubshop.com/images/minions/icon_blue_bulleted.png);



}	







	



li.b {



	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 13px;



	list-style: url(http://www.clubshop.com/images/minions/icon_gold_bulleted.png);



}











li.c {



	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 13px;







}



















.img_heads {



	margin-bottom: -10px;



}



	



	



td.a {font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 13px;



	background-color: #FFFFFF;



}



td.news {text-align: center!important;}



.toggleLink {



font-style: italic;



font-size: 10px;



}







.Gold_Large_Bold {



	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 16px;



	color: #FFB404;



	font-weight:bold;



}







.Gold_Bold {



	font-family: Verdana, Arial, Helvetica, sans-serif;



	font-size: 13px;



	color: #FFB404;



	font-weight:bold;



}











table tbody tr.even, table tbody tr.alt {



    background: none repeat scroll 0 0 #F9F9F9 !important;



}







table tbody tr:nth-child(2n) {



    background: none repeat scroll 0 0 #ECF2FF !important;



}





