/* used by resources that utilize the MemberDetail.pm component */
.lbl{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 70%;
 font-weight: bold;
}

td.dat{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 70%;
 font-weight: normal;
}

tr.aa { background-color: #ffe; }
tr.bb { background-color: #eee; }
table#member_detail {
	border-collapse: separate;
	border-spacing: 0;
}
table#member_detail td { padding: 0.2em 0.3em; }

