body {
	background-color: white;
	font-size: 85%;
}
.error {
	font-family: sans-serif;
	color: Red;
	font-size: 85%;
}

tr.collapseRow{
	visibility:collapse;
	
}

input.main, select.main, textarea.main {
	background-color: rgb(240,255,240);
}

input.main {

border: hidden

}

select.main { border: hidden}

td.input{ border-bottom: 1px solid;}

input.bnt{ font-size: 85%; }


.field {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 85%;
	color: #000000;
	text-align: right;
	padding-right:10px;
	white-space: nowrap;
	vertical-align: bottom;
	
}
.field_req {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 85%;
	color: #ff0000;
	font-weight: bold;
	text-align: right;
	padding-right:10px;
	white-space: nowrap;
	height: 10px;
}
.note {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
}
span.ra_sa{ color:red; margin-left: 0.5em; }	/* stand alone 'red' asterisk */
.ra{ color:red }					/* inline 'red' asterisk ... and other red things :) */
.ctl_look {
	position: relative;
	background-color: rgb(240,255,240);
	border-left: 2px inset #909090;
	border-top: 2px inset #909090;
	border-right: 1px inset silver;
	border-bottom: 1px inset silver;
	padding-left: 0.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 85%;
	width: 21.5em;
	text-align: right;
}

span.c1 {
	position: absolute;
	right: 12em;
}
span.c2 {
	padding-left: 1.5em;
}
span.spp { padding: 0px 1em 0.2em 2em; }
img.qm {	/* question mark images */
	vertical-align: middle;
	margin: 3px 3px 2px 3px;
	border: 0;
}

td.underline {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}

div.hideDiv{
	visibility:hidden;
	height: 0px;
}

ol, li{
	font-size: 115%;
}
