body, td, th {
	color:#333333;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	line-height:20px; 
}

div
{
	line-height: 1.3em;
}

/* NEW ADDITIONS 2/27/2012 */

#container{
	width:975px;
	margin:10px auto;
}


#top{
	width:975px;
	height:187px;
	background: url("../images/rdlogin/header.png") no-repeat;	
}

#mid{
	width:975px;
	background: url("../images/rdlogin/mid.png") repeat-y ;
	padding: 10px 20px;	
}

#mid-content{margin-left:50px;}

#bot{
	width:975px;
	height:25px;
	background: url("../images/rdlogin/bottom.png") no-repeat;
	
}


/* ********************** */

.error {
	font-family: sans-serif;
	color: Red;
	font-size: 80%;
}

input.main, select.main, textarea.main {
	background-color: #fff;
}

input.main {
	width: 20em;
	border: 1px solid #999;
	font: 10px verdana,arial,helvetica,sans-serif;
	color: #666;
}

select.main {
	width: 20.5em;
	border: 1px solid #999;
	font: 10px verdana,arial,helvetica,sans-serif;
	color: #666;
}

td.input{ text-align: left; }

input.bnt{ font-size: 80%; }

.field {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	color: #000000;
	text-align: left;
	padding-right:10px;
	white-space: nowrap;
}

.field_req {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	color: #ff0000;
	font-weight: bold;
	text-align: left;
	padding-right:10px;
	white-space: nowrap;
}

.note {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
}

span.ra_sa{ color:red; margin-left: 0.5em; }	/* stand alone 'red' asterisk */

.ra{ color:red }					/* inline 'red' asterisk ... and other red things :) */

.ctl_look {
	position: relative;
	background-color: rgb(240,255,240);
	border-left: 2px inset #909090;
	border-top: 2px inset #909090;
	border-right: 1px inset silver;
	border-bottom: 1px inset silver;
	padding-left: 0.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	width: 21.5em;
	text-align: right;
}

span.c1 {
	position: absolute;
	right: 12em;
}

span.c2 {
	padding-left: 1.5em;
}

span.spp {
	padding: 0px 1em 0.2em 2em;
}

img.qm {	/* question mark images */
	vertical-align: middle;
	margin: 3px 3px 2px 3px;
	border: 0;
}

td.underline {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}

ol, li{
	font-size: 115%;
	color:red
}

.Orange_Large_11 {
	color:#FC8B08;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
}

.Blue_Bold_Regular_Text {
	color:#00366E;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	letter-spacing:0.1em;
}

.Footer_Grey_Regular {
	color:#333333;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size:9px;
}

.Blue_Large_Bold {
	color:#004A95;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
}

.btn {
	font:normal 10px arial,helvetica,sans-serif;
	color:#333;
}