.title{
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.city{
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
	font-weight: bold;
}

.type{
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000099;
	font-weight: bold;
}

.name{
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}

.fp{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

.banner{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
}

.nav{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

.spacer{
	font-size : 16px;
}

.fb_r{
	color: #990000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
}

.fb_n{
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

.error{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #ff0000;
}

.rebate{
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000099;
	font-weight: bold;
}

.cap{
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #aa0000;
}