     .data{
     font-size: 9pt;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: normal;
     }

     .highlite{
     font-size: 9pt;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: normal;
	background-color: #ffff99;
     }
 
     .confirm{
     font-size: 9pt;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: normal;
	color: #cc0000;
     }
	 
     .note{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 8pt;
     }
	
    .note_nop{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8pt;
        color : #ff0000;
    }
	
    .h5{
        font-size: 9pt;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
	
    input, .input{
	font-size: 10px;
     }

    .y_alert{
        font-size: 9pt;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        background-color: #ffffcc;
        padding-left: 5px;
    }

    .blu_alert{
        font-size: 9pt;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        background-color: #ccccff;
        padding-left: 5px;
    }

.btn_select_all{
/*	background-color : #ffffcc; */
	font-size: 10px;
}

.btn_cancel{
/*	background-color : #ffaaaa; */
	font-size: 10px;
}

.btn_reset{
/*	background-color : #ffffff; */
	font-size: 10px;
}

.btn_submit{
/*	background-color : #aaeeaa; */
	font-size: 10px;
}

a.hdr{
	text-decoration: none;
}
a.hdr:hover{color:#aa0000; }

table#selection-list
{
	border: 1px outset gray;
	border-spacing: 0;
   	border-collapse: collapse;
}

table#selection-list td,th
{
	border: 1px outset gray;
	padding: 4px;
}

.alc {
	text-align:center;
}

.ffffff {
	background-color: #fff;
}

.ffffee {
	background-color: #ffe;
}

.eeffee {
	background-color: #efe;
}

table#selection-list td.xtralp {
	padding-left:2em;
}
