/*
08/16/07
This sheet is not used by the VIP Control Center any more...
But it is used by at least the login page and who knows what else...
*/

.newsitem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #993333;
}
.newsbody {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: left;

}
.rightsideads {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #993333;

}
.greyheadline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #B4B4B4;
}
a:hover {
/*	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; */
	color: #0000FF;
	text-decoration: underline;

}
.archive {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #CC0000;
}
.leftsidelinks {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #7C3E1F;
}
.toptext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12.5px;
	color: #000000;
	font-weight: bold;
}
.bottomlinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: blue;
}
.nav_labels{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #003366;
}

/* The following styles apply to the login screen */

input{ font-size: 10px; }

.login{
     font-family: Verdana, Arial, Helvetica, sans-serif;
     font-size: 10pt;
     color: #000000;
     font-weight: bold;
}

.alert{
     font-family: Arial, Helvetica, sans-serif; font-size: 9pt;
     color: #ff0000;
     font-weight: normal;
}.srwbody {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.srwsubtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #003399;
}
.srwlinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0066FF;
}
.srwlrglinks {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0033CC;
	font-weight: bold;
}
.srwbiglink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #0033CC;

}
