/* some additional or style overrides for the online merchant application */

.tip_trigger{cursor:help;}
		
.tip {
			color: #FFF;
			background:#00376F;
			display:none; /*--Hides by default--*/
			padding:10px;
			position:absolute;    z-index:1000;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			width: 225px;
			text-align:left;
		}
   
 .Orange_Large_11{
      color: rgb(252, 139, 8);
      font-family: "Verdana", "Arial", "Helvetica", sans-serif;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
     }
