#mainTbl {border-collapse:collapse;}
#mainTbl td {padding: 0.2em 0.4em; border: 1px solid silver;}
#mainTbl th {text-align:left; padding: 0.2em 0.4em; border: 1px solid silver;}
.vat {vertical-align:top;}
.vab {vertical-align:bottom;}
.grbg {background-color: #efe;}
.bad {color:red;}
.running_cost_alert {color:red;}
.inline-alert {background-color:red; color:yellow; font-family: arial,helvetica,sans-serif; font-weight:bold;}
td.unpaid {background-color: #ffe;}

td.links
{
	font: 80% normal normal arial,helvetica,sans-serif;
	white-space:nowrap;
}

