/* this was originally for the previous income report... that's why there is a lot of cruft in it */

table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 80%;
	empty-cells: show;
}

th {
	text-align: center;
	padding: 5px 5px 5px 5px;
	font-size: 100%;
	vertical-align: bottom;
	border-style: solid;
	border-color: silver;
	border-width: 2px 1px 1px 1px;
}

td {
	text-align: center;
	border-style: solid;
	border-color: silver;
	border-width: 1px;
	padding: 2px 3px;
}

h3 {
	font-family: sans-serif;
	font-size: 90%;
}

td.row_lbl {
	padding: 0 5px;
	font-weight: bold;
	font-size: inherit;
}

.fpb {
    /*fine print :) */
	font-size: 75%;
	font-weight: 500;
	background-color: #aaffcc;
}

.tip {
    background: none repeat scroll 0 0 #00376F;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: none;
    padding: 10px;
    width: 20%;
    text-align:left;
    position: absolute;
    z-index: 1000;
}

a.tip_trigger {
	text-decoration: underline;
}

#goBtn {
	border: 1px solid silver;
}

select.cbocomm {
	border: 1px solid silver;
}

#comm_month
{
	margin-left: 3em;
	background-color: #eee;
	padding: 0px 4px;
}

#current_month_link, #my_report_link
{
	padding-left: 3em;
}

tr.boldme, tr.boldme2
{
	font-weight: bold;
}

tr.boldme2 td
{
	color: #FCA541;
	background-color: #001A53;
}

tr.boldme td
{
	color: #006400;
}

td.boldme
{
	/* font-weight: bold; */
	/*background-color: #efe;*/
}

.behind
{
	/*background-color: #F0E68C;*/
}

.next
{
	/*background-color: #eef;*/
	font-weight: bold;
	background-color: #cfc;
}

.nowrap {white-space:nowrap}
.chelp { cursor:help; }

caption.incdescr{
	text-align:left;
	font-style: italic;
	background-color: rgb(248,255,248);
}

p#pnote { /* this is the note at the top of the page about actual compensation */
	font-size: 75%;
	padding: 0.5em;
	border: 1px inset gray;
	width: 75%;
	color:maroon;
	line-height: 12px;
	margin-right:auto;
	margin-left:auto;
}

p#helpnote span {
	font-size: 75%;
	padding: 0.2em;
 	background-color: rgb(248,255,248);
}

div#inc_stmt {
	border-style:solid;
	border-color: gray silver silver gray;
	border-width: 2px;
	float:left;
	padding: 0.5em;
	margin-bottom: 1em;
}

h3#h3title { /* the block right at the top of the page with the VIP's name */
	border: 1px inset silver;
	background-color: rgb(248,255,248);
	width: 75%;
	padding: 0.7em 0.5em;
}

table.stats
{
	margin-top: 1.5em;
}

table.stats td {
	text-align:left;
	font-size: 150%;
	padding: 0.5em 1em;
}

table.stats th {
	text-align:center;
	font-size: 150%;
	font-family: arial, verdana;
	line-height: 100%;
}

td.xlh {
	/* archived report templates also use this class, so you cannot just change this to affect live without mucking up the rendition of several other templates */
	/*line-height: 180%;*/
}

td.your_sales_stats
{
	line-height: 160%;
	vertical-align:top;
}

td.income_calculations
{
	line-height: 160%;
	vertical-align:top;
}

span.tip
{
	font-family: arial,helvetica,sans-serif;
	font-size: x-small;
	font-weight: normal;
}

td.invisible
{
	border:none;
}

span.spacer_r
{
	padding: 0 0.2em;
}

.special5{
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
 	color: #333333;
	font-weight: bold;
}

