/* This sheet needs to be totally replace with currently used classes */

.menu{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #006;
}

td.data{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left: 3px;
}

.name_data, .alias_data, .country_data{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

td.img{
	text-align: right;
}

td.lvl{
	background-color: #000;
	color:#ff6;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.report_on, .name_report_on, .alias_report_on, .country_report_on{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #0a0;
}

tr.g{
	background-color: #eeeeee;
}

tr.w{
	background-color: #ffffee;
}

.coach{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.vip, .name_v, .alias_v, .country_v{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #00a;
	font-weight: bold;
}

span.navh{
	font-size: 13pt;
	font-weight: bold;
}

.fp{
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

.leftsidelinks {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #7C3E1F;
}

.toptext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12.5px;
	color: #000;
	font-weight: bold;
}

.newsbody {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: left;

}

/* Potential Merchant Affiliates */
.pma, .name_pma, .country_pma {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #f90;
}

/* Affinity Groups */
.ag, .name_ag, .country_ag {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #03f;
}

/* the icon column */
.icon{

}

select, button, submit, .ctl {
	font-size: 10px;
	font-weight : normal;
}

.nav_hdr{
	font-size : 12px;
	color : #036;
	font-weight: 600;
	font-family : Arial, Helvetica, sans-serif;
}

.upline_block{
	border: thin #9F9F9F;
	padding : 3px;
	background-color : #AFAFAF;
}
.upline_name{  }
.upline_links{
	font-size : x-small;
}