.xm_main, .storeInfoContent_right_side_links {
	display:none;
}
.storeInfoClose {
	display:none;
}
.storeInfoPrint {
	display:block;
}
.storeInfoBox-PRINT {
	display:block;
	position:static;
}
/*        .div_head, .xm_main, .storeInfoContent_right_side_links, .storeInfoClose {display:none;}*/

