a
{
	text-decoration:	none;
	color:			#333333;
}
a:hover
{
	color:			#cccccc;
}
body
{
	background-color:	#6699cc;
}
table
{
	width:			80%;
}
th
{
	font-weight:		bold;
	background-color:	#999999;
}
td
{
	background-color:	#cccccc;
}
