<style type="text/css">
p{	font-family: Arial, Helvetica, sans-serif;
	font-size: smaller;
}
hr{ color: #FF9C00; }
h2 {
	color: #FF9C31;
	font-family: Arial, sans-serif;
	font-size: large;
	font-style: normal;
	font-weight: normal;
}
h3 {
	color: #003399;
	font-family: Arial, sans-serif;
	font-size: medium;
	font-style: normal;
	font-weight: bold;

}
table.a{
	border: thin;
	border-color: #FF9C31;
	text-align: center;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: smaller;
}
table.b{

	border-color: #FF9C31;
	text-align: normal;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: smaller;
	font-weight: normal;
}
td.standings{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	vertical-align: top;
	font-weight: bold;
}
tr.a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: smaller;
	background-color: #FCEAD1;
}
tr.b{
	font-family: Arial, Helvetica, sans-serif;
	font-size: smaller;
	background-color: #FFB164;
}
ul{
	list-style-type: circle;
	font-family: Arial, Helvetica, sans-serif;
	font-size: smaller;
	list-style: circle;
}
div{text-align: center;
}
table.a{
	padding: 5px;
	padding-left : 5px;
	text-align : center;
	text-indent : 3em;
	width : 80%;
	align: center;
	text-decoration : none;
	vertical-align : middle;
}
</style>