html,body {
	background-color: #FFFFFF;
	background-position: center center;
	height:100%;
	font : 11px Arial, Helvetica, sans-serif;
}

select, input,textarea
{
	font: 10px Arial, Helvetica, sans-serif;
	border: 1px solid;
	margin-bottom: 1px;
}

.error
{
	background-color: #ffc3c3;
}

.warning
{
	background-color: #ffffa8;
}

option
{
 	font : 10px Arial, Helvetica, sans-serif;
}

tr, td{
 	font : 11px Arial, Helvetica, sans-serif;
 }

 a{
	font : 11px Arial, Helvetica, sans-serif;
	color : Black;
}

  option.empty{
  			width:475px;
   }

 select.incentives{
   		width:200px;
   		height:100px;
    }

 .question{
	font-weight : bold;
	text-align : left;
}



.answer{
	text-align : left;
	vertical-align : top;
}

.fadeDiv {
	float: left;
	padding: 0px;
	width: 0px;
	height: 0px;
	margin: 5px;
	background-color:#FFFFFF;
	z-index: 1;
	border: 0px solid #FFFFFF;
	font-size: 10px;
	visibility: hidden;
	filter:alpha(opacity=75);
	-moz-opacity:.75;
	opacity:.75;
	position:absolute;
	left:0px;
	top:0px;
}

.addCategoryDiv{
	float: left;
	width: 400px;
	height: 320px;
	padding-left: 10px;
	padding-bottom: 10px;
	background-color:#F0F0F0;
	z-index: 2;
	border: 1px solid #666666;
	font-size: 10px;
	visibility: hidden;
	position:absolute;
	left:0px;
	top:0px;
}
