
tr.a { background-color: rgb(234, 243, 255);
font-size: 85%;
}
tr.b { background-color: rgb(255, 255, 255);
font-size: 85%;
}
tr.questions { background-color: #F0F0F0;
font-size: 85%;
}
td.notanswered {
	background-color: #FFCCCC;
}
.alert{
     font-family: Arial, Helvetica, sans-serif; font-size: 9pt;
     color: #ff0000;
     font-weight: normal;
}
