body { background-color:white; font-size:90%; }
input.tf { width:30em; }
input,select,radio { background-color:#efffef; margin: 0;}
.error {color:red;}
.inst {color:navy;}
.msg {color:green;}
input.btn { margin: 0 0.3em; }
.idtxt {padding: 0.1em 0.2em; border: 2px inset #ccc; background-color:#efffef; width: 6em;}
td {padding: 1px 2px;}
th {white-space:nowrap; font-size:90%; padding: 0.2em 0.5em 0.2em 0.2em;}
.fp {font-size: 80%; font-family: arial,helvetica,sans-serif;}
td.hlist{
	padding: 0.2em 0.5em 0.2em 0.4em;
	border:1px inset #ccc;
	white-space:nowrap;
	font-size: 80%;
	font-family: arial,helvetica,sans-serif;
}
td.vlist{
	padding: 0.2em 0 0.2em 0.5em;
	border-bottom:1px solid #ccc;
	white-space:nowrap;
	font-size: 85%;
	font-family: arial,helvetica,sans-serif;
	text-align:left;
}
th.vlist{
	text-align:left;
	font-size: 75%;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
}
td.id {text-align:center;}
td.vlist_spacer{ height: 1em; }
a {text-decoration:none}
a:hover {color:red}
a.dlt {font-style:italic;}
