/* used for the rewards directory search print interface */
#search_container
{
	width: 250px;
	position:fixed;
}

#report_container
{
	width:60%;
	float:right;
	position: absolute;
	left:300px;
	top:0px;
	width:60%;
}

