/* used for the rewards directory search interface */

body {
	color:#474747;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
}

select.registration_dropmenu {
	background-color:#FFFFFF;
	border:1px solid #999999;
	color:#666666;
	font-family:verdana;
	font-size:8pt;
	width:210px;
}

input.registration_textbox {
	background-color:#FFFFFF;
	border:1px solid #999999;
	color:#666666;
	font-family:verdana;
	font-size:8pt;
	width:210px;
}


.style5 {
	color:#000000;
	font-size:12px;
	font-weight:bolder;
	line-height:18px;
}

.style14 {
	color:#224C9B;
	font-family:verdana;
	font-size:12px;
	font-weight:bold;
}

.text_orange {
	color:#EF8003;
	font-size:12px;
	font-weight:bold;
}

hr.colored {
	color:#fcbf12;
	width:100%;
}

#rpt_container {
	margin-left: 1em;
	border-collapse: collapse;
}

td.storeDetails, td.couponLink, td.banner {
	padding: 0.5em 0;
	vertical-align: bottom;
	text-align: left;
	border-bottom: 1px solid #FCA541;
}

td.banner {
	/* Width is necessary to push coupons to the left if no banners are present */
	width:234px;
}

#footnote_1 {
	font-size:10px;
	font-weight:normal;
	padding-top:1em;
	line-height: 12px;
}

/* the container around the prompts like "Select a City" */
.prompt_1 {
	text-align:center;
	font-weight: bold;
}

td.number_btn {
	padding-right: 5px;
}

td.search_by {
	width: 100%;
	white-space:nowrap;
	vertical-align:top;
	text-align: left;
}

/* the following styles were part of the original merchant listing styles */
.title{
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.city{
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: #EF8003;
	text-decoration: underline;
	font-weight: bold;
	padding-bottom: 15px;
}

.type{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #00529E;
	font-weight: bold;
	padding-bottom: 10px;
}

.name {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	font-weight: bolder;
}

.address1 {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        color: #000000;
        text-decoration: none;
        padding-top: 10px;
}

.phone {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        color: #000000;
        text-decoration: none;
}

.fp{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

.banner{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
}

.nav{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

.spacer{
	font-size : 16px;
}

.fb_r{
	color: #990000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
}

.fb_n{
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

.error{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #ff0000;
}

.rebate{
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #EF8003;
	font-weight: bold;
}

.cap{
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #00529E;
	padding-top: 10px;
	padding-bottom: 10px;
}

.blurb{
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #00529E;
	padding-top: 10px;
	padding-bottom: 0px;
	width: 250px;
}

.infoContainer
{
	display: none;
}

.infoIcon
{
	border: 0 none;
}

