body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
/*	backgound-image: url(../../images/bg/bg_2.jpg */);
}
body,td,th {
	font-family: Arial,Helvetica,sans-serif;;
	font-size: 10px;
	line-height: 20px;
	color: #333333;
}


/* Bullets */
UL {
/*	LIST-STYLE-IMAGE: url(images/icons/icon_bullet.png); */
	VERTICAL-ALIGN: super;
}
.Image_Padding_Left {padding-left: 10px;
}	


.Blue_Large_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #004A95;
	text-transform: uppercase;
	font-weight:bold;
}
.Orange_Large_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FC8B08;
	text-transform: uppercase;
	font-weight:bold;
}
.Orange_Large_11 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FC8B08;
	text-transform: uppercase;
	font-weight:bold;
}
.Orange_Bold_11 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FC8B08;
	font-weight:bold;
}




.Blue_Bold_Regular_Text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing:0.1em;
	color: #00366E;
	font-weight:bold;
}

.Blue_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #001952;
	font-weight:bold;
}







.text_orange {
	font-size: 12px;
	font-weight: bold;
	color: #EF8003;
}

.nav_orange:link {
    font-size: 12px;
	color: #EF8003;
	text-decoration: underline;
}
.nav_orange:visited {
    font-size: 12px;
	color: #EF8003;
	text-decoration: underline;
}
.nav_orange:hover {
    font-size: 12px;
	color: #EF8003;
	text-decoration: none;
}
.nav_orange:active {
    font-size: 12px;
	color: #EF8003;
	text-decoration: underline;
}

.image_right_padding_only {
padding-right: 10px;
}

.style24 {
	font-size: 12px;
	font-weight: bold;
	color: #2A5588;
}
.Directory_Blue_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0359b2;
	font-weight:bold;
	padding-left: 3px;
	
	
}
.Directory_Blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #0359b2;
	font-weight:normal;
	
}

tr.a {background-color: #F0F5FF;}
tr.b {background-color: #FFFFFF;}
tr.c {background-color: #FFF9F0;}
tr.d {background-color: #F3F3F3;}
td.neg{color: #FF0000;}
