.good {
	font-size: 11pt;
	color: #0000ff;
	font-style: italic;
}

.bad {
	font-size: 11pt;
	color: #ff0000;
	font-style: italic;
}
.merchant{
	 border-bottom : thin solid Black;
	 padding-bottom : 2px;
	 padding-top : 2px;
}
table.info{
	border-color: Red;
	border: 1px;
	border-style : dotted;
}
.head4{
         font-family: sans-serif;
         font-size: 12px;
         font-weight: bold;
         background-color: white;
         text-align : left;
}
.note{
         font-family: sans-serif;
         font-size: 11px;
/*         background-color: white;	*/
/*         text-align : left;	*/
}
.cash_data{
         font-family: sans-serif;
         background-color: #F0F3FB;
         font-size: 80%;
         padding: 5px;
         margin-bottom: 1px;
         text-align : right;
         white-space : nowrap;
}
.data{
         /* the default styles for the data */
         font-family: sans-serif;
         font-size: 60%;
         padding: 2px;
         margin-bottom: 1px;
         white-space : nowrap;
}
.amount{
         padding: 5px;
         margin-bottom: 1px;
         background-color: white;
         white-space : nowrap;
         text-align : right;
}
.bigblue{
         font-family: Square721 BT;
         font-size: 22px;
         color: #003399;
         font-weight: bold;
}
.request{
         font-family: sans-serif;
         font-size: 80%;
         text-align : left;
}
.footer{
         text-align: center;
         background-color: white;
}
body{
         background-color: white;
}
th{
	 font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	 font-size : 60%;
	 text-align: center;
	 font-weight: bold;
	 padding-bottom: 4px;
	 border-bottom-style: double;
	 border-left-color: #CCC;
	 border-left-style : dotted;
	 border-left-width : 1px;
	 padding-left: 3px;
}
tr.a{
	 background-color: #E6F2FF;
}
tr.b{
	 background-color: #ECFFF9;
}