.subTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #003366;
}
.pageTitles {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: #003366;
}
.genText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #003366;
}
