.good {
	font-size: 11pt;
	color: #0000ff;
	font-style: italic;
}

.bad {
	font-size: 11pt;
	color: #ff0000;
	font-style: italic;
}
.instructions {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-weight: bold;
	 text-align: left;
}
.note {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
}
.link {
	white-space: nowrap;
}
.head3 {
         font-family: sans-serif;
         font-size: 16px;
         font-weight: bold;
         text-align : center;
         padding-bottom : 20px;
         padding-bottom : 20px;
}
.head4 {
         font-family: sans-serif;
         font-size: 14px;
         font-weight: bold;
         text-align : center;
         padding-bottom : 20px;
         padding-bottom : 20px;
}
.button {
         font-family: sans-serif;
         font-size: 80%;
         white-space : nowrap;
         padding-left: 10px;
         padding-right: 10px;
}
th{
	 font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	 font-size : 80%;
	 text-align: center;
	 font-weight: bold;
	 padding-bottom: 4px;
	 border-bottom-style: double;
	 border-left-color: #CCC;
	 border-left-style : dotted;
	 border-left-width : 1px;
	 padding-left: 10px;
	 padding-right: 10px;
}
td.field {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	color: #000000;
	text-align: right;
	padding-right:10px;
}
td.input {
 	text-align: left;
}
td.data {
	font-size: 90%;
	padding-left: 0.5em;
}
td.trans_date {
	vertical-align: top;
}
td.trans_id {
	vertical-align: top;
	text-align:center;
	font-size: 90%;
}
td.amount {
	vertical-align: top;
}
.amount {
         padding: 5px;
         margin-bottom: 1px;
/*         background-color: white;*/
         white-space : nowrap;
         text-align : right;
}
.total{
    padding: 5px;
    margin-bottom: 1px;
/*    background-color: white;*/
    white-space : nowrap;
    text-align : right;
    border-top : medium solid Black;
}

tr.beginning_balance, tr.ending_balance {
    background-color: #f3fff3;
}

tr.odd {
	background-color: #f3f3f3;
}
tr.even {
	background-color: #fafaf3;
}

#payout_types li {
	list-style-type:none;
}

table#confirmation_payout_tbl td {
	padding-right: 1em;
}

/* currently a div that contains... messages like errors, etc. */
#messages {
	border: 1px solid blue;
	padding: 0.5em;
}

span.frozen {
	color:red;
	font-weight:bold;
}

#no_pay_agents_available {
	color: blue;
	padding-left: 1em;
	font-size: 10px;
}
