table.def {
	margin-left:auto;
	margin-right:auto;
	border-collapse:separate;
	border:none;
	empty-cells:show;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0.2em 0.3em;
	font-size: 75%;
}

th {
	padding: 0.3em 0.4em;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}

tr.tr-void > td{
	opacity: .4;
}

.amt{ text-align:right; }

.neg{ color:red; }

td.lbl{
	font-size: 12px;
}

td.lbsh{
font-size: 10px;
font-weight: bold;
color: blue;
text-align: center;
}

td.lbshxx{
font-size: 4px;
font-weight: bold;
color: blue;
text-align: center;
}


td.lbs1{
	font-size: 10px;
	color: black;
	background-color: #efe;
}

tr.lbs1{ background-color: #efe; }

td.lbs2{
	font-size: 10px;
	background-color: #eee;
}

tr.lbs2{ background-color: #eee; }

th.lbs2{
	font-size: 75%;
	font-weight: bold;
}

td.lblmessage{
	font-size: 12px;
	color: blue;
	font-weight: bold;
}

td.x{
	font-size: 8pt;
}

input.in{
	font-size: 10px;
}

input.tin{
	font-size: 6px;
	background-color: red;
	color: #bee0fa;
}

td.filler{
	height: 15px;
}

textarea{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: blue;
}

.lbt{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: black;
}

body{ 
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff;
	text-align:center;
}

select{
	font-size: 90%;
}

td.ac, th.ac {
	text-align:center;
}

.comm {
	background-color:yellow;
}

td.comm {
	border-color:yellow;
}

tr.csi1 td{
	border-bottom: 1px dashed #90f;
}

tr.csi2 td{
	border-bottom: 1px dashed #060;
}

tr.csi3 td{
	border-bottom: 1px dashed #09f;
}

tr.csi4 td{
	border-bottom: 1px dashed #f60;
}

td.csi1{
	background-color: #c9f;
}

td.csi2{
	background-color: #3f3;
}

td.csi3{
	background-color: #3cf;
}

td.csi4{
	background-color: #fc9;
}

.bbly {
	background-color: #ff9;
	border: 1px solid #630;
	padding: 0.2em;
}
