th{
     font-size: 10pt;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
     text-align: left;
}
     
.col1{
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
        width : 25%;
}


.col2{
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
        width : 25%;
}

.col3{
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
        width : 50%;
}

.nores{
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

.in{
	font: Arial, Helvetica, sans-serif;
	font-size : xx-small;
	border-left-width : thin;
        border-style : inset;
}

select{
	font: Arial, Helvetica, sans-serif;
	font-size : xx-small;
	border-left-width : thin;
	border-style: inset;
}

body{
	background-color: white;
	border-color : Blue #6495ED #7B68EE #0000CD;
	border : thick double;
	cursor : pointer;
	text-align : center;
	text-decoration : none;
        scrollbar-face-color: #6495ED; 
        scrollbar-shadow-color: #7B68EE; 
        scrollbar-highlight-color: #7B68EE; 
        scrollbar-3dlight-color: Blue; 
        scrollbar-darkshadow-color: #0000CD; 
        scrollbar-track-color:  #6495ED; 
        scrollbar-arrow-color: #0000CD;
}

