/*
Styles associated with the store lists and store info boxes in the mall
We're also throwing in the category lists that can get returned on a text search
*/

tr.vendor-list-header th {
        text-align:left;
}

.storeInfoBox	/* the store detail/info container box (the outer shell) */
{
	position: absolute;
	left: -2000px;
	width:400px;
	border:2px solid #FAA71A;
	background-color: #AECAE0;
	background-image: url(http://www.clubshop.com/cs/images/storeInfobox/storepopupbg.png);
	background-repeat: no-repeat;
	-moz-box-shadow: -5px -5px 5px #888;
-webkit-box-shadow: -5px -5px 5px #888;
/*box-shadow: -5px -5px 5px #888;*/
}

.storeInfoBox h5
{
	color:navy;
	font-size:1.1em;
	margin:20px 0px 10px 0px;
}

.storeInfoClose	/* the X in the upper right corner of the storeInfoBox for closing it */
{
	display:block;
	margin-bottom: 0;
	color:silver;
	font-weight:bold;
	font-family:sans-serif;
	text-decoration:none; 
	text-align:right;
	padding:3px 7px;
}

div.storeInfoContent	/* where we will stuff the goods */
{
	margin-top: 0;
	padding: 0 0.5em;
	display:block;
	margin-top: 65px;
}

.storeInfoContent_right_side_links	/* currently our continue to store and print page links */
{
	float:right;
	margin-top: -40px;
}


.storeInfoContent_vendor_name  /* storeInfoContent_vendor_name is currently our h2 tag which holds the banner */
{
	width: 400px; 
	text-align: center; 
	color: rgb(255, 255, 255); 
	position: relative; 
	top: 7px; 
	font-size: 2em;
	text-shadow: black 0.1em 0.1em 0.2em;
}

.storeInfoContent_vendor_name img	/* storeInfoContent_vendor_name is currently our h2 tag which holds the banner */
{
	border:0;
}

.storeInfoContent_xp,.storeInfoContent_sales,.storeInfoContent_languages,.storeInfoContent_coupons, .storeInfoContent_gift_cert_url,.storeInfoContent_shipping_incentives
{
	font-size: smaller;
	margin-bottom:10px;
}

p.ppod-description	/* the Product Payout Detail description -the item- */
{
	font-size: smaller;
	margin-bottom:0;
}

p.ppod-detail		/* the details to go along with the description */
{
	font-size: smaller;
	margin:0 0 0.4em 3em;
	
}

span.ppod-rp		/* the reward point value is sandwiched in these */
{			/* we are not using any whitespace in the content, so these spans need to create their own */
	margin-left: .5em;
	margin-right: 1em;
}

span.ppod-pp		/* the pay point value is sandwiched in these */
{
	margin-left: .5em;
}

/* these two are for the continue and print links themselves at the top right of the store info box */
.continue,.print { font-size:.8em; background-color:#001A53; color:#AAA; font-style:italic; padding:3px 5px;}

#categoryList a {
	display:block;
	font: normal 80% sans-serif;
	text-decoration:none;
}

#alpha_section_links {
	text-align:center;
}

#alpha_section_links a {
	margin-left: 1em;
	text-decoration:none;
}
/* additional styles to be integrated with the other storeList styles */

table.store_icons {
	margin-left: 1em;
	border-collapse:collapse;
	empty-cells:show;
	padding:0;
/*	width:127px; */
}

table.store_icons td {
	height:16px;
	background-position:bottom left;
	background-repeat:no-repeat;
	border:none;
	vertical-align:bottom;;
}

table.store_icons td.a,td.null_icon_new { width:17px; }
table.store_icons td.b,td.null_icon_increase { width:10px; }
table.store_icons td.c,td.icon_coupon { width:21px; }
table.store_icons td.d,td.icon_ship { width:21px; }
table.store_icons td.e,td.icon_sale { width:21px; }
table.store_icons td.f,td.null_icon_gift { width:17px; }
table.store_icons td.g,td.static_icon_language { width:20px; }

tr.icon_left td { background-position:center left; }
tr.icon_right td { background-position:center right; }

/*
surprisingly enough, the urls in these background images is referenced from the perspective of the stylesheet
this means that we have to go up a directory for them to be referenced correctly
*/
td.null_icon_new {
	background-image:url(../icons/icon_new.gif);
}

td.icon_sale {
	background-image:url(../icons/icon_sale.gif);
}

td.icon_ship {
	background-image:url(../icons/icon_shipping.gif);
}

td.icon_coupon {
	background-image:url(../icons/icon_coupon.gif);
}

td.null_icon_gift img { border:1px solid transparent; }
td.null_icon_gift a:hover img { border: 1px solid #0f0; }

td.null_icon_increase {
	background-image:url(../icons/icon_increase.gif);
}

td.static_icon_language {
	background-image:url(../icons/icon_language.gif);
}

/* these are the containers (currently divs) that hold the icon rollover content */
.icon_coupon_rollover, .icon_language_rollover, .icon_sale_rollover, .icon_ship_rollover, .icon_gift_rollover
{
	position:absolute;
/* some initial location settings that will get reset by javascript later on */
	top:0px; left:-1000px;
	background-color: #ffffcc;
	border:1px inset silver;
	visibility:hidden;
	padding: 0.5em;
	width:20em;
	font:normal .8em sans-serif;
}

/*
these are the items themselves (currently p's) that hold the icon rollover content singular items
these are actually contained within a 'root' div of class exttype<x>
we'll define the p's then we'll get rid of the top margin of the 1st p
*/
div.exttype3 p, div.exttype4 p, div.exttype5 p
{
	margin-bottom: 0;
}

div.exttype3 p:first-child, div.exttype4 p:first-child ,div.exttype5 p:first-child
{
        margin-top: 0;
}

td.storeInfo {
	width:20px;
	padding: 0;
	vertical-align:middle;
}
td.storeInfo img{
	margin:0;
	border:none;
}

table#storeListTable{
	background-color:white;
	border-collapse:collapse;
	width:100%;
}

table#storeListTable caption
{
	color:navy;
	font-weight:bold;
	font-family:verdana,geneva,sans-serif;
	border-bottom:1px solid navy;
}

tr.section_header
{
	border-bottom:1px solid #c7c7c7;
        border-top:1px solid #c7c7c7;
}

tr.section_header td
{
        /* since we have pulled the label out, we need to define the height so the row doesn't collapse */
	height:1em;
}

tr.lista{
	background-color: #fff;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}

tr.listb{
	background-color: #d3e0eb;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}

tr.lista td, tr.listb td {
	padding-top: 0.2em;
}

td.storeName {
	padding-right:2em;
}

li.top-picks, span.rppp-col, td.rppp-col{
	padding-right:1em;
	font-size: .8em;
}

/* the columns in the store list that holds the icon table */
td.store_icon_column
{
	/* for some reason, this tag needs the 3px to simply line up with the 0 on the 'th' above it in the table */
	vertical-align:middle;
	padding-left:3px;
}
th.store_icon_column
{
	vertical-align:middle;
	padding:0;
}

a.alpha {
	text-decoration: none;
	color: Blue;
}

a.pricat{
	display:block;
	margin-top: .4em;
	color:blue;
	font: normal .8em Arial,Helvetica,sans-serif;
}
a.vendor{
	font-weight:bold;
	text-decoration: none;
}
a.vendor:hover{ color: green; }

img.see-more	/* the icon nested in the see i for more information blurb */
{
	margin-right: .3em;
	margin-left: .3em;
	vertical-align: bottom;
	border:0;
}
