body{  background: White;} 
table.back{ background-color: #003366;
border-width: thin;
padding: 1px;
 }
table.head{
	background-color: White;
	width: 100%;
}
hr { color: #CCCCCC;   
}
p{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: smaller;

}
table.inquiry{ width: 100%;
  }
tr.a{ background-color: #F2F2F2;  
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: smaller;
	
	}
	
tr.b{ background-color:#E6F2FF;  
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: smaller;
	}
h3{
	font-family: "Times New Roman", Times, serif;
	color: #0066CC;
}