/* a temp stylesheet to go with the javascript nav components */

table.common_nav_footer{border-collapse: collapse}
table.common_nav_footer td
{
	font-size: 10px;
	font-family: Arial,Helvetica,sans-serif;
/*	border: 1px solid #ccf;*/
	padding: 0.1em 1em;
}

table.common_nav_footer a:hover {color:blue}

/* the top right table with the 'Hello' and the links */
table.qlinks
{
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	margin-left: 5em;
	font-size: 10px;
}
table.qlinks td {padding: 0.1em 1em 0.1em 0.1em}
table.qlinks a:hover {color:blue}