td.koh
{
	font-size: 110%;
}

td.koh-v
{
	font-size: 75%;
}

td.koh,td.koh-v
{
	width:100%;
}

td.koh a.cg,span.cg
{
	color: #060;
}

table.d a.cg,span.cg
{
	color: #060; /* should be the same as td.koh a.cg */
}

table.d span.new_partner,div.new_partner
{
	color: #009;
	font-weight:bold;
}

table.d div.id,div.name
{
	white-space: nowrap;
}

p.lgtext
{
    font-size: 0.8em;
    color: #333;
    line-height: 1.25;
}
