body {background-color: #336600; color: black;
}
p {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: smaller;
}
h2{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: medium;
}
table{
	border: thin Green;
	padding: 5px;
}
td.top{background-color: #FFFFFF;  }
td.main{
	background-color: #FFFFFF;
	padding: 5px;
	border : Green;
}
tr.a{font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
background-color: #ECFFD9; 
font-size: smaller;
}


tr.b{ font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
background-color:  #CEFF9C;
font-size: smaller;
}

tr.c{font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
background-color: #ECFFD9; 
font-size: smaller;
font-weight: bold;
}
