body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: #FFFFFF;
}

.rn {
	text-align:right;
}

table {
        empty-cells:show;
}

table#reportTbl a {
        text-decoration: none;
}

#reportTbl {
	margin: auto;
/*        border: 1px solid silver;*/
        border-collapse: collapse;
}

#reportTbl td {
        padding: 3px;
        border: 1px solid silver;
}

th.xs {
	padding-left:1em;
}

th.sm {
	font-size:smaller;
}

.highlight-col {
	background-color:#efe;
}

