.nav-bar{
background: #bdf720!important;
background: -moz-linear-gradient(top,  #bdf720 0%, #78a000 100%)!important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bdf720), color-stop(100%,#78a000))!important;
background: -webkit-linear-gradient(top,  #bdf720 0%,#78a000 100%)!important;
background: -o-linear-gradient(top,  #bdf720 0%,#78a000 100%)!important;
background: -ms-linear-gradient(top,  #bdf720 0%,#78a000 100%)!important;
background: linear-gradient(to bottom,  #bdf720 0%,#78a000 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdf720', endColorstr='#78a000',GradientType=0 )!important;


	box-shadow: 0px 2px 5px rgba(0,0,0,0.15) !important;
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.15) !important;
	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.25) !important;
	
	-moz-border-radius-topleft: 0px !important;
	-moz-border-radius-topright: 0px !important;
	-moz-border-radius-bottomright: 10px !important;
	-moz-border-radius-bottomleft: 10px !important;
	-webkit-border-radius: 0px 0px 10px 10px !important;	
	border-radius: 0px 0px 10px 10px !important; 
	
	margin-top: 0px !important;
   	padding: 0px;
	border: 0px !important;
	

}

.nav-bar  li a  { color: #141414 !important;
}	
	
.nav-bar  li  a:link { color: #141414 !important;}	
.nav-bar  li  a:visited { color: #141414 !important;}		
.nav-bar  li  a:hover { color: #FFFFFF !important;}
.nav-bar  li  a:active { color: #141414 !important; }
.nav-bar > li > a {

    display: block;

    font-size: 13px;
    
    padding: 0 15px;

    position: relative;

    text-decoration: none;
}

.nav-bar2 > li > a {

    display: block;

    font-size: 13px;
    padding: 0 4px;

    position: relative;

    text-decoration: none !important;}
}

.nav-bar2  li a  { color: #141414 !important;}	
	
.nav-bar2  li  a:link { color: #141414 !important;}	
.nav-bar2  li  a:visited { color: #141414 !important;}		
.nav-bar2  li  a:hover { color: #FFFFFF !important;}
.nav-bar2  li  a:active { color: #141414 !important; }
.white_letter {color: #FFFFFF;}
.green {color: #2F6507;}
.orange {color: #ff9919;}
.bold {font-weight: bold;}

.upgrade-bar {
background: #ffaf4b!important;
background: -moz-linear-gradient(top, #ffaf4b 0%, #ff920a 100%)!important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf4b), color-stop(100%,#ff920a))!important;
background: -webkit-linear-gradient(top, #ffaf4b 0%,#ff920a 100%)!important;
background: -o-linear-gradient(top, #ffaf4b 0%,#ff920a 100%)!important;
background: -ms-linear-gradient(top, #ffaf4b 0%,#ff920a 100%)!important;
background: linear-gradient(to bottom, #ffaf4b 0%,#ff920a 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 )!important;
}

.upgrade-bar  li a  { color: #141414 !important;}	
	
.upgrade-bar  li  a:link { color: #141414 !important;}	
.upgrade-bar  li  a:visited { color: #141414 !important;}		
.upgrade-bar  li  a:hover { color: #FFFFFF !important;}
.upgrade-bar  li  a:active { color: #141414 !important; }	 

.acenter {text-align: center;}

ul.a {
font-family:Tahoma, Arial, sans-serif;
	font-size: 12px;
	border: thin solid #CCCCCC;
}

ul.a li { font-weight: bolder; } /* Dick: Also show the listings in a bold font to stand out more.  */

span.memberpool {
/* Dick 10/24/13: For the Pool, make the font size 2X and capitalize MEMBER POOL */
font-size:200%;
text-transform:uppercase;
}

li.odd {background: #cdeb8b!important;  
background: -moz-linear-gradient(top,  #cdeb8b 0%, #cdeb8b 100%)!important; 	 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8b), color-stop(100%,#cdeb8b))!important;
background: -webkit-linear-gradient(top,  #cdeb8b 0%,#cdeb8b 100%)!important;
background: -o-linear-gradient(top,  #cdeb8b 0%,#cdeb8b 100%)!important;
background: -ms-linear-gradient(top,  #cdeb8b 0%,#cdeb8b 100%)!important;
background: linear-gradient(to bottom,  #cdeb8b 0%,#cdeb8b 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8b', endColorstr='#cdeb8b',GradientType=0 )!important;

}
li.even {background: #cdeb8b!important;  
background: -moz-linear-gradient(top,  #cdeb8b 0%, #cdeb8b 100%)!important; 	 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8b), color-stop(100%,#cdeb8b))!important;
background: -webkit-linear-gradient(top,  #cdeb8b 0%,#cdeb8b 100%)!important;
background: -o-linear-gradient(top,  #cdeb8b 0%,#cdeb8b 100%)!important;
background: -ms-linear-gradient(top,  #cdeb8b 0%,#cdeb8b 100%)!important;
background: linear-gradient(to bottom,  #cdeb8b 0%,#cdeb8b 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8b', endColorstr='#cdeb8b',GradientType=0 )!important;
}

li.upgrade{
font-size:110%; /* per Dick 10/24/13: all the font for the new Partners to show in bold for a better emphasis. */
background: #f9fcf7!important;
background: -moz-linear-gradient(top,  #f9fcf7 0%, #f5f9f0 100%)!important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9fcf7), color-stop(100%,#f5f9f0))!important;
background: -webkit-linear-gradient(top,  #f9fcf7 0%,#f5f9f0 100%)!important;
background: -o-linear-gradient(top,  #f9fcf7 0%,#f5f9f0 100%)!important;
background: -ms-linear-gradient(top,  #f9fcf7 0%,#f5f9f0 100%)!important;
background: linear-gradient(to bottom,  #f9fcf7 0%,#f5f9f0 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 )!important;
border: thin outset #FF6600;
}

.upgrade-notice { 
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
color: #000099;
letter-spacing: 0.1em;
}

a.gotmore {
float:right;
font-weight:normal;
font-size:10px;
background-color:white;
border: 1px solid #0a0;
padding: 0.2 em;
}

span.minusmore {
display:none;
}

.errors {
color:red;
font-weight:bold;
font-size:110%;
}

span.alerts
{
color:navy;
font-weight:bold;
font-size:120%;
padding:1em;
background-color:#efffef;
}

ul.a a {
/* Dick 10/24/13: I want the blue to be darker to stand out more */
color:navy;
}

ul.a a:hover {
text-decoration:underline;
}

.green_bullet {
	list-style: url(/images/tp/green_bul.png);
}

hr.green {color:#3C3;}

#tpgroup_blurb
{
	border: 1px dotted gray;
	background-color: #eee;
	display:none;
	margin-bottom: 1.5em;
	padding:1em;
}
