table.a{ border:1em;
border-color:#000099;
width:650px;
}

tr.a { background-color: #E1EBF4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
tr.b { background-color: #FFFFCC; 
       font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
p{ 	font-family: Arial, Helvetica, sans-serif;
	font-size: smaller;
	}
hr{
	color: #330099;
	}