<style>
p{font-family: Arial, sans-serif;
font-size: small;
text-align:left;

}
p.sub{font-family: Arial, sans-serif;
font-size: smaller;
text-align:left;
}


a {color:#000000;
}
a.hover{color:#FFFF33;}
tr.b{
	font-family: Arial, sans-serif;
	font-size: small;
	bgcolor:#E6F2FF;
	color: #000000;

	
}
td.b{
	font-family: Arial, sans-serif;
	font-size: small;
	bgcolor:#E6F2FF;
	color: #000000;
	background-color: #FFFFFF;
}
td.c{
	font-family: Arial, sans-serif;
	font-size: xx-small;
	bgcolor:#E6F2FF;
	color: #000000;
	background-color: #CCFF99;
	text-align: right;
}
hr{	color: #006600;
	}
</style>