body
{
	margin-top: 2px;
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
}

a:hover{color:red}

/* this used to be
a.cancel_pending
*/
a.inactive
{
	color:red;
}

.inactive_b
{
	color:#A52A2A;
}

fieldset
{
	border: none;
	margin: 0;
	padding: 0;
}

img
{
	border: none;
	margin: 0;
}

input, select
{
	font-size: smaller;
}

.welcome
{
	border-right: 1px dotted black;
}

a
{
	text-decoration: none;
}

form
{
	display: inline;
}

table.d
{ 
	border-spacing: 0;
	border-collapse: collapse;
	border-color: silver;
}

table.nav
{
	border-bottom: 1px dotted black;
	border-collapse: collapse;
}

tr.nav td
{
	padding: 0.5em;
	font-size: 80%;
	background-color: rgb(245,245,245);
	border-top: 1px solid black;
}

td.cnx
{
	background-image: url(/images/bg-h-line.gif);
	background-position: 0 0;
	background-repeat: no-repeat;
	padding: 0.2em 0.2em 0.2em 14px;
}

td.cnr
{
	background-image: url(/images/bg-t-arrow-down.gif);
	background-position: center 0;
	background-repeat: no-repeat;
	padding: 14px 0.2em 0.2em 0.2em;
}

td.dnr
{
	background-image: url(/images/bg-dn-arrow-left.gif);
	background-position: center 0;
	background-repeat: no-repeat;
	padding: 14px 0.2em 0.2em 0.2em;
}

td.upr
{
	background-image: url(/images/bg-dn-arrow-right.gif);
	background-position: center 0;
	background-repeat: no-repeat;
	padding: 14px 0.2em 0.2em 0.2em;
}

td.ro
{
	background-image: url(/images/arrow-down.gif);
	background-position: center 0;
	background-repeat: no-repeat;
	padding: 14px 0.2em 0.2em 0.2em;
}

span.r1, td.r1 span.level
{
	background-color: rgb(255,255,223);
}

span.r2, td.r2 span.level
{
	background-color: rgb(255,223,155);
}

span.r3, td.r3 span.level
{
	background-color: rgb(255,223,223);
}

span.r4, td.r4 span.level
{
	background-color: rgb(96,255,255);
}

span.r5, td.r5 span.level
{
	background-color: rgb(255,165,65);
}

span.r6, td.r6 span.level
{
	background-color: rgb(225,225,225);
}

span.r7, td.r7 span.level
{
	background-color: rgb(255,225,55);
}

span.r8, td.r8 span.level
{
	background-color: rgb(255,225,225);
}

span.r9, td.r9 span.level
{
	background-color: rgb(55,225,0);
}

span.r10, td.r10 span.level
{
	background-color: rgb(55,225,255);
}

span.r11, td.r11 span.level
{
	background-color: rgb(225,125,225);
	color: #eee;
}

table.koh /* King of the Hill */
{
	background-color: #eeffee;
	width: 50%;
	margin-top: 1em;
	border-left: 1px solid black;
	border-top: 1px solid silver;
}

td.reportingon
{
	padding: 0.2em;
	vertical-align:top;
	white-space:nowrap;
	font-size: 70%;
}

td.koh
{
	padding: 0.2em;
	font-size: 75%;
	width: 100%;	/* just to keep the left cell as small as possible */
}

td.koh div
{
	font-size: 80%;
}

table.d td
{
	border: 1px solid #ccf;
	background-color: white;
	font-size: 65%;
	font-family: sans-serif;
	padding: 0.2em;
}

table.coachfor
{
	border: 2px dashed #0f0;
}

table.coachee
{
	border: 2px solid #090;
}

table.potential-coachee
{
	border: 2px solid yellow;
}

table.d span
{
	padding: 0.1em 0.2em;
}

span.level
{
/*	float: right; */
	padding: 0.1em 0.3em 0.1em 0.1em;
}
span.role
{
	/*float: left;*/
	background-color: #666;
	color: yellow;
	padding: 0.1em 0.2em 0.1em 0.2em;
}

.ppprob	/* they don't have at least 25 PPP */
{
	color: #f00;
}

span.prv
{
	color: #090;
	font-weight:bold;
}

div.id
{
	background-color: #efe;
	font-size: 110%;
}

div.name, div.prtplink
{
	background-color: #ffe;
	font-size: 100%
}

div.stats
{
	background-color: #efe;
	white-space: nowrap;
	font-size: 90%;
}

td.title
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 75%;
	font-style: italic;
	border-left: 1px solid black;
	padding-bottom: 0.3em;
	padding-left: 0.4em;
	background-color: #ffe;
	color: Green;
	font-weight: bold;
}

div.bl
{
	font-size: 90%;
	padding: 0;
	white-space:nowrap;
}

fieldset.inst
{
	float: right;
	margin: 0.2em;
	border: 1px solid silver;
	font-size: 60%;
	padding: 0.2em;
	background-color: white;
	width: 30%;
}

ul
{
	margin-left: 1em;
	padding-left: 1em;
}

li
{
	list-style-type: circle;
	font-size: 80%;
}

/* this does not work in IE, but it gives a nice effect in compliant browsers */
li:hover { background-color:#ffc }

/* this is not a nice as above :(, but it works in IE */
a.rptlist:hover { background-color:#ffc }

p.rptlist
{
	border: 1px inset #00a;
	font-size: 65%;
	padding: 0.1em 0.2em 0.1em 0.5em;
}

/* the line that contains the personal pool count and the pool filler counts */
table.pool_stats
{

	border-top:1px solid #ccf;
	margin-top: 2px;
	border-collapse:collapse;
	width: 100%;
	clear:both;
}

table.pool_stats td
{
	background-color: #ffe;
	font-size:90%;
	border:0;
}

.pool_cnt
{
	border:none;
	background-color: #ffe;
	font-size: 10px;
	border-right: 1px solid #ccf;
}

.filler_cnt
{
	border:none;
	background-color: #ffe;
	border-left: 1px solid #ccf;
}

.op
{
	margin-left:auto;
	margin-right:auto;
}

a.coachee
{
	color: #090;
	font-weight:bold;
	font-size:larger;
}

span.plpp_qualifier
{
	font-weight: bold;
	font-size: 120%;
}

span.tip
{
    font-family: arial,helvetica,sans-serif;
    font-size: x-small;
    font-weight: normal;
}

table.d span.tip
{
    background: none repeat scroll 0 0 #00376F;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: none;
    padding: 10px;
    position: absolute;
    text-align: left;
    width: 20%;
    z-index: 1000;
}

.tip
{
    background: none repeat scroll 0 0 #00376F;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: none;
    padding: 10px;
    position: absolute;
    text-align: left;
    width: 20%;
    z-index: 1000;
}

table.d td.leadership
{
	border-right: none;
	background-color: #eeffee;
}

table.d td.stats
{
	border-left: none;
}

table.grp_stop	/* a party whom I get no GRP beneath... oroginally this style was intended to work with t.coachee and not overwrite the color, only to make a non-coachee bolder and dashed and a coachee just dashed
			however, Dick specified a specific color for these individuals, so coachees who also fit this criteria will be overwritten */
{
	border-style: solid;
	border-width: 2px;
	border-color: #F63;
}

.simple_blue
{
	color:blue;	/* as of 08/14 this is the same as the default link color in firefox */
}
