H3{font-family:Arial, sans-serif;

font-size: medium;

color: #333399;

}

p.a {font-family:Arial, sans-serif;

font-size: smaller;  

font-weight: bold;

color: #333399;

}

hr{ color:#000099;

 }



p.c {font-family:Arial, sans-serif;

	font-size: 13px;

	color: #34420F;

	font-weight: bold;

	text-transform:uppercase;

}



p.b{font-family:Arial, sans-serif;

font-size: smaller;  

font-weight: bold;

color: #336600;

}



.Green_Bold {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 13px;

	text-transform:uppercase;

	color: #779724;

	font-weight:bold;

}









