.good {
	font-size: 11pt;
	color: #0000ff;
	font-style: italic;
	text-align: center;
}

.bad {
	font-size: 11pt;
	color: #ff0000;
	font-style: italic;
	text-align: center;
}
.field_desc {
	margin-top : 10px;
	margin-bottom : 10px;
	text-indent : 10px;
	font-weight : bold;
}
.item {
	font-size: 13pt;
	font-style: italic;
	margin-top : 10px;
	margin-bottom : 10px;
	text-indent : 10px;
}
.boxtext {
  	font-size: 9pt;
	margin-left : 15px;
	border : thin solid Black;
	padding : 3px 3px 3px 10px;
}
.answer {
  	background-color : Silver;
}
.response {
  	background-color : #C6D3DE;
}

#mustdo_msg {
	font: normal 70% arial,helvetica,sans-serif;
}

tr.status_d {background-color: rgb(240,240,255); }
tr.status_a {background-color: rgb(240,240,240); }
tr.status_u {background-color: rgb(255,255,240); }
tr.status_c {background-color: rgb(240,255,240); }
.mustdo {
	color: red;
	font: bold 85% serif;
}