/*
This stylesheet is for the use of the VIP Control center as of 08/16/07.
If you link to it, expect that some styles may be tweaked over time.
*/

select {			/* the current navigation system controls on the right */
	font-size:10px;
    	width: 120px;
}

img.nav {		/* the current navigation system images on the left */
    	border:1px;
    	border-color : #cccccc;
    	margin-bottom : 12px;
    	border-style : solid;
	background-color:transparent;
}

img.nav:hover {
	border-color:yellow;
	background-color:#eeffee;
}

p#my_sales {		/* where there sales figure goes */
	padding: 0.2em;
	border-bottom: 1px solid #339;
	margin-right: 0.5em;
	margin-left: 0.5em;
	text-align: center;
	font: normal 0.6em sans-serif;
}

.nav_labels{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #003300;
}

a:hover {
	color: #0000FF;
	text-decoration: underline;
}

div#news_container {
	/* for now a placeholder for helping define classes contained within */
}

div#news_container p {		/* the stock paragraphs in the news section */
	text-align: justify;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}

div#news_container span.h5 {		/* bolded, blued paragraph headings */
	font-weight: bold;
	color: #00c;
}

.text_coop_header {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FF6300;
	font-weight: bold;
}

.text_gi_header {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #006300;
	font-weight: bold;
}
.text_cs_header {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000099;
	font-weight: bold;
}

.text_cs_header_mini {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000099;
}
.text_cs_mini {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.text_normal{  	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 13px;}

.text_eb_header {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #990000;
	font-weight: bold;
}

.text_green_bold {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006300;
	font-weight: bold;
}.text_brown {font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;	font-size: 13px;	color: #cc6600;	font-weight: bold;	}