html {
	margin: 0; padding: 0;
}
body {
	margin: 0;
	border: none;
	background-color:#fff;
	font-size: 90%;
}
form {margin: 0.5em 0; }
a { text-decoration: none; }
.vip{
	color: #0000aa;
	font-weight: bold;
}
		
td.data{
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	padding-left: 3px;
}

td.img{text-align: right;}

td.lvl{
	background-color: #000000;
	color: #ffff66;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}
    
tr.g{
	background-color: #eeeeee;
}
tr.w{
	background-color: #ffffee;
}

.note{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.in{font-size: 10px;}

input{font-size: 10px;}
textarea{font-size: 11px;}
