/*
the stylesheet for the new malls
comment freely to help in reusability and maintenance
*/

body
{
	background-color: white;
}

div#mall_list_wrap
{
        background-color:#bed0ef;
}

div#outerWrap	/* the box containing it all... so we can center the content as a whole on the page */
{
	width: 760px;
	margin-right:auto;
	margin-left:auto;
}

/* a div tag that contains the top of the page */
.xm_page_head
{
	white-space: nowrap;
	margin-bottom: 0.5em;
}

/* the container of the category/vendor nav and the focus content */
table.xm_main
{
	clear: both;
}

table.xm_main tfoot td
{
	padding-top:1em;
}

/* currently a td, but regardless, this container contains all our page specific content, ie. search results, index page, etc. */
td#main_content
{
/* this is a temp style for identifying the container */
	border:1px solid #bed0ef;
	vertical-align:top;
}

/* currently the left side td column that holds the navigation elements */
td#nav_container
{
	border-right:1px solid navy;
	vertical-align:top;
	width:20%;
}

form#KeywordSearch
{
	margin-top:1em;
	margin-bottom:1em;
}
#KeywordSearchLabel, #OfflineStoresLabel, #Search-by-Category, #TopPicksTitle
{
	background-color: #bed0ef;
	font-weight:bold;
	padding: .2em;
	padding-left: .5em;
	font-size:85%;
}


a#Search-by-Category, a#TopPicksLink {  /* our link on the page to activate the rest of the system */
        display:block;
        text-decoration: none;
        color:black;
	white-space: nowrap;
}

a#Search-by-Category:hover, a#TopPicksLink:hover { color: red; }

div.xm_copyright
{
	margin-top: 2em;
	width: 50%;
	border-top: 1px solid #eef;
	padding: 3px;
}

/*special purpose tags for use when precisely formatting the freehand extended RP/PP descriptions for the storeInfoFeed */
span.points_rp
{
	margin-left:.1em;
}
span.points_pp_label
{
	margin-left:1em;
}
span.points_pp
{
	margin-left:.1em;
}

/* we are using divs to contain the javascript generated banners from CJ, however, we don't really want block elements */
.CjJsBanner
{
	display:inline;
}