hr { color: Navy; }
a {
	text-decoration: underline;
	color: #FFFFFF;
}

a:hover {
	text-decoration: underline;
	color: #33FF00;}


a.a {
	text-decoration: underline;
	color: #0033CC;
}

a.a:hover {
	text-decoration: underline;
	color: #CC3300;}
	a.b {
	text-decoration: none;
	color: #333333;
}

a.b:hover {
	text-decoration: none;
	color: #339900;}
