body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: transparent;
}
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #474747;
}
.Text_Content {	
    line-height: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #474747;
}
.Text_Content_bold { font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #474747;
}
.Text_Content_heighlight {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #A35912;
	text-transform: uppercase;
	font-weight:bold;
}
a {
	font-size: 12px;
}
a:link {
	color: #FFFFFF;
	font-weight:bold;
	height: 15px;
	text-decoration: none;
}
a:visited {
	color: #FFFFFF;
	font-weight:bold;
		height: 15px;
	text-decoration: none;
}
a:hover {
	color: #666666;
	font-weight:bold;
		height: 15px;
	text-decoration: underline;
}
a:active {
	color: #FFFFFF;
	font-weight:bold;
		height: 15px;
	text-decoration: none;
}

.mail {
	font-size: 10px;
}
.mail:link {
	color: #FFFFFF;
	font-weight:bold;
    line-height: 17px;
	text-decoration: none;
}
.mail:visited {
	color: #FFFFFF;
	font-weight:bold;
    line-height: 17px;
	text-decoration: none;
}
.mail:hover {
	color: #BFBFBF;
	font-weight:bold;
    line-height: 17px;
	text-decoration: underline;
}
.mail:active {
	color: #FFFFFF;
	font-weight:bold;
    line-height: 17px;
	text-decoration: none;
}

.TextField {border-color: #CCCCCC;
background-color: #FFFFFF;
border-style: solid;
border-width: 1px;
color: #666666;
font-family: verdana;
font-size: 12px;
}

.hButton {background-color: #224C9B;
border-color: #CCCCCC;
border-style: solid;
border-width: 1px;
color: #FFFFFF;
font-size: 12px;
font-family: verdana;
font-weight: lighter;
}

.pageContent {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	margin-bottom: 15px;
	height: 20px;
	line-height: 25px;	
}
.pageContentBold {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	margin-bottom: 15px;
	height: 20px;
	line-height: 25px;
	font-weight:bold;	
}
.nav_header {
	font-size: 12px;
}
.nav_header:link {
	color: #FFFFFF;
	font-weight:bold;
    line-height: 17px;
	text-decoration: none;
}
.nav_header:visited {
	color: #FFFFFF;
	font-weight:bold;
    line-height: 17px;
	text-decoration: none;
}
.nav_header:hover {
	color: #BFBFBF;
	font-weight:bold;
    line-height: 17px;
	text-decoration: underline;
}
.nav_header:active {
	color: #FFFFFF;
	font-weight:bold;
    line-height: 17px;
	text-decoration: none;
}
.itelic{	
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #224C9B;
    font-style: italic;
}
.header{	
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #999999;
	font-weight:bold;
    font-style: italic;
	line-height: 30px;
}
.style2 {	
	font-size: 12px;
	color: #666666;
}
.style3 {
	font-size: 12px;
	font-family: verdana;
	color: #A91B07;
	font-weight:bold;
}
.footer {
	color: #666666;
	font-size: 9px;
}
.footer_bold {
	color: #666666;
	font-size: 9px;
	font-weight:bold;
}
.style5 {
	font-size: 12px;
	font-weight: bolder;
	color: #000000;
}
.style6 {
	color: #990033;
	font-size: 17px;
	font-weight: bold;
}
.style7 {
	font-size: 12px;
	color: #A41303;
	font-weight:bold;
	line-height:30px;
	letter-spacing:0.1em;
	font-family: verdana;
	border-bottom-style: solid;
	border-bottom-color: #017AD2;
	border-bottom-width: thin;
}
.style8 {
	font-size: 30px;
	color: #A41303;
	font-weight:bold;
	line-height:30px;
	letter-spacing:0.25em;
	font-family: verdana;
	border-bottom-style: solid;
	border-bottom-color: #017AD2;
	border-bottom-width: thin;
}
.Header_Main {
	font-size: 11px;
	color: #977339;
	font-weight:bold;
	line-height:20px;
	letter-spacing:0.2em;
	font-family: verdana;
	text-transform: uppercase;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	border-bottom-width: thin;
}
.style10 {
	font-size: 13px;
	font-family: verdana;
	color: #0099FF;
	font-weight:bold;
}
.style11 {
	font-size: 12px;
	font-family: verdana;
	color: #0099FF;
	font-weight:bold;
}
.style12 {
	font-size: 15px;
	font-family: verdana;
	color: #224C9B;
	font-weight:bold;
}
.style13 {
	font-size: 12px;
	font-family: verdana;
	color: #FFFFFF;
	font-weight:bold;
}
.sub_header_white_ndent {
	font-size: 12px;
	font-family: verdana;
	color: #FFFFFF;
	font-weight:bold;
	padding-left: 15px;
}
.style14 {
	font-size: 12px;
	font-family: verdana;
	color: #224C9B;
	font-weight:bold;
}
.style15 {
	font-size: 12px;
	font-family: verdana;
	color: #224C9B;
	font-weight:bold;
}
.style16 {
	font-size: 12px;
	font-family: verdana;
	color: #999999;
	font-weight:bold;
	letter-spacing:0.1em;
}
.style17 {
	font-size: 10px;
	font-family: verdana;
	color: #224C9B;
	font-weight:bold;
	letter-spacing:0.1em;
	line-height: 17px;
}
.TextTitle {
	border-color: #DADADA;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	color: #666666;
	font-size: 8pt;
	font-family: verdana;
	width: 222px;
}
.TextBox {
	border-color: #E8E8E8;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	color: #666666;
	font-size: 8pt;
	font-family: verdana;
	width: 350px;
	height: 70px;
	}
.PartyHeader {
	font-size: 18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #009933;
	font-weight: bold;
}
.PartyFooter {
	font-size: 18px;
	font-family: Times New Roman, Times, serif;
	color: #FF0000;
	font-weight: bold;
}
.Red {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FF0000;
	font-weight: bold;
}
.style19 {color: #FF0000}

.style20 {
	color: #83A8D2;
	font-size: 14px;
	font-weight: bold;
}
.style21 {color: #2A5588}

.menutitle{
cursor:pointer;
}
.submenu{
	background-color:#BDD1E8;
	width: 196px;
	border: 1px dashed #006699;
	padding: 4px;
}
.submenuPages{
	background-color:#BDD1E8;
	width: 196px;
	border: 1px dashed #006699;
	padding: 4px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
.style24 {
	font-size: 12px;
	font-weight: bold;
	color: #2A5588;
}
.style25 {font-weight: bold}

.airport_bases {
	background-color: #EFE9DC;
	color: #635237;
	font-family: verdana;
	font-size: 11px;
	border: 1px solid #999999;
	width: 120px;
}	
.ContactForm_TextField {
    border-color: #977339;
	background-color: #EFE9DC;
	color: #563B0E;
	font-family: verdana;
	font-size: 8pt;
	border: 1px solid #999999;
	width: 210px;
}
.ContactForm_button_submit {
    background-color: #977339;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    font-size: 9px;
    font-family: verdana;
    font-weight: normal;		
}
.ContactForm_TextBox {
    border-color: #977339;
	background-color: #EFE9DC;
	color: #563B0E;
	font-family: verdana;
	font-size: 8pt;
	border: 1px solid #999999;
	width: 300px;
	height: 90px;
}
.ContactForm_Mail_Options{
    color: #563B0E;
    font-size: 10px;
    font-family: verdana;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing:0.1em;
}
.nav_footer_blue:link {
    font-size: 9px;
	color: #00529E;
	text-decoration: none;
}
.nav_footer_blue:visited {
    font-size: 9px;
	color: #00529E;
	text-decoration: none;
}
.nav_footer_blue:hover {
    font-size: 9px;
	color: #CCCCCC;
	text-decoration: underline;
}
.nav_footer_blue:active {
    font-size: 9px;
	color: #00529E;
	text-decoration: none;
}
.nav_footer_grey:link {
    font-size: 10px;
	color: #666666;
	text-decoration: none;
}
.nav_footer_grey:visited {
    font-size: 10px;
	color: #666666;
	text-decoration: none;
}
.nav_footer_grey:hover {
    font-size: 10px;
	color: #CCCCCC;
	text-decoration: underline;
}
.nav_footer_grey:active {
    font-size: 10px;
	color: #666666;
	text-decoration: none;
}
.nav_footer_static_page {
    font-size: 9px;
	color: #00529E;
	text-decoration: underline;
	font-weight: bold;
}
.footer_copyright {	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #999999;
}

.nav_footer_brown:link {
    font-size: 11px;
	color: #A35912;
	text-decoration: underline;
}
.nav_footer_brown:visited {
    font-size: 11px;
	color: #A35912;
	text-decoration: underline;
}
.nav_footer_brown:hover {
    font-size: 11px;
	color: #CCCCCC;
	text-decoration: none;
}
.nav_footer_brown:active {
    font-size: 11px;
	color: #A35912;
	text-decoration: underline;
}
.nav_footer_white:link {
    font-size: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
.nav_footer_white:visited {
    font-size: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
.nav_footer_white:hover {
    font-size: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #CCCCCC;
	text-decoration: underline;
}
.nav_footer_white:active {
    font-size: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFFFFF;
	text-decoration: none;
}



.header {
	font-size: 12px;
	color: #00529E;
	padding-left: 20px;
	font-weight: bold;
	line-height: 44px;
}
.text_blue {
	font-size: 12px;
	color: #00529E;
}
.text_brown {
	font-size: 12px;
	color: #A35912;
}
.text_green {
	font-size: 12px;
	color: #399539;
	font-weight: bold;
}
.nav_footer:link {
	color: #FFFFFF;
	font-size: 9px;
	text-decoration: underline;
	font-weight: normal;
}
.nav_footer:visited {
	color: #FFFFFF;
	font-size: 9px;
	text-decoration: underline;
	font-weight: normal;
}
.nav_footer:hover {
	color: #999999;
	font-size: 9px;
	text-decoration: none;
	font-weight: normal;
}
.nav_footer:active {
	color: #FFFFFF;
	font-size: 9px;
	text-decoration: underline;
	font-weight: normal;
}
.sitemap {
	font-size: 12px;
	font-weight: bold;
	color: #A35912;
}
.nav_sign_white:link {
	color: #FFFFFF;
	font-size: 11px;
	text-decoration: underline;
	font-weight: normal;
    padding-right: 25px;
}
.nav_sign_white:visited {
	color: #FFFFFF;
	font-size: 11px;
	text-decoration: underline;
	font-weight: normal;
	padding-right: 25px;
}
.nav_sign_white:hover {
	color: #FFFFFF;
	font-size: 11px;
	text-decoration: none;
	font-weight: normal;
	padding-right: 25px;
}
.nav_sign_white:active {
	color: #FFFFFF;
	font-size: 11px;
	text-decoration: underline;
	font-weight: normal;
	padding-right: 25px;
}
/* Bullets */
UL {
	LIST-STYLE-IMAGE: url(../../images/icons/icon_arrow.png); VERTICAL-ALIGN: super; 
}


/* START  CSS Document for SERVICES TABS*/
#tablist{
padding: 3px 0;
margin-left: 0;
margin-bottom: 0;
margin-top: 0.1em;
font: bold 12px Verdana;
}
#tablist li{
list-style: none;
display: inline;
margin: 0;
}
#tablist li a{
padding: 3px 1.2em;
margin-left: 0px;
border: 1px solid #CCCCCC;
border-bottom: none;
background: #AECAE0;
}
#tablist li a:link {
	color: #AECAE0;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}
#tablist li a:visited {
	color: #AECAE0;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}
#tablist li a:hover {
	color: #001953;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
#tablist li a:active {
	color: #AECAE0;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}
#tablist li a.current{
background-color: #AECAE0;
}
#tabcontentcontainer{
	width: auto;
	/* Insert Optional Height definition here to give all the content a unified height */
padding: 5px;
	border: 1px solid #CCCCCC;
}
.tabcontent{
display:none;
	margin: 5px;
	padding: 5px;
}
/* END  CSS Document for SERVICES TABS*/


.footer_divider {
	font-size: 12px;
	font-weight: bold;
	color: #3E9F40;
}
.page_header_white_normal {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FFFFFF;
	padding-left: 20px;
	font-weight: normal;
	padding-left: 15px;
}
.page_header_white_bold {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FFFFFF;
	padding-left: 20px;
	font-weight: bold;
	letter-spacing:0.1em;
}
.nav_footer_black:link {
    font-size: 12px;
	color: #000000;
	text-decoration: underline;
}
.nav_footer_black:visited {
    font-size: 12px;
	color: #000000;
	text-decoration: underline;
}
.nav_footer_black:hover {
    font-size: 12px;
	color: #CCCCCC;
	text-decoration: none;
}
.nav_footer_black:active {
    font-size: 12px;
	color: #000000;
	text-decoration: underline;
}
.image_left_padding {
padding-left: 10px;
padding-bottom: 10px;
}
.nav_footer_white_padding:link {
    font-size: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
.nav_footer_white_padding:visited {
    font-size: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
.nav_footer_white_padding:hover {
    font-size: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #CCCCCC;
	text-decoration: underline;
}
.nav_footer_white_padding:active {
    font-size: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
