/* Football Theme CSS */

/* ********* ********* ********* ********* ********* 
BODY STYLES
Here we add styles for the BODY background and padding
and we can define styles for the hyperlinks
to make sure there are visible
*/
body { background-color: #ffffff; }
A:link { }
A:visited { }
A:hover { }
A:active{ }

/* ********* ********* ********* ********* ********* 
These styles supply the global styles for the
calendar container, the headers, the Prev and Next
month selectors, the individual weekdays, the date
number and finally individual events
*/
.scCalendar { padding: 10px; }
.scHeader { font: bold 10pt verdana; background-color: transparent; color: #000000; padding: 5px; }
.scMonthDropdown { width: 150px; }
.scYearDropdown { width: 150px; }
.scSelector { font: bold 14pt verdana; }
.scFilter { font: bold 10pt verdana; background-color: transparent; color: #000000; padding: 5px; }
.scWeekNumber { font: bold 10pt verdana; color: #000000; padding: 5px; }
.scWeekday { font: 8pt verdana; height: 100%; overflow: hidden;}
.scEvent { padding: 2px; }
.scToday { font: bold 9pt verdana; }
.scPopup { position: absolute; top: 100px; left: 100px; width: 500px; height: 500px; border: 5px solid #336699; background-color:#336699; color: #ffffff; text-align: right; display:none; }

/* ********* ********* ********* ********* ********* 
WEEKDAY STYLES
These classes handle the style for an entire date
based on Past, Present or Future
NOTE: These values will be overridden by identical style elements in scWeekday
*/
.scDateDead { }
.scDatePast { }
.scDateCurrent { }
.scDateFuture { }

/* ********* ********* ********* ********* ********* 
EVENT STYLES
These classes handle the Background and Foreground
colors for individual events
NOTE: These values will be overridden by identical style elements in scEvent
*/
.scEventRed { color: #ff0000; }
.scEventOrange { color: #cc6600; }
.scEventYellow { color: #aaaa00; }
.scEventGreen { color: #009900; }
.scEventBlue { color: #336699; }
.scEventPurple { color: #cc00cc; }
.scEventBlack { color: #000000; }

.scEventColor1 { background-color: #00cc00; }
.scEventColor2 { background-color: #cccc00; }

/* ********* ********* ********* ********* ********* 
DATE NUMBER STYLE
This class applies to the date number in a cell
*/
.scNumber { font: bold 9pt verdana; color: #000000; }

/* ********* ********* ********* ********* ********* 
HANDLER STYLE
These classes are used by the scHandlr.js
*/
.sconMouseOver { }
