body {background-color: #FFFFFF; color: black;}
td {border-width: 0; padding: 0;}
td#banner {border-bottom: 2px solid #0033CC;}
td#main {
	background-color: transparent;
	color: black;
	padding: 1em;
	font-family: Verdana, Arial, san-serif;
	font-size: 80%;
	vertical-align:top;
}
td#main p {margin: 1em 2.5em;}
td#main h2 {
	font: bold 100% Verdana,sans-serif;
	color: #003399;
	margin: 0.5em 1em;
	padding: 0;
	border-bottom: 1px solid #003399;
	vertical-align:top;
}
td#sidelinks
{
	vertical-align: top;
	border-right: 1px solid #245923;
	width: 200px;
}

td#sidelinks a
{
	display: block;
	margin: 0 3px 0 0;
	padding: 1px 10px 1px 5px;
	text-decoration: none;
	font-family:  Arial,Helvetica,sans-serif;
	font-size: 80%;
	color: #000;
	border-right: 3px solid white;
}

td#sidelinks a:visited
{
	color: Green;
	border-right: 3px solid white;
}

td#sidelinks h4
{
	background-color: #CCDAFF;
	color: #000000;
	margin: 0 3px 0 0;
	padding: 0.8em 0.2em 0 0.2em; 
	font-family:  Arial,Helvetica,sans-serif;
	border-bottom: 1px solid #0033CC;
	font-size: 80%
}
td#sidelinks a:hover {
	background-color: #D9ECFF;
	color: #003399;
	border-right: 3px solid #00CC00;
	font-family : Arial,Verdana, Geneva, Helvetica, sans-serif;
}
span.hd
{
	padding: 0 0.3em 0 1em;
	font-weight: bold;
}