body {
	font-size: 100%;
	background-color: white;
	color: black;
}

h5 {
	font-family: Verdana, Arial, sans-serif;
	font-size: 120%;
	font-weight: bold;
	color: #003399;
	margin-bottom: 3px;
}
 h2 {font-family: Verdana, Arial, sans-serif;
 font-size: 80%;
 font-weight: bold;
 }
h1{
	font-family: Verdana, Arial, sans-serif;
 font-size: 80%;
 font-weight: bold;
 color: #003399;
 }
 sub{
	font-family: Verdana, Arial, sans-serif;
 font-size: 100%;
 font-weight: bold;
 color: #0066CC;
  }
  p { font-family: Verdana, Arial, sans-serif;
  font-size:100%;}
  
   hr{color:#003399;  }
  
p.a{ font-family: Verdana, Arial, sans-serif;
  font-size:80%;
  color: #006600;
  
  }
 p.d{ font-family: Verdana, Arial, sans-serif;
 font-size: 80%;
 color: #003399; }


a: link{text-decoration: underline;
    color: green;
}
a:hover {
    text-decoration: underline;
    color: green;
}

dt { 
	font-family: Verdana, Arial, sans-serif;
  	font-size:80%;
	color: #060;
	font-weight:bold;
}

  dd.a{
	font-family: Verdana, Arial, sans-serif;
 font-size: 80%;
 font-weight: bold;
 color: #003399;
 }
dd{font-family: Verdana, Arial, sans-serif;
  	font-size:80%;
	}
		
ol{font-family: Verdana, Arial, sans-serif;
  	}
li{font-family: Verdana, Arial, sans-serif;
  	font-size: 100%;}
	li.a{  	list-style-type : square;}
  	
div{font-family: Verdana, Arial, sans-serif;
  	font-size:100%;
  	}
td.subhead{ font-family: Verdana, Arial, sans-serif;
  	font-size:80%;  }
	
tr.c{ font-family: Verdana, Arial, sans-serif;
  	font-size:80%;  }
tr.e{
	font-family: Verdana, Arial, sans-serif;
	font-size: 100%;
	font-weight: bold;
	color: #003399;
	border: thin Blue;
	
}
 
table.x{
	font-family: Verdana, Arial, sans-serif;
	font-size: 80%;
	color: #003399;

}
 table.y{
	font-family: Verdana, Arial, sans-serif;
	font-size: 100%;
	border: thin #003399 1px;
}
td.g{ font-family: Verdana, Arial, sans-serif;
 font-size: 80%;
 font-weight: bold;
 color: #003399; }
table.calcs {
	border: thin solid #0066CC;
	width: 300px;
	
}
tr.calcs { border: thin solid #0066CC;
font-family: Verdana, Arial, sans-serif;
font-size: 100%;
text-align: center;
 }
	
table.benefits{
	border: thin dotted #0066CC;
	width: 480px;

}
td#sidelinks a {
	display: block;
	margin: 0 3px 0 0;
	padding: 1px  5px 1px 5px;
	text-decoration: underline;
	font: normal smaller Arial, Verdana, sans-serif;
	color: Black;
	background: transparent;
}
td#sidelinks {
	vertical-align: top;
	border-right: 1px solid #0033CC;
	width: 167px;
}
td#sidelinks h4 {background-color: #CCDAFF; color: #000000;
   margin: 0 3px 0 0; padding: 1em 0 0; 
   font: bold  small Arial, Verdana, sans-serif ;
   border-bottom: 1px solid #0033CC;
   }
   td#sidelinks a:hover {
	background-color: #F0F4FF;
	color: #330099;
	border-right: 7px solid #99FF33;
	padding-right: 7px;
	margin-right: 0;
	height : auto;
}
