<%@LANGUAGE="JAVASCRIPT" CODEPAGE="CP_ACP"%>
<html>
<head>
<title>A Taproot</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
<div align="center"><img src="http://www.clubshop.com/vip/ebusiness/images/taproot_view1.gif" width="75" height="198"> 
</div>

<p align="center"><A HREF="javascript:self.close();"><font face="Arial, Helvetica, sans-serif" size="1">Close 
  this Window</font></A></p>
</body>
</html>
