/*
the stylesheet for the xmall
comment freely to help in reusability and maintenance
*/

body
{
	background-color: white;
	font-size: 90%;
}

/* this is currently 05.06 a div tag that contains the top of the page */
.xm_page_head
{
	white-space: nowrap;
	margin-bottom: 0.5em;
}

/* the container of the category/vendor nav and the focus content */
table.xm_main
{
	clear: both;
}

table.xm_main td { vertical-align: top }

/* currently 05.06 this is a simple table that contains the mall selection navigation */
.navigate_malls
{
	border-collapse: separate;
	border-spacing: 0 2px;
}

.navigate_malls td
{
	padding: 0.2em 1em;
	background-color: #DBE0EF;
}

/* the container for the vendors that will show up on the left of a category page */
table.vendors
{
	border-collapse: separate;
	border: 0;
}

/* currently 05.06 the table cell holding the category name at the top of the vendor list */
td#xm_category_name
{
	color: black;
	background-color: white;
	text-align: center;
	border: 1px solid #c33;
}

/* the cells holding the category or vendor links */
table.vendors td
{
	border-spacing: 0px 2px;
	background-color: navy;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	border: 0;
	padding: 0.2em 0.4em;
	white-space: nowrap;
}

/* the category name cells */
table.vendors td.xm_category_name
{
	color: black;
	background-color: white;
	text-align: center;
	border: 1px solid #c33;
}

/* the spacer cells between 'category' names and links */
table.vendors td.xm_category_spacer
{
	background-color:white;
	border: 0;
	font-size: 6px;
}

table.vendors a
{
	color: white;
}

table.vendors a:hover
{
	color: yellow;
}

div.xm_vname
{
}

div.xm_vrp, div.xm_mrp, div.xm_pp
{
	font-size: 80%
}

div.xm_copyright
{
	margin-top: 2em;
	width: 50%;
	border-top: 1px solid #eef;
	padding: 3px;
}

/* these icons are currently (07/26/06) unused */
img.icon_mp
{
	background-color: white;
	border: 0;
	margin-right: 3px;
}

/* the 'column' where banners are placed on the category pages */
td#catpage_banner_col {}
td#catpage_banner_col img { border: 1px solid white; }
td#catpage_banner_col a:hover img
{
	border: 1px solid blue;
	background-color: #efe;
}