 
    /* 
	
		CSS Document

		Club Shop Merchant Print Page 
		Revised: 03/22/2011
		Author: L.Montanez


	*/
	
	body {
		margin: 10px;
		background: #fff;	
		
	}
	
	div.search_container, div.keyword_container, input.print_button, div.introduction, tr.heading_two, .coupon , .info_icon, hr{
		display: none;
	}


	table#print_container div.report_container{
		float:left;
	/*	width: none; */
		height: auto;
		max-height: none;
		line-height: 15px;
		width: 100%;
	}

	table#print_container div.report_container ul li{
		display: block;
	}
	
	table#print_container div.report_container li{		
		float:left;
		width: 33%;	
		clear: right;
		height: 100pt;
	}