
h1, h2
{
	margin: 0;
	padding: 0;
}

h1 a, h1 a:link, h1 a:visited
{
	cursor: default;
	text-decoration: none;
	color: #224C9B;
}

div.search_container
{
	width: 210px;
	float: left;
	padding-left: 4px;
	padding-top: 10px;
}

div.report_container
{
	float:right;
	width: 550px;
	padding-right: 50px;
	max-height: 400px; 
	overflow: auto;
	line-height: 15px;
}

div.scrollingSelected a, div.scrollingSelections a, div.scrollingSelections a:link, div.scrollingSelections a:visited
{
	text-decoration: none;
	color: #666;
}

div.scrollingSelected
{

	width: 200px; 
	border: 1px solid #666;
	padding: 0;
	padding-top: 0px;
	padding-bottom: 0px;
	overflow: auto;
	line-height: 15px;
	text-indent: 4px;
	background-image:url(/images/rewardsdirectory/pull_down_bg.png);
	background-repeat:no-repeat;
	background-position: right;
	color: #fff;
}

div.scrollingSelections
{

	height: auto;
	max-height: 200px;
	width: 200px;
	overflow: auto;
	border: 1px solid #666;
	border-top: 0px solid #666;
	padding: 0;
	display: none;
	line-height: 15px;
	text-indent: 4px;
}

td.heading_two_row
{
	background-image: url(/images/bg/bg_header-orange-923x23.png);
	background-color: #FCA641;
	padding: 0;
}

p.clear
{
	clear: both;
	height: 0;
	margin: 0;
	padding: 0;
} 

div.search_container > ul, div.report_container > ul, div.scrollingSelections > ul
{
	/* padding-left: 0px; */
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

div.search_container > ul
{
	line-height: 16px;
}

div.search_container > ul > li
{

	padding-left:35px;
	padding-bottom:10px; 
	border-bottom: 1px solid #fcbf12;
	background-repeat:no-repeat;
	background-position: 0px 0px;
	margin-top: 10px;
	width: 220px;
}

div.scrollingSelections > ul > li
{
	margin:0px;
	padding:0px;
	padding-left:0px;
	background-repeat:no-repeat;
	background-position:0px 0px;
	cursor: default;
}


div.scrollingSelections > ul li.selected, div.scrollingSelections > ul li.selected > a
{
	color: #FFFFFF;
	background-color: #3875d7;
}

div.search_container > ul li.country_search
{
	background-image:url(/images/btn/btn_1.png);
}

div.search_container > ul li.country_search div.select_a_country, div.search_container > ul li.province_search div.select_a_province, div.search_container > ul li.city_search div.select_a_city
{
	cursor: pointer;
/*	cursor: hand; */
}

div.search_container > ul li.country_search div.select_a_country2
{
	cursor: pointer;
/*	cursor: hand; */
}

div.search_container > ul li.province_search
{
	background-image:url(/images/btn/btn_2.png);
}

div.search_container > ul li.city_search
{
	background-image:url(/images/btn/btn_3.png);
	border-bottom: 0px none #fcbf12;
}

div.report_container .city
{
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: #EF8003;
	text-decoration: underline;
	font-weight: bold;
	padding-bottom: 15px;
}

div.report_container .category
{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #00529E;
	font-weight: bold;
	padding-bottom: 10px;
}

div.report_container .name
{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	padding-bottom: 15px;
}

div.report_container .name a
{
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	padding-bottom: 15px;
	text-decoration: underline;
}

div.report_container .coupon
{
	float:right;
	padding-right: 10px;
}

div.report_container ul li hr
{
	color:#fcbf12;
	width: 99%;
	margin-left: 0px;
}

div.report_container ul li p.extra_information
{
	display: none;	
}

div.report_container .address1
{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	padding-top: 10px;
}

div.report_container .phone
{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
}

div.report_container .blurb
{
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #00529E;
	padding-top: 10px;
	padding-bottom: 0px;
	width: 250px;
}

div.report_container .discount
{
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #EF8003;
	font-weight: bold;
}

div.report_container .info_icon
{
	border: none 0;
	cursor: pointer; 
/*	cursor: hand;  */

}

div.report_container input.print_button
{
	float:right;
	margin-top: 2px;
/*	margin-right: 20px; */
}


div.keyword_container ul
{
	padding-left: 0px;
	padding-top: 7px;
}

div.keyword_container ul li
{
	margin:0px;
	list-style-type: none;
	padding:0px;
	padding-left:0px;
	background-repeat:no-repeat;
	background-position:0px 0px;
}

input.registration_textbox
{
	background-color:#FFFFFF;
	border:1px solid #999;
	color:#666;
	font-family:verdana;
	font-size:8pt;
	width:210px;
}
