@CHARSET "UTF-8";

.iconactivity {
	
}

.iconactivity a {
	margin: 0px auto;
}

.iconactivity a:link {
	background: url("common/images/iconactivity.png");
	width: 69px;
	height: 70px;
	display: block;
}

.iconactivity a:visited {
	background: url("common/images/iconactivity.png");
	width: 69px;
	height: 70px;
	display: block;
}

.iconactivity a:hover {
	background: url("common/images/iconactivityh.png");
	width: 69px;
	height: 70px;
	display: block;
}

.iconactivity a:active {
	background: url("common/images/iconactivity.png");
	width: 69px;
	height: 70px;
	display: block;
}

.icongene {
	
}

.icongene a {
	margin: 0px auto;
}

.icongene a:link {
	background: url("common/images/icongene.png");
	width: 69px;
	height: 70px;
	display: block;
}

.icongene a:visited {
	background: url("common/images/icongene.png");
	width: 69px;
	height: 70px;
	display: block;
}

.icongene a:hover {
	background: url("common/images/icongeneh.png");
	width: 69px;
	height: 70px;
	display: block;
}

.icongene a:active {
	background: url("common/images/icongene.png");
	width: 69px;
	height: 70px;
	display: block;
}

.iconstats {
	
}

.iconstats a {
	margin: 0px auto;
}

.iconstats a:link {
	background: url("common/images/stats.png");
	width: 69px;
	height: 70px;
	display: block;
}

.iconstats a:visited {
	background: url("common/images/stats.png");
	width: 69px;
	height: 70px;
	display: block;
}

.iconstats a:hover {
	background: url("common/images/statsh.png");
	width: 69px;
	height: 70px;
	display: block;
}

.iconstats a:active {
	background: url("common/images/stats.png");
	width: 69px;
	height: 70px;
	display: block;
}

.icontraining {
	
}

.icontraining a {
	margin: 0px auto;
}

.icontraining a:link {
	background: url("common/images/icontraining.png");
	width: 69px;
	height: 70px;
	display: block;
}

.icontraining a:visited {
	background: url("common/images/icontraining.png");
	width: 69px;
	height: 70px;
	display: block;
}

.icontraining a:hover {
	background: url("common/images/icontrainingh.png");
	width: 69px;
	height: 70px;
	display: block;
}

.icontraining a:active {
	background: url("common/images/icontraining.png");
	width: 69px;
	height: 70px;
	display: block;
}

.iconteam {
	
}

.iconteam a {
	margin: 0px auto;
}

.iconteam a:link {
	background: url("common/images/iconteam.png");
	width: 69px;
	height: 70px;
	display: block;
}

.iconteam a:visited {
	background: url("common/images/iconteam.png");
	width: 69px;
	height: 70px;
	display: block;
}

.iconteam a:hover {
	background: url("common/images/iconteamh.png");
	width: 69px;
	height: 70px;
	display: block;
}

.iconteam a:active {
	background: url("common/images/iconteam.png");
	width: 69px;
	height: 70px;
	display: block;
}

.iconteampage {
	
}

.iconteampage a {
	margin: 0px auto;
}

.iconteampage a:link {
	background: url("common/images/iconteampage.png");
	width: 69px;
	height: 70px;
	display: block;
}

.iconteampage a:visited {
	background: url("common/images/iconteampage.png");
	width: 69px;
	height: 70px;
	display: block;
}

.iconteampage a:hover {
	background: url("common/images/iconteampage.png");
	width: 69px;
	height: 70px;
	display: block;
}

.iconteampage a:active {
	background: url("common/images/iconteampage.png");
	width: 69px;
	height: 70px;
	display: block;
}

.iconincome {
	
}

.iconincome a {
	margin: 0px auto;
}

.iconincome a:link {
	background: url("common/images/iconincome.png");
	width: 69px;
	height: 70px;
	display: block;
}

.iconincome a:visited {
	background: url("common/images/iconincome.png");
	width: 69px;
	height: 70px;
	display: block;
}

.iconincome a:hover {
	background: url("common/images/iconincome.png");
	width: 69px;
	height: 70px;
	display: block;
}

.iconincome a:active {
	background: url("common/images/iconincome.png");
	width: 69px;
	height: 70px;
	display: block;
}

.icons {
	text-align: center;
}

.nav-bar>li>a {
	display: block;
	font-size: 1.5rem;
	padding: 0 12px;
	position: relative;
	text-decoration: none;
}

.gibbs {
	font-weight: bold;
	color: #000066;
}

div.panelpbc {
	padding: 20px 20px 2px 20px;
	background: #C4D7FF;
	background: -moz-linear-gradient(top, #Ffffff 0%, #FFFFFF 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF),
		color-stop(100%, #F4F4F4));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF',
		endColorstr='#F4F4F4', GradientType=0);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	margin: 0 0 20px 0;
	border: 2px solid #336699;
}

td.center {
	text-align: center;
	vertical-align: middle;
}

span.tip {
    font-family: arial,helvetica,sans-serif;
    font-size: x-small;
    font-weight: normal;
}

.tip {
    background: none repeat scroll 0 0 #00376f;
    border-radius: 3px;
    color: #ffffff;
    display: none;
    padding: 10px;
    position: absolute;
    text-align: left;
    width: 20%;
    z-index: 1000;
}

#promo_show_link {
	text-align:center;
	font-size:125%;
	font-weight:bold;
}