/* liScroll styles */

.tickercontainer { /* the outer div with the black border */
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 8px 8px 8px 8px;
    float: left;
    height: 27px;
    margin: 3px 3px 0 0;
    overflow: hidden;
    padding: 0;
    width: 385px;
	left:40px;
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
position: relative;
left: 4px;
top: 8px;
width: 385px;
overflow: hidden;
}
ul.newsticker { /* that's your list */
position: relative;
left: 750px;
font: bold 10px Verdana;
list-style-type: none;
margin: 0;
padding: 0;

}
ul.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding: 0;
background: #fff;
}
ul.newsticker a {
white-space: nowrap;
padding: 0;
color: #ff0000;
font: bold 10px Verdana;
margin: 0 50px 0 0;
} 
ul.newsticker span {
margin: 0 10px 0 0;
} 

/* Grafix styles */

#partnerGrafix{
	 height: 35px;
   	 position: relative;
    	top: -4px;
   	 width: 100%;
	background: rgb(157,213,58);
	background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(157,213,58,1)), color-stop(50%,rgba(161,213,79,1)), color-stop(51%,rgba(128,194,23,1)), color-stop(100%,rgba(124,188,10,1)));
	background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
	background: -o-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
	background: -ms-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
	background: linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 );
	
}

#memberGrafix{
	width: 600px;
	height:35px;
	background: rgb(125,185,232);
	background: -moz-linear-gradient(top, rgba(125,185,232,1) 0%, rgba(32,124,202,1) 49%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,185,232,1)), color-stop(49%,rgba(32,124,202,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(100%,rgba(30,87,153,1)));
	background: -webkit-linear-gradient(top, rgba(125,185,232,1) 0%,rgba(32,124,202,1) 49%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 100%);
	background: -o-linear-gradient(top, rgba(125,185,232,1) 0%,rgba(32,124,202,1) 49%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 100%);
	background: -ms-linear-gradient(top, rgba(125,185,232,1) 0%,rgba(32,124,202,1) 49%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 100%);
	background: linear-gradient(top, rgba(125,185,232,1) 0%,rgba(32,124,202,1) 49%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 );
	
}

.partnerNumBox{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 6px 6px 6px 6px;
    float: left;
    height: 27px;
    margin: 3px 7px 0;
    overflow: hidden;
    padding: 0;
    width: 85px;

}

.mapTitle{
	color: #0A3A33;
	float:left;
    font-size: 1.3em;
	height:32px;
	margin:0px 15px;
    padding: 3px;
    position: relative;
    top: 7px;
	width: 80px;
}

.mapTitle2{
	color: #0A3A33;
    font-size: 1.3em;
    padding: 10px 0 3px 5px;
    position: relative;
    top: 7px;
}

.partnerNumCount{
	font-size: 1.6em;
    float: right;
    padding: 4px;
}

p.time {
    color: #0C0C6C;
    font-size: 1.85em;
    padding-top: 38px;
    text-align: center;
}

.clear{clear:both;}