.blue{background: #001A53;}
.green{background: #245923;}
.white{background: #FFFFFF;}

.logo{background: url("../images/s_logo.jpg") no-repeat; text-indent:-99999px; height:100px; width:100%;}

.push{margin: 20px 0px 0px 0px;}

.tan{background:#D9BD89;}

.date{font-style:italic; color:#A3A3A3;}


.rubytitle{width:100%; height:15px; background:#930B2B;}

.type{font-style:italic; color:#A3A3A3; font-size:0.7em;}

.pinHolder{width:165px; height:60px; margin:0px auto;}

.promotion{background: #FFF; width:100%; height:100%; border: 1px solid #e3e3e3; margin: 3px 0px;}

img.center { display: block; margin-left: auto; margin-right: auto; }

.promoExe{min-width:100%; height: 18px; background:#816947; color:#fff; text-align:center; font-size: .8em; font-weight:bold;}
.promoDiamond{min-width:100%; height: 18px; background:#000; color:#fff; text-align:center; font-size: .8em; font-weight:bold;}
.promoRuby{min-width:100%; height: 18px; background:#930B2B; color:#fff; text-align:center; font-size: .8em; font-weight:bold;}
.promoEmerald{min-width:100%; height: 18px; background:#276327; color:#fff; text-align:center; font-size: .8em; font-weight:bold;}

.promoMember{margin:5px; border-bottom:1px solid #ccc;}

.promoMember a{ color: #001A53; text-decoration:underline;}

.promoMember a:link{ color: #001A53;}

.promoMember a:hover{ color:#CCC;}

.promoName{font-weight:bold;}

#footer{text-align: center; color:#aaa; font-size:0.8em;}

#footer a{ color: white;}

#footer a:link{ color: white;}

#footer a:hover{ color:#FFAC45;}

.bannerJoin{
	box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px; 

	background: #ffaf4b;
	background: -moz-linear-gradient(top,  #ffaf4b 0%, #ff920a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf4b), color-stop(100%,#ff920a));
	background: -webkit-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%);
	background: -o-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%);
	background: -ms-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%);
	background: linear-gradient(top,  #ffaf4b 0%,#ff920a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 );

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    margin: 0 0 20px;
    padding: 20px 20px 2px; 
	color:#001A53;
	}
	
.viewMap{
	box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px; 

	background: #ffaf4b;
	background: -moz-linear-gradient(top,  #ffaf4b 0%, #ff920a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf4b), color-stop(100%,#ff920a));
	background: -webkit-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%);
	background: -o-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%);
	background: -ms-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%);
	background: linear-gradient(top,  #ffaf4b 0%,#ff920a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 );

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    margin: 0 0 20px;
    padding: 20px 20px 2px; 
	color:#001A53;
	}
		
	

.map{width:100%; height:470px;}

.partnerCount{	height: 32px;}

#clockTimer{ background: url("http://www.clubshop.com/images/partner/timerBlank.png") repeat scroll 0 0 transparent; height: 73px; width: 249px; float:right; position:relative; top:-38px;}

.tip {	color: #fff;background:#00376F;	display:none; /*--Hides by default--*/	padding:10px; position:absolute; z-index:1000;	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}

 
/* .nav-bar{
   	background: #ffaf4b !important;
	background: -moz-linear-gradient(top,  #ffaf4b 0%, #ff920a 100%)!important !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf4b), color-stop(100%,#ff920a)) !important;
	background: -webkit-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%) !important;
	background: -o-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%) !important;
	background: -ms-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%) !important;
	background: linear-gradient(top,  #ffaf4b 0%,#ff920a 100%)  !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ) !important; 
	
	
	box-shadow: 0px 2px 5px rgba(0,0,0,0.15) !important;
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.15) !important;
	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.25) !important;
	
	-moz-border-radius-topleft: 0px !important;
	-moz-border-radius-topright: 0px !important;
	-moz-border-radius-bottomright: 10px !important;
	-moz-border-radius-bottomleft: 10px !important;
	-webkit-border-radius: 0px 0px 10px 10px !important;	
	border-radius: 0px 0px 10px 10px !important; 
	
	 margin-top: 0px !important;
   	padding: 0px;
	border: 0px !important;	 

}	

.nav-bar  li a  { color: #141414 !important;}	
	
.nav-bar  li  a:link { color: #141414 !important;}	
.nav-bar  li  a:visted { color: #141414 !important;}		
.nav-bar  li  a:hover { color: #FFFFFF !important;}
.nav-bar  li  a:active { color: #141414 !important; }	 */ 
	
.flyout{
     background: #ffaf4b !important;
	background: -moz-linear-gradient(top,  #ffaf4b 0%, #ff920a 100%)!important !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf4b), color-stop(100%,#ff920a)) !important;
	background: -webkit-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%) !important;
	background: -o-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%) !important;
	background: -ms-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%) !important;
	background: linear-gradient(top,  #ffaf4b 0%,#ff920a 100%)  !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ) !important;

	
	
	box-shadow: 0px 2px 5px rgba(0,0,0,0.15) !important;
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.15) !important;
	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.25) !important;
	-moz-border-radius-topleft: 0px !important;
	-moz-border-radius-topright: 0px !important;
	-moz-border-radius-bottomright: 10px !important;
	-moz-border-radius-bottomleft: 10px !important;
	-webkit-border-radius: 0px 0px 10px 10px !important;
	border-radius: 0px 0px 10px 10px !important; 
	/* margin: 0 0 20px 0 !important;
   	padding: 0px; */	
	z-index:5000;
	
}	
	
.style28 {
    color: #2A85E8;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}
	
	
	
	
	
	
	
	
	
	
	
	