.divp1 {
	margin-top:2em; margin-bottom: .4em;
}
.PLR, .HST, .data, .ctl {
	background-color: #ffe4a8;
}
.PLR { width: 26px; }
.HST { width: 24px; }
.data {
	text-align:right;
	width:83px;
}
.error_alerts { color:red; }
.message_alerts { color:green; }

#mainTbl {
	margin:auto;
	border-collapse:separate;
	border-spacing:1px;
}

#mainTbl th,td {
	padding: 4px;
}

#mpr-subTbl {
	background-color:#fff;
}

ul.m {
	border: 1px solid silver;
	background-color: #ffe;
	padding: 0.3em;
	padding-left: 1.3em;
}
li.m {
	font-family: sans-serif;
	font-size: 75%;
	list-style-image: none;
}
.status_upgraded {color:green;}
.status_active {color:blue;}
.status_inactive {color:red;}
