body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: transparent;
}
.Text_Body_Content {	
    margin-bottom: 15px;
    line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.Header_Main {
	color: #FDBA06;
	font-size: 14pt;
	font-family: verdana;
	font-weight: bold;
	line-height: 30px;
}
.Header_Thank_You {
	color: #FDBA06;
	font-size: 12pt;
	font-family: verdana;
	font-weight: bold;
	line-height: 30px;
}
.Header_Thank_You_No_Height {
	color: #FDBA06;
	font-size: 12pt;
	font-family: verdana;
	font-weight: bold;
}		
.Registration_TextField {
    border-color: #977339;
	background-color: #FFFFFF;
	color: #666666;
	font-family: verdana;
	font-size: 8pt;
	border: 1px solid #999999;
	width: 150px;
}	
.Reregistration_DropMenu {
    border-color: #977339;
	background-color: #FFFFFF;
	color: #666666;
	font-family: verdana;
	font-size: 8pt;
	border: 1px solid #999999;
	width: 152px;
}
.FormField_Bold {	
	font-size: 12px;
	font-weight: bold;
	color: #474747;
}
.Terms_Bold {	
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
.hyperlink_yellow:link {
	color: #FEBC22;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
}
.hyperlink_yellow:visited {
	color: #FEBC22;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
}
.hyperlink_yellow:hover {
	color: #FFCC66;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	text-decoration: none;
}
.hyperlink_yellow:active {
	color: #FEBC22;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	text-decoration: underline;
}
.ra {	
	font-size: 12px;
	font-weight: bold;
	color: #CC0000;
	padding-left: 5px;
}
.field {	
	font-size: 10px;
	font-weight: bold;
	color: #474747;
}
.field_req {
	font-sizeL 10px;
        color: #ff0000;
        font-weight: bold;
        white-space: nowrap;
}
.error {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CC0000;
}
.hyperlink_thankyou:link {
	color: #678D2E;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
}
.hyperlink_thankyou:visited {
	color: #678D2E;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
}
.hyperlink_thankyou:hover {
	color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	text-decoration: none;
}
.hyperlink_thankyou:active {
	color: #678D2E;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	text-decoration: underline;
}

td.input {
	white-space: nowrap;
	vertical-align: bottom;
}

