 .btn{
 	font-size: 10px;
 	font-family: Arial, Helvetica, sans-serif;
 }
 .input{
 	font-size: 10px;
 	font-family: Arial, Helvetica, sans-serif;
 }
 .def{
  	font-size: 10px;
 	font-family: Arial, Helvetica, sans-serif;
 }
.data {
	font:normal 10px arial,helvetica,sans-serif;
}
.ckbox	/* align checkboxes with the text */
{
	vertical-align: text-bottom;
	margin-bottom: 0;
}
