body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #163817;
}
body,td,th {
	font-family: verdana;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}

.Text_Body_Content {	
	margin-bottom: 15px;
	line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.Header_Main {
	color: #FDBA06;
	font-size: 14pt;
	font-family: verdana;
	font-weight: bold;
	line-height: 30px;
}
.Header_Thank_You {
	color: #FDBA06;
	font-size: 12pt;
	font-family: verdana;
	font-weight: bold;
	line-height: 30px;
}
.Header_Thank_You_No_Height {
	color: #FDBA06;
	font-size: 12pt;
	font-family: verdana;
	font-weight: bold;
}		
.Registration_TextField {
    border-color: #977339;
	background-color: #FFFFFF;
	color: #666666;
	font-family: verdana;
	font-size: 8pt;
	border: 1px solid #999999;
	width: 160px;
}	
.Reregistration_DropMenu {
    border-color: #977339;
	background-color: #FFFFFF;
	color: #666666;
	font-family: verdana;
	font-size: 8pt;
	border: 1px solid #999999;
	width: 162px;
}
.FormField_Bold {	
	font-size: 12px;
	font-weight: bold;
	color: #474747;
}
.Terms_Bold {	
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
.hyperlink_yellow:link {
	color: #FEBC22;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
}
.hyperlink_yellow:visited {
	color: #FEBC22;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
}
.hyperlink_yellow:hover {
	color: #FFCC66;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	text-decoration: none;
}
.hyperlink_yellow:active {
	color: #FEBC22;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	text-decoration: underline;
}
.ra {	
	font-size: 12px;
	font-weight: bold;
	color: #CC0000;
	padding-left: 5px;
}
.field {	
	font-size: 12px;
	font-weight: bold;
	color: #474747;
}
.error {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #CC0000;
}
.Text_Green_Bold {
	color: #678D2E;
	font-size: 13px;
	font-family: verdana;
	font-weight: bold;
}
.Text_Green {
	color: #678D2E;
	font-size: 12px;
}
.Text_Orange {
color: #FC6F3F;
font-size: 12px;
}
.Text_Orange_Bold {
font-weight: bold;
color: #FC6F3F; 
font-size: 12px;
}
.Text_Copy_Right_Green {
	color: #001A53;
	font-size: 10px;
}
.Text_Small_Green {
	color: #678D2E;
	font-size: 10px;
}
.Text_Small_Orange {
    font-weight: bold;
	color: #FC6F3F;
	font-size: 10px;
}
.Text_Terms {
	color: #000000;
	font-size: 10px;
}
.Hyperlink_Terms:link {
	color: #000000;
	text-decoration: underline;
}
.Hyperlink_Terms:visited {
	color: #000000;
	text-decoration: underline;
}
.Hyperlink_Terms:hover {
	color: #000000;	
	text-decoration: none;
}
.Hyperlink_Terms:active {
	color: #000000;
	text-decoration: underline;
}
.Hyperlink_Green:link {
    font-family: Arial, Helvetica, sans-serif;
	color: #678D2E;
	text-decoration: underline;
}
.Hyperlink_Green:visited {
	font-family: Arial, Helvetica, sans-serif;
	color: #678D2E;
	text-decoration: underline;
}
.Hyperlink_Green:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #678D2E;	
	text-decoration: none;
}
.Hyperlink_Green:active {
	font-family: Arial, Helvetica, sans-serif;
	color: #678D2E;
	text-decoration: underline;
}
.Hyperlink_Orange:link {
	font-family: Arial, Helvetica, sans-serif;
	color: #FC6F3F;
	text-decoration: underline;
}
.Hyperlink_Orange:visited {
	font-family: Arial, Helvetica, sans-serif;
	color: #FC6F3F;
	text-decoration: underline;
}
.Hyperlink_Orange:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #FC6F3F;	
	text-decoration: none;
}
.Hyperlink_Orange:active {
	font-family: Arial, Helvetica, sans-serif;
	color: #FC6F3F;
	text-decoration: underline;
}
.TextField {border-color: #678D2E;
background-color: #FFFFFF;
border-style: solid;
border-width: 1px;
color: #000000;
font-family: verdana;
font-size: 10px;
}

.hButton {
background-color: #678D2E;
border-color: #666666;
border-style: solid;
border-width: 1px;
color: #FFFFFF;
font-size: 10px;
font-family: verdana;
font-weight: lighter;
}

.Header_Sub_Bold {	
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
.ctl {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	background-color:white;
}
.data {font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size : 12px;
   font-weight: bold;
}
.fp {font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
.n {font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
#iframe_box {position:absolute;
	background-color:white;
/*	padding: 1em;*/
	padding:0;
	border:1px solid silver;
	top: 20px;
	visibility: hidden;
}

/* Bullets */
ul {
	list-style-image: url(/images/icons/icon_round_checkmark.png); vertical-align: super;
}

/* alternating table row colors... rowodd is, of course, the first row */
tr.rowodd {
	background-color: #ffe4a8;
}
tr.roweven {
	background-color: #ffe;
}

#mainTbl {
	border-collapse:separate;
	border-spacing:1px;
}

#mainTbl th,td {
	padding:4px;
}

/* gog - Green On Green */
.gog {
	background-color: #d2e7b4;
	color: #678D2E;
	font-size: 13px;
	font-family: verdana;
	font-weight: bold;
}

/*
 take a block level element, like a form, and make it appear as an inline element
 (in other words it only expands enough to contain the contents instead of filling 100% width)
*/
.form1 {
	background-color:#ffe4a8;
	display:inline;
	padding:5px;
	border:1px solid #ffbc22;
}

/* same styling as .form1 except we leave the display defaulted since Mozilla doesn't render line-breaks well with a block rendered inline */
.form2 {
	background-color:#ffe4a8;
	padding:5px;
	border:1px solid #ffbc22;
}

/* the labels to close the "pop-open" */
.iframe-close {
	text-align:right;
	font-size:9px;
	margin-right:.5em;
}

.y_hairline_with_padding {
	border: 1px solid #ffbc22;
	padding: 10px;
}

.bg-lt-orange {
	background-color: #ffe4a8;
}

.bg-lt-green {
	background-color: #d2e7b4;
}

