#mainTbl {
	margin:auto;
}
.data {
font-family:Arial,Helvetica,sans-serif;
font-size:9pt;
font-weight:normal;
}
.highlite {
background-color:#FFFF99;
font-family:Arial,Helvetica,sans-serif;
font-size:9pt;
font-weight:normal;
}
.confirm {
color:#CC0000;
font-family:Arial,Helvetica,sans-serif;
font-size:9pt;
font-weight:normal;
}
.note {
font-family:Arial,Helvetica,sans-serif;
font-size:8pt;
}
.note_nop {
color:#FF0000;
font-family:Arial,Helvetica,sans-serif;
font-size:8pt;
}
.y_alert {
background-color:#FFFFCC;
font-family:Arial,Helvetica,sans-serif;
font-size:9pt;
font-weight:bold;
padding-left:5px;
}
.blu_alert {
background-color:#CCCCFF;
font-family:Arial,Helvetica,sans-serif;
font-size:9pt;
font-weight:bold;
padding-left:5px;
}
.btn_select_all {
font-size:10px;
}
.btn_cancel {
font-size:10px;
}
.btn_reset {
font-size:10px;
}
.btn_submit {
font-size:10px;
}
