/* the ones sandwiched between the comments are from the original... their usefulness moving forward is questionable */
    td.main{
     font-size: 11pt;
     padding-left: 10px;
    }

    .ad{
     font-size: 9pt;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: normal;
	 color: #ff0000;
    }
	
    .ctl{
     font-size: 9pt;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: normal;
    }

    .fp_r{
     font-size: 10px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: normal;
     color: #ff0000;
    }
/* end of originals */

#mainTbl {
	border-collapse:separate;
	border-spacing:1px;
	margin: 0.3em auto;
}

#mainTbl th,td {
	padding:4px;
}