.ul2 {
	margin: 2px auto;
	padding-top: 1em;
	padding-bottom: 1em;
}

.pad4 {
	padding: 4px;
}

.ul2 a {	/* this is a copy of the Hyperlink_Green class from main.css... this is necessary because the anchor tags are currently embedded in the role system */
	font-family: Arial, Helvetica, sans-serif;
	color: #678D2E;
	text-decoration: underline;
}