
div#newest_merchants_sponsor {
	background-image: url("../../images/thumb/merchant_welcome3.png");
	border-bottom: 0px solid #FFFFFF;
	color: #000000;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	padding: 9px 5px 0px 8px;
	font-size:11px;
	height: 15px;
	width: 155px;
	margin-bottom:10px;
	}
		
	.nice.tabs.vertical dd a:link {}
	
	.nice.tabs.vertical dd a:visited {}
	
	.nice.tabs.vertical dd a:hover {background:#00A6FC; color:#FFF; font-weight:bold;}
		
	.nice.tabs.vertical dd a:active {}
	
