@import url(../../common/css/nav.css);
@import url(../../common/css/slides.css);
/*------------------------------------------------------------------
main.css

Project:		E-Business Institute site 
						www.einstitute.com
						
Version:		1.0
Last change:	01/11/010 
Written by:		Carsten
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
B A S I C
-------------------------------------------------------------------*/

body {
	margin: 0;
	padding: 0;
	font-family: verdana, Arial, Tahoma, sans-serif;
	font-size: 12px;
	line-height: 1.75em;
	color: #fff;
	background: #1C0000 url(../../images/bg/bg_main.png) top center no-repeat; 
	/* rel to stylesheet */
}
.Header_Main {
	font-size: 18px;
	color: #FEA400;
}

#wrapper{
	width:1009px;
	margin:0px auto;
}

#header{
	margin-top:40px;
}

#logIn{
	border: 1px solid green;
	float:right;
	height: 30px;
	position: relative;
	right: 40px;
	
	width: 60px;
}

/*------------------------------------------------------------------
D E S I G N
-------------------------------------------------------------------*/

.Nav_Footer:link {
	color: #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:normal;
	text-decoration: underline;
}
.Nav_Footer:visited {
	color: #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:normal;	
	text-decoration: underline;
}
.Nav_Footer:hover {
	color: #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:normal;
	text-decoration: none;
}
.Nav_Footer:active {
	color: #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:normal;	
	text-decoration: underline;
}
.Footer_CopyRight {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
}
.Header_White_Bold {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:bold;
}
.White_Large_Normal {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight:normal;
}
.Grey_Light_Bold_10 {
	color: #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;
}
.Footer_Grey_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #999999;
	font-weight:bold;
}
.Footer_Grey_Regular {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #999999;
}
.Nav_Footer_Contact:link {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}
.Nav_Footer_Contact:visited {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}
.Nav_Footer_Contact:hover {
	color: #FFCC66;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	text-decoration: none;
}
.Nav_Footer_Contact:active {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	text-decoration: none;
}
.Nav_ShareThis:link {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: none;
}
.Nav_ShareThis:visited {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: none;
}
.Nav_ShareThis:hover {
	color: #FFCC66;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;	
	text-decoration: none;
}
.Nav_ShareThis:active {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;	
	text-decoration: none;
}
/* Bullets */
UL {
	LIST-STYLE-IMAGE: url(../images/icons/icon_bullet_space_1.png);
	VERTICAL-ALIGN: super;
}


.bg_main {
	background-image: url(../images/bg/bg_page_tile.png);
	background-image: no-repeat; 
	background-image:fixed; 
	background-image:center;
}
.Image_bg_Padding {padding-left: 30px;
                   padding-top: 20px;
}
.Table_Text_Padding {
	padding: 30px;
}




.Image_Padding_Left_Login {padding-left: 510px;
}
.Image_Padding_Left {padding-left: 10px;
}
.Image_Padding_Right {padding-right: 15px;
}
.Image_Padding_Top {padding-top: 10px; padding-bottom: 10px;
}	
.Nav_Footer_White:link {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
}
.Nav_Footer_White:visited {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
}
.Nav_Footer_White:hover {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;	
	text-decoration: none;
}
.Nav_Footer_White:active {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
}
.Footer_Nav_Header_Grey_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing:0.1em;
	color: #999999;
	font-weight:bold;
}
.Grey_Large_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #999999;
	font-weight:bold;
}
.Red_Large_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #8C0000;
	font-weight:bold;
}
.Header_Gold_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #666666;
	font-weight:bold;
}
.Header_Gold_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #FEA400;
	font-weight:bold;
}
.Header_Orange_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #C74E02;
	font-weight:bold;
}
.Dark_Grey_Bold_Regular_Text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	font-weight:bold;
}
.Dark_Grey_Bold_Regular_text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing:0.1em;
	color: #666666;
	font-weight:bold;
}
.Header_Red_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #8C0000;
	font-weight:bold;
}
.Red_Bold_Regular_Text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing:0.1em;
	color: #8C0000;
	font-weight:bold;
}
.Brown_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing:0.1em;
	color: #8C0000;
	font-weight:bold;
}
.Green_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #779724;
	font-weight:bold;
}
.Blue_Bold_Regular_Text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing:0.1em;
	color: #1A7BC7;
	font-weight:bold;
}
.Blue_Regular_Text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing:0.1em;
	color: #1A7BC7;
	font-weight:normal;
}
.Blue_Regular_Text_No_Space {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #1A7BC7;
	font-weight:normal;
}
.Blue_Bold_Regular_Text_No_Space {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #1A7BC7;
	font-weight:bold;
}
.Blue_Bold_Regular_Text_Caps {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing:0.1em;
	text-transform:uppercase;
	color: #1A7BC7;
	font-weight:bold;
}
.Blue_Dark_Bold_Regular_Text_Caps {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing:0.1em;
	text-transform:uppercase;
	color: #174497;
	font-weight:bold;
}
.Blue_Dark_Bold_Text_Caps_10 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	letter-spacing:0.1em;
	text-transform:uppercase;
	color: #174497;
	font-weight:bold;
}
.Grey_Bold_Text_Caps {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing:0.1em;
	text-transform:uppercase;
	color: #666666;
	font-weight:bold;
}
.Green_Large_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #779724;
	font-weight:bold;
}
.Nav_Footer_Grey_Light:link {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
	padding-left: 15px;
}
.Nav_Footer_Grey_Light:visited {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
	padding-left: 15px;
}
.Nav_Footer_Grey_Light:hover {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;	
	text-decoration: none;
	padding-left: 15px;
}
.Nav_Footer_Grey_Light:active {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
	padding-left: 15px;
}
.Nav_Footer_Grey_Light_No_Padding:link {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
}
.Nav_Footer_Grey_Light_No_Padding:visited {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
}
.Nav_Footer_Grey_Light_No_Padding:hover {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;	
	text-decoration: none;
}
.Nav_Footer_Grey_Light_No_Padding:active {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
}
.Nav_SubHeader_Grey:link {
	color: #94B92D;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
	line-height: 45px;
}
.Nav_SubHeader_Grey:visited {
	color: #94B92D;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
	line-height: 45px;
}
.Nav_SubHeader_Grey:hover {
	color: #94B92D;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;	
	text-decoration: none;
	line-height: 45px;
}
.Nav_SubHeader_Grey:active {
	color: #94B92D;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
	line-height: 45px;
}
#pscroller1{
	height: 40px;
	padding: 5px;
	padding-left: 15px;
	background-color: #CBEAF8;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CECECE;
	border-bottom-color: #CECECE;
}

.someclass{ //class to apply to your scroller(s) if desired
}
/*Scroller END*/

.Nav_Signin_White:link {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
}
.Nav_Signin_White:visited {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
}
.Nav_Signin_White:hover {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;	
	text-decoration: none;
}
.Nav_Signin_White:active {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
}
.Nav_Signin_Yellow:link {
	color: #FEA400;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	padding-right: 10px;
	padding-left: 10px;
}
.Nav_Signin_Yellow:visited {
	color: #FEA400;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	padding-right: 10px;
	padding-left: 10px;
}
.Nav_Signin_Yellow:hover {
	color: #FEA400;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	padding-right: 10px;
	padding-left: 10px;
}
.Nav_Signin_Yellow:active {
	color: #FEA400;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	padding-right: 10px;
	padding-left: 10px;
}

/*Form Login START*/	
.registration_TextField {
    border-color: #977339;
	background-color: #FFFFFF;
	color: #666666;
	font-family: verdana;
	font-size: 8pt;
	border: 1px solid #999999;
	width: 160px;
}	
.registration_dropmenu {
    border-color: #977339;
	background-color: #FFFFFF;
	color: #666666;
	font-family: verdana;
	font-size: 8pt;
	border: 1px solid #999999;
	width: 189px;
}
/*Form Login END*/	

.Nav_Sitemap:link {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	text-decoration: underline;
}
.Nav_Sitemap:visited {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
}
.Nav_Sitemap:hover {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	text-decoration: none;
}
.Nav_Sitemap:active {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
}
.Nav_Scroller_Green:link {
	color: #779724;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;	
	text-decoration: underline;
	padding-right: 15px;
}
.Nav_Scroller_Green:visited {
	color: #779724;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;	
	text-decoration: underline;
	padding-right: 15px;
}
.Nav_Scroller_Green:hover {
	color: #779724;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;	
	font-weight:bold;	
	text-decoration: none;
	padding-right: 15px;
}
.Nav_Scroller_Green:active {
	color: #779724;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;	
	text-decoration: underline;
    padding-right: 15px;
}
.Nav_Scroller_Green_Regular_11:link {
	color: #054305;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
	padding-right: 15px;
}
.Nav_Scroller_Green_Regular_11:visited {
	color: #054305;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
	padding-right: 15px;
}
.Nav_Scroller_Green_Regular_11:hover {
	color: #054305;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	font-weight:normal;	
	text-decoration: none;
	padding-right: 15px;
}
.Nav_Scroller_Green_Regular_11:active {
	color: #054305;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
    padding-right: 15px;
}
.Nav_Red:link {
	color: #CC0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	text-decoration: underline;
}
.Nav_Red:visited {
	color: #CC0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
}
.Nav_Red:hover {
	color: #CC0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	text-decoration: none;
}
.Nav_Red:active {
	color: #CC0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
}
.Nav_Grey_Spacing_Bold:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #666666;
	font-weight:bold;
	text-decoration: underline;
}
.Nav_Grey_Spacing_Bold:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #666666;
	font-weight:bold;
	text-decoration: underline;
}
.Nav_Grey_Spacing_Bold:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #666666;
	font-weight:bold;
	text-decoration: none;
}
.Nav_Grey_Spacing_Bold:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #666666;
	font-weight:bold;	
	text-decoration: underline;
}	
.Nav_Green_Plain:link {
	color: #779724;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;	
	text-decoration: underline;
}
.Nav_Green_Plain:visited {
	color: #779724;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;	
	text-decoration: underline;
}
.Nav_Green_Plain:hover {
	color: #779724;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	font-weight:bold;	
	text-decoration: none;
}
.Nav_Green_Plain:active {
	color: #779724;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;	
	text-decoration: underline;
}
.g {
	background-color: #E8EFCF;
}
.Nav_Countries:link {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	text-decoration: underline;
}
.Nav_Countries:visited {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
}
.Nav_Countries:hover {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	text-decoration: none;
}
.Nav_Countries:active {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
}
.Nav_Countries_Padding_Red_Left_Bold:link {
	color: #8C0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	padding-left: 20px;
	text-decoration: underline;
}
.Nav_Countries_Padding_Red_Left_Bold:visited {
	color: #8C0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;	
	padding-left: 20px;
	text-decoration: underline;
}
.Nav_Countries_Padding_Red_Left_Bold:hover {
	color: #8C0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	padding-left: 20px;
	text-decoration: none;
}
.Nav_Countries_Padding_Red_Left_Bold:active {
	color: #8C0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;	
	padding-left: 20px;
	text-decoration: underline;
}
.Nav_Countries_Red_Left_Bold:link {
	color: #8C0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	text-decoration: underline;
}
.Nav_Countries_Red_Left_Bold:visited {
	color: #8C0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;	
	text-decoration: underline;
}
.Nav_Countries_Red_Left_Bold:hover {
	color: #8C0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;
}
.Nav_Countries_Red_Left_Bold:active {
	color: #8C0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;	
	text-decoration: underline;
}
.Nav_Blue_Spacing_Bold:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #1A7BC7;
	font-weight:bold;
	text-decoration: underline;
}
.Nav_Blue_Spacing_Bold:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #1A7BC7;
	font-weight:bold;
	text-decoration: underline;
}
.Nav_Blue_Spacing_Bold:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #1A7BC7;
	font-weight:bold;
	text-decoration: none;
}
.Nav_Blue_Spacing_Bold:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #1A7BC7;
	font-weight:bold;	
	text-decoration: underline;
}
.Nav_Footer_Grey_Light_Padding:link {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	padding-left: 15px;
	text-decoration: underline;
}
.Nav_Footer_Grey_Light_Padding:visited {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	padding-left: 15px;
	text-decoration: underline;
}
.Nav_Footer_Grey_Light_Padding:hover {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;	
	padding-left: 15px;
	text-decoration: none;
}
.Nav_Footer_Grey_Light_Padding:active {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	padding-left: 15px;
	text-decoration: underline;
}
