	.menu{
		border:none;
		border:0px;
		margin:0px;
		padding:0px;
		font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
		font-size:14px;
		font-weight:bold;
		}
	.menu ul{
		background-image:url("http://www.clubshop.com/ebusiness/images/nav/menu_link.png");
		height:30px;
		list-style:none;
		margin:0;
		padding:0;
		}
	.menu li{
		float:left;
		padding:0px;
		}
	.menu li a{
		background:url("http://www.clubshop.com/ebusiness/images/nav/menu_link.png") bottom right no-repeat;
		color:#FFFFFF;
		display:block;
		font-weight:normal;
		line-height:30px;
		margin:0px;
		padding:0px 25px;
		text-align:center;
		text-decoration:none;
		}
		.menu li a:hover, .menu ul li:hover a{
			background: url("http://www.clubshop.com/ebusiness/images/nav/menu_hover.png") ;
			color:#FFFFFF;
			text-decoration:none;
			}
			
	.menu li ul{
		background:#A80000;
		display:none;
		height:auto;
		padding:0px;
		margin:0px;
		border:0px;
		position:absolute;
		width:150px;
		z-index:200;
		visibility: visible;
			/*top:1em;
			/*left:0;*/
	}
	.menu li:hover ul{
		display:block;
		
		}
	.menu li li {
		background:#36017 bottom left no-repeat;
		display:block;
		float:none;
		margin:0px;
		padding:0px;
		width:150px;
		}
	.menu li:hover li a{
		background:none;
		
		}
	.menu li ul a{
		display:block;
		height:30px;
		font-size:12px;
		font-style:normal;
		margin:0px;
		padding:0px 10px 0px 15px;
		text-align:left;
		}
		.menu li ul a:hover, .menu li ul li:hover a{
			background:#650000;
			border:0px;
			color:#ffffff;
			text-decoration:none;
			}
	.menu p{
		clear:left;
		}	

		
