@CHARSET "UTF-8";

.larger_blue_bold {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #135FB3;
	font-weight: bold;
}
td.center {text-align:center;
vertical-align: middle;}

td.quals {background-color: #F7F9CC;}
td.qualsend {background-color: #F7F9CC;
border-bottom-width: thin;
	border-top-style: none;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	border-left-style: none;
	border-bottom-style: none;}


td.comm {background-color: #B9E3FF;}
td.commend {background-color: #B9E3FF;
border-bottom-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	border-bottom-style: none;}


.small {font-size: 10px;}

td {
	background-color: #FFFFFF;
	}
	
tr {border-bottom-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCCCCC;}
.blue_bolderest {
color: #005BE9;
	
}

.special{
font-family: Arial, Verdana, sans-serif;
font-size: 18px;
color: #000000;}

.special2{
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
 	color: #2D57B0;
	font-weight: bold;
}
.special4{
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
 	color: #2D57B0;
	font-weight: bold;
}

.special5{
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
 	color: #333333;
	font-weight: bold;
}




.special3{font-family: Arial, Verdana, serif;
font-size: 14px;

}


.specialtitles{font-family: Arial, Verdana, sans-serif;
font-size: 15px;
}
.specialtitles2{font-family: Arial, Verdana, sans-serif;
size: 13px;
}
.tp{color: #666666;}
.tl{color: #F40C29;}
.tc{color: #00008b;}
.bm{color: #A8463D;}
.sm{color: #757575;}
.gm{color: #F4C01B;}
.rd{color: #A8081C;}
.ed{color: #257518;}
.dd{color: #660099;}
.star{color:#bdb150;}
.stars{color:#A4993E;}

.bl {color: navy;}
.grey {color: gray;}
.navy {color: #0066CC;}

.tip {
    background: none repeat scroll 0 0 #00376F;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: none;
    padding: 5px;
    width: 25%;
    text-align:left;
    position: absolute;
    z-index: 200;
}

a.tip_trigger {
	text-decoration: underline;
}
span.tip
{
	font-family: arial,helvetica,sans-serif;
	font-size: x-small;
	font-weight: normal;
}