body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
body,td,th {
	font-family: Arial,Helvetica,sans-serif;;
	font-size: 12px;
	line-height: 20px;
	color: #333333;
}
.Coupon_Value {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
	font-weight: bold;
	font-style:italic;
	color: #212B5E;
} 
.Mechant_Name {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: bold;
	font-style:italic;
	color: #212B5E;
	text-decoration: underline;
} 
.Merchant_Address {
	font-family: Arial,Helvetica,sans-serif;;
	font-size: 14px;
	font-weight: normal;
	color: #212B5E;
} 
.Certificate_Numbers {
	font-family: Arial,Helvetica,sans-serif;;
	font-size: 14px;
	font-weight: bold;
	color: #212B5E;
}