.hide
{
	display: none;
}

.show
{
	display: inline;
}

.registration_TextField
{
	border-color: #977339;
	background-color: #FFFFFF;
	color: #666666;
	font-family: verdana;
	font-size: 8pt;
	border: 1px solid #999999;
	width: 205px;
}

ul
{
	list-style-image: url(/images/icons/icon_checkmark.png);
	vertical-align: super;
}

span.read-more > a:link, span.read-more > a:hover, span.read-more > a:visited, span.read-more > a:active, span.re-collapse > a:link, span.re-collapse > a:hover, span.re-collapse > a:visited, span.re-collapse > a:active
{
	color:#EF8003;
	font-size:12px;
	text-decoration:none;
} 

option[disabled]
 {
 
 	color:#C0C0C0;
 	background-color: #F0F0F0;
 }
 