
* {
    margin: 0;
    padding: 0;
}
html {
    overflow-y: scroll;
}
body {
    background-image: url("http://www.clubshop.com/_affinity/images/design/bg_2.jpg");
    font: 62.5% Helvetica,sans-serif;
}
ul {
    list-style: none inside none;
}
p {
    font-size: 125%;
    padding: 0 5px 10px;
}
a {
    outline: medium none;
}
a img {
    border: medium none;
}
.floatleft {
    float: left;
}
.floatright {
    float: right;
}
.clear {
    clear: both;
}
.transpBlack {
    background: url("transpBlack.png") repeat scroll 0 0 transparent;
}
.td_info {
}
#page-wrap {
    height: 100%;
    margin: 0 auto;
    width: 1000px;
}
#header {
    background-image: url("http://www.clubshop.com/_affinity/images/design/clubshop_01.png");
    height: 108px;
    width: 1000px;
}
#header2 {
    height: 108px;
    width: 880px;
}
#logo {
    background-image: url("http://www.clubshop.com/_affinity/images/design/logo_clubshop_transparent.png");
    float: left;
    height: 43px;
    text-indent: 0;
    width: 490px;
}
#member_links_box {
    float: right;
    height: 65px;
    left: 0;
    position: relative;
    text-indent: 0;
    top: 10px;
    width: 300px;
}
#member_info {
    float: left;
    height: 40px;
    left: 0;
    position: relative;
    text-indent: 0;
    top: 0;
    width: 250px;
}
#member_links {
    color: #FFFFFF;
    float: left;
    height: 16px;
    left: 0;
    position: relative;
    text-indent: 0;
    top: 0;
    width: 250px;
}
#catmenu {
    float: left;
    height: 43px;
    left: 50px;
    position: relative;
    text-indent: 0;
    top: 20px;
    width: 500px;
}
#searchkey {
    float: left;
    height: 17px;
    left: 500px;
    position: relative;
    text-indent: 0;
    top: -18px;
    width: 160px;
}
#not_logged_in {
    float: left;
}
#logged_in {
    float: left;
}
#nav {
    height: 30px;
    left: 142px;
    position: relative;
    text-transform: capitalize;
    top: 16px;
    width: 819px;
}
#country {
    height: 17px;
    left: 80px;
    position: relative;
    top: 20px;
    width: 70px;
}
#flag {
    float: right;
    height: 47px;
    position: relative;
    right: 60px;
    top: 11px;
    width: 136px;
}
#flag2 {
    float: right;
    height: 47px;
    position: relative;
    right: 60px;
    top: 27.5px;
    width: 136px;
}
.member_header {
    color: #FFFFFF;
    font-size: 14px;
    height: 20px;
    left: 80px;
    position: relative;
    top: 50px;
    width: 200px;
}
.main_title {
    color: #FC8B08;
    display: none;
    font-size: 14px;
    height: 20px;
    left: 0;
    position: relative;
    top: 0;
    width: 900px;
}
.go_btn {
    color: #FFFFFF;
    font-size: 14px;
    height: 20px;
    left: 340px;
    position: relative;
    top: -17px;
    width: 40px;
}
#headbar {
    background-image: url("http://www.clubshop.com/_affinity/images/design/clubshop_mall_headbar.png");
    height: 96px;
}
#main {
    background-image: url("http://www.clubshop.com/_affinity/images/design/content_bg.png");
    width: 1000px;
}
#main_content {
    margin: 0 auto;
    text-align: left;
    width: 890px;
}
#bottom_content {
    background-image: url("http://www.clubshop.com/_affinity/images/design/bottom_content.png");
    height: 89px;
    width: 1000px;
}
#footer_top {
    background-image: url("http://www.clubshop.com/_affinity/images/design/clubshop_07.png");
    height: 127px;
    width: 1000px;
}
