body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(http://www.clubshop.com/_affinity/images/bg/bg_2.jpg);
}
body,td,th {
	font-family: Arial,Helvetica,sans-serif;;
	font-size: 12px;
	line-height: 20px;
	color: #333333;
}
.Nav_Footer:link {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:normal;
	text-decoration: underline;
}
.Nav_Footer:visited {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:normal;	
	text-decoration: underline;
}
.Nav_Footer:hover {
	color: #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:normal;
	text-decoration: none;
}
.Nav_Footer:active {
	color: #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:normal;	
	text-decoration: underline;
}
.Footer_CopyRight {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
}
.Header_White_Bold {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:bold;
}
.White_Large_Normal {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight:normal;
}
.Grey_Light_Bold_10 {
	color: #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;
}
.White_Light_Bold_10 {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;
}
.Grey_Light_Regular_11_Italic {
	color: #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style:italic;
}
.Footer_Grey_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
	font-weight:bold;
}
.Footer_Grey_Regular {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
}
.Nav_Footer_Contact:link {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}
.Nav_Footer_Contact:visited {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}
.Nav_Footer_Contact:hover {
	color: #FFCC66;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	text-decoration: none;
}
.Nav_Footer_Contact:active {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	text-decoration: none;
}
.Nav_ShareThis:link {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: none;
}
.Nav_ShareThis:visited {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: none;
}
.Nav_ShareThis:hover {
	color: #FFCC66;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;	
	text-decoration: none;
}
.Nav_ShareThis:active {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;	
	text-decoration: none;
}
/* Bullets */
UL {
/*	LIST-STYLE-IMAGE: url(images/icons/icon_bullet.png); */
	VERTICAL-ALIGN: super;
}
.Image_Padding_Left {padding-left: 10px;
}	
.Nav_Footer_White:link {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
}
.Nav_Footer_White:visited {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
}
.Nav_Footer_White:hover {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;	
	text-decoration: none;
}
.Nav_Footer_White:active {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
}
.Footer_Nav_Header_Grey_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing:0.1em;
	color: #999999;
	font-weight:bold;
}
.Grey_Large_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #999999;
	font-weight:bold;
}
.Red_Large_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #8C0000;
	font-weight:bold;
}
.Blue_Large_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #004A95;
	text-transform: uppercase;
	font-weight:bold;
}
.Blue_Large_Bolder {
	font-family:  Arial, Verdana,Helvetica, sans-serif;
	font-size: 14px;
	color: #004A95;
	text-transform: uppercase;
	font-weight:bold;
}

.Orange_Large_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FC8B08;
	text-transform: uppercase;
	font-weight:bold;
}
.Orange_Large_11 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FC8B08;
	text-transform: uppercase;
	font-weight:bold;
}
.Header_Dark_Grey_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #666666;
	font-weight:bold;
}
.Dark_Grey_Bold_Regular_Text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	letter-spacing:0.1em;
	color: #666666;
	font-weight:bold;
}
.Dark_Grey_Bold_Regular_text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing:0.1em;
	color: #666666;
	font-weight:bold;
}
.Header_Red_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #8C0000;
	font-weight:bold;
}
.Red_Bold_Regular_Text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing:0.1em;
	color: #8C0000;
	font-weight:bold;
}
.Blue_Bold_Regular_Text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing:0.1em;
	color: #00366E;
	font-weight:bold;
}
.Brown_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing:0.1em;
	color: #8C0000;
	font-weight:bold;
}
.Blue_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #001952;
	font-weight:bold;
}
.Green_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #779724;
	font-weight:bold;
}
.Green_Bold_Regular_Text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing:0.1em;
	color: #779724;
	font-weight:bold;
}
.Green_Large_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #779724;
	font-weight:bold;
}
.Nav_Footer_Grey_Light:link {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
	padding-left: 15px;
}
.Nav_Footer_Grey_Light:visited {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
	padding-left: 15px;
}
.Nav_Footer_Grey_Light:hover {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;	
	text-decoration: none;
	padding-left: 15px;
}
.Nav_Footer_Grey_Light:active {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
	padding-left: 15px;
}
.Nav_Footer_Grey_Light_No_Padding:link {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
}
.Nav_Footer_Grey_Light_No_Padding:visited {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
}
.Nav_Footer_Grey_Light_No_Padding:hover {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;	
	text-decoration: none;
}
.Nav_Footer_Grey_Light_No_Padding:active {
	color: #CCCCCC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
}
.Nav_SubHeader_Grey:link {
	color: #94B92D;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
	line-height: 45px;
}
.Nav_SubHeader_Grey:visited {
	color: #94B92D;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
	line-height: 45px;
}
.Nav_SubHeader_Grey:hover {
	color: #94B92D;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;	
	text-decoration: none;
	line-height: 45px;
}
.Nav_SubHeader_Grey:active {
	color: #94B92D;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: underline;
	line-height: 45px;
}
#pscroller1{
	height: 40px;
	padding: 5px;
	padding-left: 15px;
	background-color: #E3F0C1;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CECECE;
	border-bottom-color: #CECECE;
}

.someclass{
	/*class to apply to your scroller(s) if desired*/
}
/*Scroller END*/

.Nav_Signin_White:link {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	padding-right: 15px;
}
.Nav_Signin_White:visited {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	padding-right: 15px;
}
.Nav_Signin_White:hover {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;	
	text-decoration: none;
	padding-right: 15px;
}
.Nav_Signin_White:active {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
    padding-right: 15px;
}
.Nav_Signin_Yellow:link {
	color: #FEDD80;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	padding-right: 15px;
}
.Nav_Signin_Yellow:visited {
	color: #FEDD80;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	padding-right: 15px;
}
.Nav_Signin_Yellow:hover {
	color: #FEDD80;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;	
	text-decoration: none;
	padding-right: 15px;
}
.Nav_Signin_Yellow:active {
	color: #FEDD80;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
    padding-right: 15px;
}

/*Form Login START*/	
.registration_TextField {
    border-color: #977339;
	background-color: #FFFFFF;
	color: #666666;
	font-family: verdana;
	font-size: 8pt;
	border: 1px solid #999999;
	width: 160px;
}	
.registration_dropmenu {
    border-color: #977339;
	background-color: #FFFFFF;
	color: #666666;
	font-family: verdana;
	font-size: 8pt;
	border: 1px solid #999999;
	width: 189px;
}
/*Form Login END*/	

.Nav_Sitemap:link {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	text-decoration: underline;
}
.Nav_Sitemap:visited {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
}
.Nav_Sitemap:hover {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	text-decoration: none;
}
.Nav_Sitemap:active {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
}
.Nav_Scroller_Green:link {
	color: #779724;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;	
	text-decoration: underline;
	padding-right: 15px;
}
.Nav_Scroller_Green:visited {
	color: #779724;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;	
	text-decoration: underline;
	padding-right: 15px;
}
.Nav_Scroller_Green:hover {
	color: #779724;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;	
	font-weight:bold;	
	text-decoration: none;
	padding-right: 15px;
}
.Nav_Scroller_Green:active {
	color: #779724;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;	
	text-decoration: underline;
    padding-right: 15px;
}
.Nav_Scroller_Green_Regular_11:link {
	color: #054305;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
	padding-right: 15px;
}
.Nav_Scroller_Green_Regular_11:visited {
	color: #054305;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
	padding-right: 15px;
}
.Nav_Scroller_Green_Regular_11:hover {
	color: #054305;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	font-weight:normal;	
	text-decoration: none;
	padding-right: 15px;
}
.Nav_Scroller_Green_Regular_11:active {
	color: #054305;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
    padding-right: 15px;
}
.Nav_Red:link {
	color: #CC0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	text-decoration: underline;
}
.Nav_Red:visited {
	color: #CC0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
}
.Nav_Red:hover {
	color: #CC0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	text-decoration: none;
}
.Nav_Red:active {
	color: #CC0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
}
.Nav_Grey_Spacing_Bold:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #666666;
	font-weight:bold;
	text-decoration: underline;
}
.Nav_Grey_Spacing_Bold:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #666666;
	font-weight:bold;
	text-decoration: underline;
}
.Nav_Grey_Spacing_Bold:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #666666;
	font-weight:bold;
	text-decoration: none;
}
.Nav_Grey_Spacing_Bold:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: #666666;
	font-weight:bold;	
	text-decoration: underline;
}	
.Nav_Green_Plain:link {
	color: #779724;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;	
	text-decoration: underline;
}
.Nav_Green_Plain:visited {
	color: #779724;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;	
	text-decoration: underline;
}
.Nav_Green_Plain:hover {
	color: #779724;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	font-weight:bold;	
	text-decoration: none;
}
.Nav_Green_Plain:active {
	color: #779724;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;	
	text-decoration: underline;
}
.g {
	background-color: #E8EFCF;
}
.Nav_Countries:link {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	text-decoration: underline;
}
.Nav_Countries:visited {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
}
.Nav_Countries:hover {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	text-decoration: none;
}
.Nav_Countries:active {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;	
	text-decoration: underline;
}
.Nav_Countries_Padding_Red_Left_Bold:link {
	color: #8C0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	padding-left: 20px;
	text-decoration: underline;
}
.Nav_Countries_Padding_Red_Left_Bold:visited {
	color: #8C0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;	
	padding-left: 20px;
	text-decoration: underline;
}
.Nav_Countries_Padding_Red_Left_Bold:hover {
	color: #8C0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	padding-left: 20px;
	text-decoration: none;
}
.Nav_Countries_Padding_Red_Left_Bold:active {
	color: #8C0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;	
	padding-left: 20px;
	text-decoration: underline;
}
.Nav_Countries_Red_Left_Bold:link {
	color: #8C0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	text-decoration: underline;
}
.Nav_Countries_Red_Left_Bold:visited {
	color: #8C0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;	
	text-decoration: underline;
}
.Nav_Countries_Red_Left_Bold:hover {
	color: #8C0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;
}
.Nav_Countries_Red_Left_Bold:active {
	color: #8C0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;	
	text-decoration: underline;
}
.Jump_Menu_Language {
	background-color: #fca541;
	color: #FFFFFF;
	font-weight:bold;
	font-size: 8pt;
	font-family: verdana;
	width: 120px;
	border: none;
}
.Jump_Menu_Loginn {
	background-color: White;
	color: #FF6300;
	font-weight:bold;
	font-size: 8pt;
	font-family: verdana;
	width: 120px;
	border: none;
}
.Jump_Menu_Mall {
	background-color: #085cb0;
	color: #FFFFFF;
	font-weight:bold;
	font-size: 8pt;
	font-family: verdana;
	width: 140px;
	border: none;
}
.Movie_Header{	
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #999999;
	font-weight:bold;
    font-style: italic;
}
.Movie_Header_Pop{	
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #999999;
	font-weight:bold;
    font-style: italic;
}
.Nav_Login:link {
	color: #FCA640;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;
	padding-left: 10px;
	text-decoration: underline;
}
.Nav_Login:visited {
	color: #FCA640;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;
	padding-left: 10px;
	text-decoration: underline;
}
.Nav_Login:hover {
	color: #FEDD80;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;
	padding-left: 10px;	
	text-decoration: none;
}
.Nav_Login:active {
	color: #FCA640;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;
	padding-left: 10px;
	text-decoration: underline;
}
/*Form START*/	
.hButton {background-color: #224C9B;
border-color: #CCCCCC;
border-style: solid;
border-width: 1px;
color: #FFFFFF;
font-size: 12px;
font-family: verdana;
font-weight: lighter;
}
.Contact_TextField {
    border-color: #977339;
	background-color: #FFFFFF;
	color: #666666;
	font-family: verdana;
	font-size: 8pt;
	border: 1px solid #FFCC66;
	width: 170px;
}	
.registration_TextField_Short {
    border-color: #977339;
	background-color: #FFFFFF;
	color: #666666;
	font-family: verdana;
	font-size: 8pt;
	border: 1px solid #999999;
	width: 220px;
}
/*Contact Form START*/	


/*Rewards Page START*/
.Text_Content_bold { font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #474747;
}
.Text_Content_heighlight {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #A35912;
	text-transform: uppercase;
	font-weight:bold;
}
.Search_TextField {
	background-color:#FFFFFF;
	border:1px solid #999999;
	color:#666666;
	font-family:verdana,sans-serif;
	font-size:12px;
	width: 185px;
	height: 19px;
	vertical-align:middle;
}
li.checkbullet{  
	list-style: url(http://www.clubshop.com/cs/images/icons/icon_checkmark.png); 
	VERTICAL-ALIGN: super; 
	padding-bottom: 5px;
}
.style2 {	
	font-size: 12px;
	color: #666666;
}
.style5 {
	font-size: 12px;
	font-weight: bolder;
	color: #000000;
}
.style12 {
	font-size: 15px;
	font-family: verdana;
	color: #224C9B;
	font-weight:bold;
}
.style13 {
	font-size: 14px;
	font-family: verdana;
	color: #FFFFFF;
	font-weight:bold;
}
.text_orange {
	font-size: 12px;
	font-weight: bold;
	color: #EF8003;
}
.nav_footer_white_padding:link {
    font-size: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
.nav_footer_white_padding:visited {
    font-size: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
.nav_footer_white_padding:hover {
    font-size: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #CCCCCC;
	text-decoration: underline;
}
.nav_footer_white_padding:active {
    font-size: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
.nav_orange:link {
    font-size: 12px;
	color: #EF8003;
	text-decoration: underline;
}
.nav_orange:visited {
    font-size: 12px;
	color: #EF8003;
	text-decoration: underline;
}
.nav_orange:hover {
    font-size: 12px;
	color: #EF8003;
	text-decoration: none;
}
.nav_orange:active {
    font-size: 12px;
	color: #EF8003;
	text-decoration: underline;
}
.nav_blue_line:link {
    font-size: 12px;
	color: #00529E;
	text-decoration: underline;
}
.nav_blue_line:visited {
    font-size: 12px;
	color: #00529E;
	text-decoration: underline;
}
.nav_blue_line:hover {
    font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.nav_blue_line:active {
    font-size: 12px;
	color: #00529E;
	text-decoration: underline;
}
.image_right_padding_only {
padding-right: 10px;
}
.style14 {
	font-size: 12px;
	font-family: verdana;
	color: #224C9B;
	font-weight:bold;
}
.registration_dropmenu {
   border-color: #977339;
background-color: #FFFFFF;
color: #666666;
font-family: verdana;
font-size: 8pt;
border: 1px solid #999999;
width: 210px;
}
.error
{
	background-color: #FFCCCC;
}
.style24 {
	font-size: 12px;
	font-weight: bold;
	color: #2A5588;
}
.Directory_Blue_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #0359b2;
	font-weight:bold;
	padding-left: 9px;
}
.Directory_Blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0359b2;
	font-weight:normal;
}
.Directory_Orange_Bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #fc8740;
	font-weight:bold;
	padding-left: 9px;
}
.Directory_Grey_Underline {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #4a4a49;
	font-weight:normal;
	text-decoration: underline;
	line-height: 20px;
	padding-left: 9px;
}
.Directory_Grey {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #4a4a49;
	font-weight:normal;
	line-height: 16px;
	padding-left: 20px;
	padding-right: 3px;
}

.anchor_login {
	font: bold 85% verdana, sans-serif;
}

.anchor_login:hover {
	color: silver;
}