@charset "UTF-8";

/* SpryMenuBarHorizontal.css - Revision: Spry Preview Release 1.4 */

/* Copyright (c) 2006. Adobe Systems Incorporated. All rights reserved. */

/*******************************************************************************

 LAYOUT INFORMATION: describes box model, positioning, z-order

 *******************************************************************************/

/* The outermost container of the Menu Bar, an auto width box with no margin or padding */
ul#SubMenu.MenuBarHorizontal
{

	font-size: 10px;


}

/* Menu item containers, position children relative to this container and are a fixed width */
ul#SubMenu.MenuBarHorizontal li
{

	width: 170px;
	height: 20px;

}
/* Submenus should appear below their parent (top: 0) with a higher z-index, but they are initially off the left side of the screen (-1000em) */
ul#SubMenu.MenuBarHorizontal ul
{

	width: 170px;
	height: 20px;

}

/* Menu item containers are same fixed width as parent */
ul#SubMenu.MenuBarHorizontal ul li
{
	width: 170px;
	height: 20px;
}


/*******************************************************************************

 DESIGN INFORMATION: describes color scheme, borders, fonts

 *******************************************************************************/


/* Menu items are a light gray block with padding and no text decoration */
ul#SubMenu.MenuBarHorizontal a
{

	background-color: #085CB0;
	padding: 0.3em 0.75em;
	border: 1px solid #FFF;
	height: 14px;

}
/* Menu items that have mouse over or focus have a blue background and white text */
ul#SubMenu.MenuBarHorizontal a:hover, ul#SubMenu.MenuBarHorizontal a:focus
{
	background-color: #085CB0;

}
/* Menu items that are open with submenus are set to MenuBarItemHover with a blue background and white text */
ul#SubMenu.MenuBarHorizontal a.MenuBarItemHover, ul#SubMenu.MenuBarHorizontal a.MenuBarItemSubmenuHover, ul#SubMenu.MenuBarHorizontal a.MenuBarSubmenuVisible
{
	background-color: #00376F;

}

/*******************************************************************************

 SUBMENU INDICATION: styles if there is a submenu under a given menu item

 *******************************************************************************/

/* Menu items that have a submenu have the class designation MenuBarItemSubmenu and are set to use a background image positioned on the far left (95%) and centered vertically (50%) */
ul#SubMenu.MenuBarHorizontal a.MenuBarItemSubmenu
{
	background-image: url(/cs/_includes/SpryAssets/SpryMenuBarDown.gif);

}

/* Menu items that are open with submenus have the class designation MenuBarItemSubmenuHover and are set to use a "hover" background image positioned on the far left (95%) and centered vertically (50%) */
ul#SubMenu.MenuBarHorizontal a.MenuBarItemSubmenuHover
{
	background-image: url(/cs/_includes/SpryAssets/SpryMenuBarDownHover.gif);

}

