@charset "UTF-8";

/* SpryMenuBarHorizontal.css - Revision: Spry Preview Release 1.4 */

/* Copyright (c) 2006. Adobe Systems Incorporated. All rights reserved. */

/*******************************************************************************

 LAYOUT INFORMATION: describes box model, positioning, z-order

 *******************************************************************************/

/* The outermost container of the Menu Bar, an auto width box with no margin or padding */
ul#Languages.MenuBarHorizontal
{

	font-size: 10px;


}

/* Menu item containers, position children relative to this container and are a fixed width */
ul#Languages.MenuBarHorizontal li
{
	padding-right: 0;
	width: 125px;
	height: 20px;
}
/* Submenus should appear below their parent (top: 0) with a higher z-index, but they are initially off the left side of the screen (-1000em) */
ul#Languages.MenuBarHorizontal ul
{
	height: 20px;
}

/* Menu item containers are same fixed width as parent */
ul#Languages.MenuBarHorizontal ul li
{
	height: 20px;
}


/*******************************************************************************

 DESIGN INFORMATION: describes color scheme, borders, fonts

 *******************************************************************************/


/* Menu items are a light gray block with padding and no text decoration */
ul#Languages.MenuBarHorizontal a
{
	background-color: #fca541;
	padding: 0.3em 0.75em;
	border: 1px solid #FFF;
	height: 14px;
	
	font-size: 10px;
	font-family: verdana;
	color: #224C9B;
	font-weight: normal;
}
/* Menu items that have mouse over or focus have a blue background and white text */
ul#Languages.MenuBarHorizontal a:hover, ul#Languages.MenuBarHorizontal a:focus
{
	background-color: #fca541;
}
/* Menu items that are open with submenus are set to MenuBarItemHover with a blue background and white text */
ul#Languages.MenuBarHorizontal a.MenuBarItemHover, ul#Languages.MenuBarHorizontal a.MenuBarItemSubmenuHover, ul#Languages.MenuBarHorizontal a.MenuBarSubmenuVisible
{
	background-color: #FFC120;
}

/*******************************************************************************

 SUBMENU INDICATION: styles if there is a submenu under a given menu item

 *******************************************************************************/

/* Menu items that have a submenu have the class designation MenuBarItemSubmenu and are set to use a background image positioned on the far left (95%) and centered vertically (50%) */
ul#Languages.MenuBarHorizontal a.MenuBarItemSubmenu
{
	background-image: url(/cs/_includes/SpryAssets/SpryMenuBarDownLanguage.gif);
}
/* Menu items that have a submenu have the class designation MenuBarItemSubmenu and are set to use a background image positioned on the far left (95%) and centered vertically (50%) */
ul#Languages.MenuBarHorizontal ul a.MenuBarItemSubmenu
{
	background-image: url(/cs/_includes/SpryAssets/SpryMenuBarRight.gif);
}
/* Menu items that are open with submenus have the class designation MenuBarItemSubmenuHover and are set to use a "hover" background image positioned on the far left (95%) and centered vertically (50%) */
ul#Languages.MenuBarHorizontal a.MenuBarItemSubmenuHover
{
	background-image: url(/cs/_includes/SpryAssets/SpryMenuBarDownHover.gif);

}
/* Menu items that are open with submenus have the class designation MenuBarItemSubmenuHover and are set to use a "hover" background image positioned on the far left (95%) and centered vertically (50%) */
ul#Languages.MenuBarHorizontal ul a.MenuBarItemSubmenuHover
{
	background-image: url(/cs/_includes/SpryAssets/SpryMenuBarRightHover.gif);
}

