body {
	background-color: #245923;
}


p.a{
	background-color: #BFFF80;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight:bold;
	color: Black;
}

.b{
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: bold;
	color: Green;
}
p.c{ font-family: Verdana,Arial, Helvetica, sans-serif;
font-size: smaller;  } 

div{width:450px;
padding-left: 5px;
padding-right: 5px;
background-color: white;

}
p{ font-family: Verdana,Arial, Helvetica, sans-serif;
font-size: smaller;
}
li.a{
	list-style-image: url("/images/icons/icon_arrow.png");
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: smaller;
	padding-bottom : 5px;
}

img{border-width:0;}
