A.ddmenu:link {
	color: #333333;
	text-decoration: none;
}

A.ddmenu:visited {
	color: #333333;
	text-decoration: none;
}

A.ddmenu:active {
	color: #333333;
	text-decoration: none;
}

A.ddmenu:hover {
	color: #0000FF;
	text-decoration: none;
}

TD.ddmenu {
	font-family: Verdana,Arial;
	font-size: 12px;
}

DIV.ddmenu {
	font-family: Verdana,Arial;
	font-size: 12px;
}


