A.menu:link {
	COLOR: #333333; TEXT-DECORATION: none
}
A.menu:active {
	COLOR: #333333; TEXT-DECORATION: none
}
A.menu:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
A.menu:hover {
	COLOR: #0000FF; TEXT-DECORATION: none
}
TD.menu {
font-family: Verdana,Arial;
font-size: 13px;
color: #333333;
}
DIV.menu {
font-family: Verdana,Arial;
font-size: 13px;
color: #333333;
}

