/* -----------------------------------------
   Shared Styles
----------------------------------------- */
.ra
{
	color: red;
}

td._nowrap
{
	white-space:nowrap;
}

td.input select
{
	margin-bottom: 0;	/* to override the foundation.css default bottom margin on selects */
}

div.error
{
	color: red;
}

select
{
	display:inline;	/* for whatever reason the style for selects is set to display block and that is a PITB (pain in the butt) when you want to display other things alongside */
}

p
{
	margin: 1em 0;	/* another example of having to override some kind of nonsense where a bare p tag has no margin and so acts no more like a paragraph than a div ughhh */
}

/* -----------------------------------------
   Step 3 upgrade app
----------------------------------------- */
#pms th
{
	padding:0.2em 0.5em;
	font-weight:bold;
}



/* -----------------------------------------
   Page Name 2
----------------------------------------- */


